Repository SimpleMachines/SMF, pull requests merged in 2018-11, with the labels that each got.

#5132 Added missing comma from SQL
  SSI.php
Labels: Minor Bug

#5127 Upgrade PG refresh sequence values
  other/upgrade_2-1_postgresql.sql
Labels: PostgreSQL, Upgrader

#5173 Correct redirects
  Sources/Subs.php
Labels: Minor Bug, Proxy

#5087 Escapes null character when saving data to the cache
  Sources/CacheAPI-smf.php
Labels: Caching

#5160 Guest searches wouldn't accept reCAPTCHA
  Sources/Search.php
Labels: Search, Visual verification

#5154 Fix the floating issue in keyinfo
  Themes/default/css/index.css
Labels: Theme
