Repository SimpleMachines/SMF, pull requests merged in 2018-08, with the labels that each got.

#4887 Let multi-line selects do their thing
  Themes/default/css/index.css
Labels: Theme

#4830 Some fixes and suggestions
  Sources/Stats.php
  Sources/Subs-Calendar.php
  Sources/tasks/CreatePost-Notify.php
  Themes/default/BoardIndex.template.php
  Themes/default/MessageIndex.template.php
Labels: Language

#4811 Language strings review
  Themes/default/languages/Admin.english.php
  Themes/default/languages/Drafts.english.php
  Themes/default/languages/Editor.english.php
  Themes/default/languages/Errors.english.php
  Themes/default/languages/Help.english.php
  Themes/default/languages/Install.english.php
  Themes/default/languages/Login.english.php
  Themes/default/languages/ManageBoards.english.php
  Themes/default/languages/ManageCalendar.english.php
  Themes/default/languages/ManageMaintenance.english.php
  Themes/default/languages/ManageMembers.english.php
  Themes/default/languages/ManagePaid.english.php
  Themes/default/languages/ManagePermissions.english.php
  Themes/default/languages/ManageScheduledTasks.english.php
  Themes/default/languages/ManageSettings.english.php
  Themes/default/languages/ModerationCenter.english.php
  Themes/default/languages/Modlog.english.php
  Themes/default/languages/PersonalMessage.english.php
  Themes/default/languages/Post.english.php
  Themes/default/languages/Profile.english.php
  Themes/default/languages/Reports.english.php
  Themes/default/languages/Search.english.php
  Themes/default/languages/Stats.english.php
  Themes/default/languages/Themes.english.php
  Themes/default/languages/Who.english.php
  Themes/default/languages/index.english.php
Labels: Language

#4850 Remove remnants of UTF-8 menu items from ManageMaintenance
  Sources/ManageMaintenance.php
  Themes/default/Admin.template.php
  Themes/default/ManageMaintenance.template.php
Labels: Housekeeping

#4776 Upgrader Smiley Issues - Fixes #4773
  Smileys/fugue/afro.png
  Smileys/fugue/angel.png
  Smileys/fugue/angry.png
  Smileys/fugue/azn.png
  Smileys/fugue/blank.png
  Smileys/fugue/cheesy.png
  Smileys/fugue/cool.png
  Smileys/fugue/cry.png
  Smileys/fugue/embarrassed.png
  Smileys/fugue/evil.png
  Smileys/fugue/grin.png
  Smileys/fugue/huh.png
  Smileys/fugue/index.php
  Smileys/fugue/kiss.png
  Smileys/fugue/laugh.png
  Smileys/fugue/lipsrsealed.png
  Smileys/fugue/police.png
  Smileys/fugue/rolleyes.png
  Smileys/fugue/sad.png
  Smileys/fugue/shocked.png
  Smileys/fugue/smiley.png
  Smileys/fugue/tongue.png
  Smileys/fugue/undecided.png
  Smileys/fugue/wink.png
  Themes/default/languages/Install.english.php
  other/install_2-1_mysql.sql
  other/install_2-1_postgresql.sql
  other/upgrade.php
  other/upgrade_2-0_mysql.sql
  other/upgrade_2-0_postgresql.sql
  other/upgrade_2-1_mysql.sql
  other/upgrade_2-1_postgresql.sql
Labels: Upgrader

#4880 Bbc removal
  SSI.php
  Sources/Load.php
  Sources/Subs-Attachments.php
  Sources/Subs.php
  other/upgrade_2-1_mysql.sql
  other/upgrade_2-1_postgresql.sql
Labels: BBC, Database, Upgrader

#4900 Align js with tags
  other/upgrade.php
Labels: JavaScript, Theme

#4902 Added db_port and db_mb4 supprt to the upgrade fixes #4901
  other/upgrade.php
Labels: Database, Upgrader

#4903 Repair smileys settings
  Themes/default/languages/Install.english.php
  other/upgrade_2-1_mysql.sql
  other/upgrade_2-1_postgresql.sql
Labels: Upgrader

#4905 Remove allowedTo calls from templates
  Themes/default/ManagePaid.template.php
  Themes/default/Profile.template.php
Labels: Housekeeping

#4915 Fix the layout of the Edit Poll screen
  Themes/default/Poll.template.php
Labels: Theme

#4907 Fix visual brokenness of the Ignore Boards profile area
  Themes/default/Profile.template.php
  Themes/default/Search.template.php
  Themes/default/css/index.css
  Themes/default/css/responsive.css
Labels: Theme

#4744 [WIP] Fixes spell check
  Themes/default/scripts/jquery.sceditor.smf.js
Labels: Editor, JavaScript

#4916 [WIP] Slight cleanup of CSS
  Themes/default/css/index.css
Labels: Theme

#4923 i18n upgrader fixes for time
  Themes/default/languages/Install.english.php
  other/upgrade.php
Labels: Language

#4947 responsiveness plus minor fixes
  Sources/PersonalMessage.php
  Themes/default/Recent.template.php
  Themes/default/css/index.css
  Themes/default/css/responsive.css
Labels: Theme

#4927 PM Search sync and css fix.
  Themes/default/PersonalMessage.template.php
  Themes/default/Search.template.php
  Themes/default/css/index.css
Labels: Theme

#4951 Fix Unwatch Topic not working
  Sources/Notify.php
Labels: Notifications, Topics

#4908 Remove the Flash BBC tag and corresponding admin panel setting
  Sources/ManagePosts.php
  Sources/Subs-Editor.php
  Sources/Subs.php
  Themes/default/languages/Admin.english.php
  Themes/default/languages/Help.english.php
  other/install_2-1_mysql.sql
  other/install_2-1_postgresql.sql
  other/upgrade_1-0.sql
Labels: BBC

#4922 Lots of fixes for the admin panel
  Themes/default/Admin.template.php
  Themes/default/ManageCalendar.template.php
  Themes/default/ManageLanguages.template.php
  Themes/default/ManageMembergroups.template.php
  Themes/default/ManageMembers.template.php
  Themes/default/ManageNews.template.php
  Themes/default/ManagePaid.template.php
  Themes/default/ManagePermissions.template.php
  Themes/default/ManageScheduledTasks.template.php
  Themes/default/ManageSearch.template.php
  Themes/default/ManageSmileys.template.php
  Themes/default/Packages.template.php
  Themes/default/Register.template.php
  Themes/default/Reports.template.php
  Themes/default/Themes.template.php
  Themes/default/css/admin.css
  Themes/default/css/responsive.css
Labels: Housekeeping, Theme

#4953 PMs, Alerts & few GenericLists Responsiveness adjustments
  Themes/default/GenericList.template.php
  Themes/default/PersonalMessage.template.php
  Themes/default/Profile.template.php
  Themes/default/css/index.css
  Themes/default/css/responsive.css
Labels: Theme

#4957 Remove unused wireless.png file
  Themes/default/images/post/wireless.png
Labels: Housekeeping

#4846 Alert Moderator if the sticky/lock actions have been taken already
  Sources/Display.php
  Sources/Topic.php
  Themes/default/languages/Errors.english.php
Labels: Moderation

#4968 Restores YouTube BBC to parse_bbc()
  Sources/Subs.php
Labels: BBC

#4973 Center mlist post count and minor responsiveness fixes
  Sources/Memberlist.php
  Themes/default/Memberlist.template.php
  Themes/default/css/index.css
  Themes/default/css/responsive.css
Labels: Theme

#4794 cte support added for board index
  Sources/Subs-BoardIndex.php
  Sources/Subs-Db-mysql.php
  Sources/Subs-Db-postgresql.php
Labels: Database

#4822 Faster topic index Fixes #4820
  Sources/MessageIndex.php
Labels: Database, Enhancement
