Repository SimpleMachines/SMF, pull requests merged in 2018-10, with the labels that each got.

#5021 align db string escaping between pg and mysql fixes #5019
  Sources/Subs-Db-mysql.php
  Sources/Subs-Db-postgresql.php
Labels: Database

#5010 Uses smarter logic to decide whether to show the message icon for a post
  Themes/default/Display.template.php
Labels: Topics

#5037 Improvements to the language editor
  Sources/ManageLanguages.php
  Themes/default/ManageLanguages.template.php
  Themes/default/languages/Help.english.php
  Themes/default/languages/ManageSettings.english.php
  Themes/default/languages/index.english.php
Labels: Language

#4727 Added Join Permission System for query_see_board_join
  Sources/Subs-Boards.php
  Sources/Subs.php
  other/install_2-1_mysql.sql
  other/install_2-1_postgresql.sql
  other/upgrade_2-1_mysql.sql
  other/upgrade_2-1_postgresql.sql
Labels: Boards, Permissions

#5046 Install change grp to id_group fixes #5045
  other/install_2-1_mysql.sql
  other/install_2-1_postgresql.sql
Labels: Installer

#5050 Remove the mobile hidden class
  Sources/ManageMembers.php
  Sources/ManageSettings.php
  Themes/default/css/responsive.css
Labels: Theme

#5085 Revert "Update index.css"
  Themes/default/css/index.css
Labels: Theme

#5078 use js to generate qr fixes #5000
  Sources/Class-TOTP.php
  Sources/Profile-Modify.php
  Themes/default/Profile.template.php
  Themes/default/scripts/qrcode.js
Labels: JavaScript, Login/Sessions

#5104 Assume a denial if permissions have not been loaded yet
  Sources/Security.php
Labels: Permissions, Tweak
