Repository SimpleMachines/SMF, pull requests merged in 2018-12, with the labels that each got.

#5179 Yahoo Messenger is dead...
  Themes/default/css/index.css
  Themes/default/images/yahoo.png
  other/install_2-1_mysql.sql
  other/install_2-1_postgresql.sql
  other/upgrade_2-1_mysql.sql
  other/upgrade_2-1_postgresql.sql
Labels: Enhancement

#5201 Lang tweak
  Themes/default/languages/ManageMail.english.php
Labels: Language

#5213 Pg Upgrade: Value is not a key
  other/upgrade_2-0_postgresql.sql
Labels: PostgreSQL, Upgrader

#5130 Language fixes
  Themes/default/languages/EmailTemplates.english.php
Labels: Language

#5191 set $dif var
  Sources/Class-Graphics.php
Labels: Minor Bug

#5223 Fix editor width & height attributes lost values in FireFox
  Themes/default/scripts/jquery.sceditor.smf.js
Labels: Editor

#5121 Handle Attachments without exentsion fixes #5116
  Sources/ShowAttachments.php
Labels: Attachments

#5240 Fix $last_id in mysql fixes #5234
  Sources/Subs-Db-mysql.php
Labels: Minor Bug, MySQL, Regression

#5260 Added $context to loadAttachmentContext globals fixes #5256
  Sources/Subs-Attachments.php
Labels: Attachments

#5270 Readme.html file Revision
  other/readme.html
Labels: Housekeeping, Theme

#5258 Upgrader replace one ssi_db_user with ssi_db_passwd fixes #5254
  other/upgrade.php
Labels: Upgrader

#5261 Added ; to drafts fixes #5249
  Themes/default/scripts/drafts.js
Labels: JavaScript, Minor Bug

#5269 Properly set the holidays
  other/install_2-1_mysql.sql
  other/install_2-1_postgresql.sql
  other/upgrade_2-1_mysql.sql
  other/upgrade_2-1_postgresql.sql
Labels: Calendar

#5241 Use the right string concatenation fixes #5238
  Sources/Subs-Db-mysql.php
Labels: Minor Bug, MySQL

#5296 Added DB prefix on upgrade fixes #5295
  other/upgrade_2-1_mysql.sql
  other/upgrade_2-1_postgresql.sql
Labels: Database, Upgrader

#5298 Handle add answer click event for dynamically added questions
  Sources/ManageSettings.php
Labels: Anti-spam, JavaScript

#5294 Fixes problems with load_lang_file() in upgrader; also makes most strings in upgrader localizable
  Themes/default/languages/Install.english.php
  other/install.php
  other/upgrade.php
Labels: Language, Upgrader

#5302 Substitute for array_column() for php 5.4
  other/upgrade-helper.php
  other/upgrade_2-1_mysql.sql
  other/upgrade_2-1_postgresql.sql
Labels: Upgrader
