Repository SimpleMachines/SMF, pull requests merged in 2018-07, with the labels that each got.

#4808 Update paid subcription UI to accommodate decimal values.
  Themes/default/ManagePaid.template.php
Labels: Paid Subs

#4809 Update help text for custom profile fields
  Themes/default/languages/Help.english.php
Labels: Profile Fields

#4823 Missing comma
  Sources/Subs-Post.php
Labels: Minor Bug

#4807 Address problem with upgrading http forum via https - fixes #4790
  other/upgrade.php
Labels: Upgrader

#4813 More css fixes
  Sources/ManageAttachments.php
  Sources/Subs-Package.php
  Themes/default/Admin.template.php
  Themes/default/Calendar.template.php
  Themes/default/Help.template.php
  Themes/default/ManageAttachments.template.php
  Themes/default/ManageBans.template.php
  Themes/default/ManageBoards.template.php
  Themes/default/ManageCalendar.template.php
  Themes/default/ManageLanguages.template.php
  Themes/default/ManageMail.template.php
  Themes/default/ManageMaintenance.template.php
  Themes/default/ManageMembergroups.template.php
  Themes/default/ManageMembers.template.php
  Themes/default/ManageNews.template.php
  Themes/default/ManagePaid.template.php
  Themes/default/ManagePermissions.template.php
  Themes/default/ManageSearch.template.php
  Themes/default/ManageSmileys.template.php
  Themes/default/ModerationCenter.template.php
  Themes/default/MoveTopic.template.php
  Themes/default/Packages.template.php
  Themes/default/PersonalMessage.template.php
  Themes/default/Post.template.php
  Themes/default/Profile.template.php
  Themes/default/Register.template.php
  Themes/default/ReportedContent.template.php
  Themes/default/Reports.template.php
  Themes/default/SplitTopics.template.php
  Themes/default/Stats.template.php
  Themes/default/Themes.template.php
  Themes/default/Who.template.php
  Themes/default/css/admin.css
  Themes/default/css/calendar.css
  Themes/default/css/index.css
  Themes/default/css/report.css
  Themes/default/css/rtl.css
  ssi_examples.php
Labels: Theme

#4835 Can't use affected_rows on a select statement
  Sources/Search.php
Labels: Minor Bug

#4791 Installer/upgrader templates revision - part 1
  other/install.php
  other/upgrade.php
Labels: Installer, Theme, Upgrader

#4814 Fixes #4624
  Sources/PersonalMessage.php
Labels: Tweak

#4819 Less logic better result for alert
  Sources/Profile-View.php
Labels: Notifications

#4828 Add proper classes to memberlist and generic_lists.
  Themes/default/GenericList.template.php
  Themes/default/Memberlist.template.php
Labels: Theme

#4849 Fix Quick Moderation display issues
  Themes/default/scripts/topic.js
Labels: Theme

#4857 Installer/upgrader templates revision - part 2
  Themes/default/css/install.css
  other/install.php
  other/upgrade.php
Labels: Installer, Theme, Upgrader

#4851 Cleanup
  Sources/ManageBans.php
  Themes/default/Admin.template.php
  Themes/default/Display.template.php
  Themes/default/Errors.template.php
  Themes/default/Login.template.php
  Themes/default/ManageAttachments.template.php
  Themes/default/ManageBans.template.php
  Themes/default/ManageBoards.template.php
  Themes/default/ManageLanguages.template.php
  Themes/default/ManageMail.template.php
  Themes/default/ManageMembergroups.template.php
  Themes/default/ManageMembers.template.php
  Themes/default/ManageNews.template.php
  Themes/default/ManagePaid.template.php
  Themes/default/ManagePermissions.template.php
  Themes/default/ManageSearch.template.php
  Themes/default/ManageSmileys.template.php
  Themes/default/Memberlist.template.php
  Themes/default/ModerationCenter.template.php
  Themes/default/Packages.template.php
  Themes/default/PersonalMessage.template.php
  Themes/default/Poll.template.php
  Themes/default/Post.template.php
  Themes/default/Profile.template.php
  Themes/default/Register.template.php
  Themes/default/ReportToMod.template.php
  Themes/default/Reports.template.php
  Themes/default/Search.template.php
  Themes/default/Themes.template.php
  Themes/default/Who.template.php
  Themes/default/css/admin.css
  Themes/default/css/index.css
Labels: Theme

#4859 Merge login session expiration options
  Themes/default/Login.template.php
  Themes/default/languages/index.english.php
Labels: Login/Sessions, Tweak

#4854 Inner Join breaks hooks using the attachment system.
  Sources/ShowAttachments.php
Labels: Attachments

#4853 Fix undefined member_group when using minimal profile
  Sources/Load.php
Labels: Minor Bug

#4845 Remove posting options from search results
  Themes/default/Search.template.php
Labels: Search

#4865 Clean up leftover SQLite settings
  Themes/default/languages/Install.english.php
  other/install.php
Labels: Housekeeping

#4848 Ensure signature image limit don't break the forum
  Sources/Display.php
  Sources/PersonalMessage.php
  Sources/Profile-View.php
Labels: Theme

#4863 Fix login times not being kept on failed logins
  Sources/LogInOut.php
  Themes/default/Login.template.php
Labels: Login/Sessions

#4847 Show newest spider log items at top
  Sources/ManageSearchEngines.php
Labels: Minor Bug

#4879 Replace missing global declarations
  other/install.php
Labels: Installer, Minor Bug

#4873 Fixes hardcoded text strings #4858
  Themes/default/languages/Install.english.php
  other/upgrade.php
Labels: Language
