Repository SimpleMachines/SMF, pull requests merged in 2018-04, with the labels that each got.

#4527 Fix own Theme Select/change fixes #4525
  Sources/Load.php
  Sources/Themes.php
Labels: Boards, Theme

#4660 Impoved menu check for auth
  Sources/Subs.php
Labels: Moderation

#4714 MySQL fix db_native_replace function
  Sources/Subs-Db-mysql.php
Labels: MySQL

#4738 New hook (integrate_movetopic2_end)
  Sources/MoveTopic.php
Labels: Enhancement
