Repository SimpleMachines/SMF, pull requests merged in 2018-06, with the labels that each got.

#4782 Improves layout of profile menu when it contains long words
  Themes/default/css/index.css
Labels: Theme

#4690 Enabled PG convert html entities to utf8
  Sources/ManageMaintenance.php
Labels: PostgreSQL

#4775 Better logic to determine is_read status; makes countChildBoards more efficient.
  Sources/ManageBoards.php
  Sources/Subs-BoardIndex.php
  Themes/default/languages/Help.english.php
  Themes/default/languages/ManageBoards.english.php
  other/install_2-1_mysql.sql
  other/install_2-1_postgresql.sql
  other/upgrade_2-1_mysql.sql
  other/upgrade_2-1_postgresql.sql
Labels: Boards

#4787 Height fix for input type="file" elements
  Sources/Subs-Attachments.php
  Themes/default/css/index.css
Labels: Theme

#4796 Check context before showing the button
  Themes/default/Display.template.php
  Themes/default/MessageIndex.template.php
Labels: Theme

#4788 Raise pg min version to 9.4
  other/install.php
  other/upgrade.php
Labels: PostgreSQL

#4789 Makes language clearer #4699
  Themes/default/PersonalMessage.template.php
  Themes/default/Post.template.php
  Themes/default/languages/Drafts.english.php
  Themes/default/languages/Profile.english.php
Labels: Language

#4792 Allow 1.1 upgrade in MySQL strict mode
  other/upgrade_1-1.sql
Labels: MySQL, Upgrader

#4799 Better pg upgrade sql
  other/upgrade_2-1_postgresql.sql
Labels: PostgreSQL, Upgrader
