Repository SimpleMachines/SMF, pull requests merged in 2018-05, with the labels that each got.

#4743 Fixes logic for showing mobile moderation buttons in topic display
  Themes/default/Display.template.php
Labels: Moderation

#4730 Improves the language file editor
  Sources/ManageLanguages.php
  Themes/default/ManageLanguages.template.php
  Themes/default/languages/Help.english.php
  Themes/default/languages/ManageSettings.english.php
  Themes/default/languages/index.english.php
Labels: Language

#4436 Attachments total amount and size
  Themes/default/languages/Post.english.php
  Themes/default/scripts/dropzone.min.js
  Themes/default/scripts/smf_fileUpload.js
Labels: Attachments

#4770 Adds `timeout: null` to default Dropzone options
  Themes/default/scripts/smf_fileUpload.js
Labels: Attachments, JavaScript

#4772 Looks for fallback images if the expected smiley image is not found
  Sources/Subs.php
Labels: Minor Bug

#4712 Implement postRemoved to all searchapi fixes #3110
  Sources/Class-SearchAPI.php
  Sources/Post.php
  Sources/Search.php
  Sources/SearchAPI-Custom.php
  Sources/SearchAPI-Fulltext.php
  Sources/SearchAPI-Standard.php
  Sources/Subs-Post.php
Labels: Search

#4757 In membersAllowedTo, only checks mod groups for the board in question
  Sources/Subs-Members.php
Labels: Permissions

#4758 Update txt sentence
  Themes/default/languages/ManagePermissions.english.php
Labels: Language
