Repository SimpleMachines/SMF, pull requests merged in 2019-09, with the labels that each got.

#5782 Embedded attachments
  Sources/Class-BrowserDetect.php
  Sources/Load.php
  Sources/ManageAttachments.php
  Sources/ShowAttachments.php
  Sources/Subs-Attachments.php
  Sources/Subs.php
  Themes/default/languages/Admin.english.php
Labels: Attachments, Housekeeping

#5677 Improves the UI for attachment uploads
  Themes/default/Post.template.php
  Themes/default/css/index.css
  Themes/default/languages/Post.english.php
  Themes/default/scripts/smf_fileUpload.js
  Themes/default/scripts/smf_jquery_plugins.js
Labels: Attachments, Theme

#5794 Fixes for paid subscriptions
  Sources/Profile-Actions.php
  Sources/Subscriptions-PayPal.php
  subscriptions.php
Labels: Paid Subs

#5800 Tweak syntax for pg
  other/upgrade_2-1_postgresql.sql
Labels: PostgreSQL, Upgrader

#5803 [pg] Ignore conflict on upgrade calendar settings
  other/upgrade_2-1_postgresql.sql
Labels: Calendar, PostgreSQL, Upgrader

#5807 [pg] Fix pk in topic/board notify
  Sources/Notify.php
Labels: Notifications, PostgreSQL

#5778 Language tweaks
  Sources/ManageLanguages.php
  Sources/tasks/GroupReq-Notify.php
  Themes/default/languages/EmailTemplates.english.php
  Themes/default/languages/Errors.english.php
  Themes/default/languages/Help.english.php
  Themes/default/languages/Install.english.php
  Themes/default/languages/ManagePaid.english.php
  Themes/default/languages/ManagePermissions.english.php
  Themes/default/languages/ManageSettings.english.php
  Themes/default/languages/ModerationCenter.english.php
  Themes/default/languages/Packages.english.php
  Themes/default/languages/index.english.php
  other/upgrade.php
Labels: Language

#5809 Set strtotime() check against false
  Sources/Profile-Modify.php
  Themes/default/languages/Install.english.php
Labels: Minor Bug

#5784 [WIP] Addressing hooks information
  Sources/MessageIndex.php
  Sources/Post.php
  Sources/RemoveTopic.php
Labels: Hooks

#5814 Sets the minimum value for 'posts_require_captcha' to -1
  Sources/ManageSettings.php
Labels: Anti-spam
