Repository SimpleMachines/SMF, pull requests merged in 2019-12, with the labels that each got.

#5892 Error log generates a error
  Sources/ManageErrors.php
Labels: Minor Bug

#5897 Fixes errors with bad IPs
  Sources/Subs.php
Labels: Minor Bug

#5889 Search API fatal error
  Sources/ManageSearch.php
Labels: Search

#5883 Dont clobber defaults
  Sources/Themes.php
  Themes/default/Themes.template.php
  Themes/default/languages/Themes.english.php
  other/install_2-1_mysql.sql
  other/install_2-1_postgresql.sql
  other/upgrade_2-1_mysql.sql
  other/upgrade_2-1_postgresql.sql
Labels: Theme

#5884 New hook - integrate_ini_settings (Session.php)
  Sources/Session.php
Labels: Hooks

#5895 Add some more hooks
  Sources/ManageBans.php
  Sources/Post.php
Labels: Hooks
