Repository SimpleMachines/SMF, pull requests merged in 2019-04, with the labels that each got.

#5564 Change query alias
  Sources/Search.php
Labels: Database, Regression, Search

#5565 Another alias mixup
  Sources/Post.php
Labels: Database, Posting, Regression

#5567 check if current_attachments exists before using it
  Sources/Post.php
  Themes/default/scripts/jquery.sceditor.smf.js
Labels: Editor, JavaScript, Posting

#5487 Theme
  Sources/Load.php
  Sources/ManageBoards.php
  Sources/Subs-Themes.php
  Sources/Themes.php
  Themes/default/Profile.template.php
  Themes/default/Themes.template.php
  Themes/default/scripts/profile.js
Labels: Theme

#5566 Alerts system
  Sources/Profile-View.php
  Sources/tasks/MemberReport-Notify.php
  Themes/default/PersonalMessage.template.php
  Themes/default/Profile.template.php
  Themes/default/css/index.css
  Themes/default/languages/Alerts.english.php
Labels: Notifications, Theme

#5474 Some changes to get normal work of integrate_pre_messageindex hook
  Sources/MessageIndex.php
Labels: Hooks

#5288 Supports editing $txtBirthdayEmails strings in language file editor
  Sources/ManageLanguages.php
  Themes/default/languages/Help.english.php
  Themes/default/languages/ManageSettings.english.php
Labels: Language

#5574 Attach BBC
  Sources/Display.php
  Sources/Errors.php
  Sources/Load.php
  Sources/Profile-View.php
  Sources/ShowAttachments.php
  Sources/Subs-Attachments.php
Labels: BBC

#5576 Add missing lang strings for group premissions report
  Themes/default/languages/Reports.english.php
Labels: Language

#5147 On DB Replace call check if $keys not empty
  Sources/Subs-Db-mysql.php
  Sources/Subs-Db-postgresql.php
Labels: Database

#5591 Removes obsolete 'attributes' element from posting field sub-array
  Sources/Post.php
Labels: Posting

#5592 Correctly handles URLs with non-HTTP schemes in the [url] BBCode
  Sources/Subs-Post.php
Labels: Posting

#5589 Improves functionality of integrate_createAttachment hook
  Sources/Subs-Attachments.php
Labels: Attachments

#5596 The newline character must be encoded in smiley_sets_names
  other/install_2-1_postgresql.sql
Labels: Installer, PostgreSQL

#5586 Improves performance of $url_regex, and makes it shorter overall
  Sources/Subs.php
Labels: BBC

#5579 Proxy
  Sources/ScheduledTasks.php
  proxy.php
Labels: Proxy

#5602 Allows themes to customize CSS for SCEditor
  Sources/Subs-Editor.php
Labels: Editor, Theme

#5600 Fixes some broken logic when adding a language pack
  Sources/ManageLanguages.php
Labels: Language

#5575 Always parses BBC using the recipent's language in email notifications
  Sources/Subs-Post.php
  Sources/Subs.php
  Sources/tasks/CreatePost-Notify.php
Labels: BBC, Notifications

#5627 More hooks
  Sources/ScheduledTasks.php
  Sources/Subs-Members.php
Labels: Hooks
