Repository SimpleMachines/SMF, pull requests merged in 2019-07, with the labels that each got.

#5726 Fixes broken moderator_groups logic in membersAllowedTo()
  Sources/Subs-Members.php
Labels: Permissions

#5717 fix Unapproved admin posts fixes #5690
  Sources/Post.php
Labels: Posting

#5704 Board description
  Sources/ManageBoards.php
  Sources/Subs-BoardIndex.php
  other/upgrade.php
  other/upgrade_2-1_mysql.sql
  other/upgrade_2-1_postgresql.sql
Labels: BBC, Boards

#5735 Cache the value from build_regex
  Sources/Subs.php
Labels: Performance

#5738 Check on PG install standard_conforming_strings Fixes #5737
  Themes/default/languages/Install.english.php
  other/install.php
Labels: PostgreSQL
