Repository SimpleMachines/SMF, pull requests merged in 2019-08, with the labels that each got.

#5747 Fix default value for date in log_activity
  other/install_2-1_mysql.sql
  other/install_2-1_postgresql.sql
  other/upgrade_2-1_mysql.sql
  other/upgrade_2-1_postgresql.sql
Labels: Database, Installer, Upgrader

#5742 Fix missing error messages reducing mail queue
  Sources/ScheduledTasks.php
Labels: Logging

#5739 Fix query error on background task
  Sources/Profile-Modify.php
  Sources/Profile-View.php
Labels: Background tasks

#5754 Take action even if the browser disabled the confirm box
  Themes/default/scripts/script.js
Labels: Notifications

#5759 Small cleanup
  Themes/default/ManageMaintenance.template.php
  Themes/default/Search.template.php
Labels: Housekeeping, Theme

#5761 Fix Two Factor Authentication
  Sources/Load.php
  Sources/Profile-Modify.php
  Sources/Profile.php
Labels: Login/Sessions

#5766 Allow users to change alert settings for group requests
  Sources/Profile-Modify.php
Labels: Membergroups

#5771 Adds additional check for email mask
  Sources/Profile-Modify.php
Labels: Profile Fields

#5740 Remove not more supported mysql hints
  Sources/ManageMaintenance.php
  Sources/ScheduledTasks.php
Labels: Database, MySQL

#5772 Updates jQuery in install.php
  SSI.php
  Sources/Load.php
  cron.php
  index.php
  other/install.php
  other/upgrade.php
  proxy.php
Labels: JavaScript, Standards & Protocols

#5779 Fix issue warning link on topic view
  Sources/Display.php
Labels: Moderation

#5776 Show the correct label in optgroup options (post fields)
  Themes/default/Post.template.php
Labels: Theme

#5781 Misc layout fixes
  Themes/default/Display.template.php
  Themes/default/ManageNews.template.php
  Themes/default/PersonalMessage.template.php
  Themes/default/Post.template.php
  Themes/default/css/admin.css
  Themes/default/css/index.css
Labels: Theme

#5789 Prevents generating duplicate alert counter spans in top menu
  Themes/default/scripts/alerts.js
Labels: JavaScript

#5786 Forces admin to validate session when adding new admins
  Sources/Groups.php
  Sources/Security.php
Labels: Login/Sessions, Membergroups, Permissions

#5783 Sanitizes settings; improves check_cron()
  Sources/Subs.php
  index.php
Labels: Housekeeping
