Repository SimpleMachines/SMF, pull requests merged in 2019-03, with the labels that each got.

#5476 Fix avatar alts
  Sources/Load.php
Labels: Avatars

#5472 Simplifies logic for manage_boards permission giving access to all boards
  Sources/ManageBoards.php
  Sources/ManageMembergroups.php
  Sources/Subs-Boards.php
  Sources/Subs.php
  Themes/default/languages/ManagePermissions.english.php
  other/upgrade_2-1_mysql.sql
  other/upgrade_2-1_postgresql.sql
Labels: Permissions, Upgrader

#5490 Post approval
  Sources/Display.php
  Sources/MessageIndex.php
  Sources/Post.php
  Themes/default/Display.template.php
  Themes/default/Profile.template.php
  Themes/default/css/index.css
  Themes/default/languages/index.english.php
Labels: Permissions, Posting

#5495 Fix PG Settup SQL fixes #5178
  other/install_2-1_postgresql.sql
Labels: PostgreSQL

#5188 Retrieve cache info after caching, not before...
  proxy.php
Labels: Caching, Proxy

#5399 Fix upgrade ipv6 check for pg and do a more passive way of upgrade
  other/upgrade_2-1_mysql.sql
  other/upgrade_2-1_postgresql.sql
Labels: PostgreSQL, Upgrader

#5515 Fix regular members board permission
  Sources/Subs-Boards.php
Labels: Boards

#5529 Check empty on ipconvert fixes #5528
  other/upgrade.php
Labels: Upgrader

#5510 Fixes the query to get smiley codes in html_to_bbc()
  Sources/Subs-Editor.php
Labels: Smileys

#5532 Supress MySQL Connection warnings fixes #5531
  Sources/Subs-Db-mysql.php
Labels: MySQL

#5537 Accepts id_attach or id_thumb in the [attach] BBCode
  Sources/Subs-Attachments.php
Labels: Attachments, BBC

#5442 Js stuff
  Sources/Subs-Editor.php
  Themes/default/languages/Errors.english.php
  Themes/default/scripts/script.js
Labels: Housekeeping, JavaScript, Language

#5522 Fix deleted custom field values
  Sources/Profile-Modify.php
Labels: Profile Fields

#5512 Specifies fopen mode when reading language files
  Sources/Load.php
Labels: Minor Bug

#5513 Correctly sets error when user attempts to post in a redirect board
  Sources/Load.php
Labels: Posting

#5473 Fix split topics - Select posts to split UI
  Sources/SplitTopics.php
  Themes/default/SplitTopics.template.php
  Themes/default/css/index.css
  Themes/default/scripts/script.js
Labels: Moderation

#5491 added query_see_message
  Sources/Likes.php
  Sources/Load.php
  Sources/ModerationCenter.php
  Sources/Post.php
  Sources/PostModeration.php
  Sources/Profile-Actions.php
  Sources/Profile-Modify.php
  Sources/Profile-View.php
  Sources/Search.php
  Sources/ShowAttachments.php
  Sources/Subs.php
  Sources/Who.php
Labels: Database

#5493 Cache allowedTo value
  Sources/Security.php
Labels: Database

#5501 Only set the old url whenever stats are being logged [topic 459730]
  Sources/Subs.php
  index.php
Labels: Logging

#5538 Tweaks to $context['posting_fields']
  Sources/Post.php
  Themes/default/Post.template.php
Labels: Posting, Theme, Tweak

#5405 Bans are no longer logged in the error log
  Sources/ManageSettings.php
  Sources/Security.php
  Themes/default/languages/Admin.english.php
  Themes/default/languages/Help.english.php
  other/install_2-1_mysql.sql
  other/install_2-1_postgresql.sql
  other/upgrade_2-1_mysql.sql
  other/upgrade_2-1_postgresql.sql
Labels: Logging

#5550 Fix CSS load order
  Sources/Subs.php
Labels: Regression, Theme

#5479 calculate offset from timezone in profile
  Sources/Load.php
Labels: Minor Bug

#5500 Fix search highlighting to not mangle/expose some HTML [topic 550840
  Sources/Search.php
Labels: Search

#5482 Show fulltext stats after creating the index
  Sources/ManageSearch.php
Labels: Regression, Search

#5545 Fetch all board permissions once for the attach BBC
  Sources/Subs-Attachments.php
Labels: BBC, Database, Permissions, Topics

#5478 Fixes #5477
  Sources/Display.php
Labels: Topics

#5471 Handles TFA enable/disable menu items consistently in profile menu
  Sources/Profile.php
Labels: Tweak

#5544 Fetch all four board permissions at once in Recent.php
  Sources/MessageIndex.php
  Sources/PostModeration.php
  Sources/Profile-View.php
  Sources/Recent.php
Labels: Permissions

#5551 Fix #4701
  Themes/default/languages/Post.english.php
  Themes/default/languages/index.english.php
Labels: Language, Tweak
