Repository SimpleMachines/SMF, pull requests merged in 2019-11, with the labels that each got.

#5865 Apply attachmentCheckExtensions setting
  Sources/Post.php
Labels: Attachments

#5870 Adds a hook before returning XML output in JavaScriptModify()
  Sources/Post.php
Labels: Hooks, Posting

#5872 Attribute "id" is missing…
  Themes/default/Post.template.php
Labels: Posting

#5876 Clarify timezone setting prompts and help text
  Sources/ManageSettings.php
  Themes/default/languages/Help.english.php
  Themes/default/languages/ManageSettings.english.php
Labels: Calendar, Language
