Repository SimpleMachines/SMF, pull requests merged in 2019-05, with the labels that each got.

#5644 remove casecaded coalesce
  Sources/Profile-Modify.php
Labels: Database

#5648 New hook - integrate_mod_richedit_buttons
  Sources/Load.php
  Sources/Subs-Editor.php
  Themes/default/GenericControls.template.php
  Themes/default/scripts/jquery-3.2.1.min.js
  Themes/default/scripts/jquery-3.4.1.min.js
Labels: Hooks

#5605 Alert glitches fixes
  Sources/tasks/ApprovePost-Notify.php
  Sources/tasks/ApproveReply-Notify.php
  Sources/tasks/Birthday-Notify.php
  Sources/tasks/CreateAttachment-Notify.php
  Sources/tasks/CreatePost-Notify.php
  Sources/tasks/GroupAct-Notify.php
  Themes/default/Profile.template.php
  Themes/default/scripts/alerts.js
Labels: Notifications

#5659 Ensures parse_bbc() has needed info when preparing notification email
  Sources/tasks/CreatePost-Notify.php
Labels: Background tasks, Notifications

#5606 Extra attributes for css/js file elements
  Sources/Load.php
  Sources/Subs.php
Labels: Theme

#5272 Approval confirmation
  Sources/ManageMembers.php
  Sources/Profile-View.php
  Themes/default/languages/EmailTemplates.english.php
  Themes/default/languages/ManageMembers.english.php
Labels: Notifications

#5649 Fixes #5540
  Sources/Profile-View.php
Labels: Notifications

#5654 Fixes a Access-Control-Allow-Origin error with sub domains
  cron.php
Labels: Minor Bug

#5628 Allow \ and ' be part of db pw for pg
  Sources/Subs-Db-postgresql.php
Labels: PostgreSQL

#5424 Force the like index of messages for stat call
  Sources/Stats.php
Labels: Database

#5679 Correctly handles unapproved messages and topics in search results and recent posts
  SSI.php
  Sources/Load.php
  Sources/Recent.php
  Sources/Search.php
  Sources/SearchAPI-Fulltext.php
  Sources/Subs.php
Labels: Moderation, Search

#5613 Retires old entries in log_packages when a package is upgraded.
  Sources/Packages.php
Labels: Package Manager

#5401 Change mods column in members to nullable
  other/upgrade.php
  other/upgrade_2-1_mysql.sql
Labels: Database
