Repository SimpleMachines/SMF, pull requests merged in 2020-03, with the labels that each got.

#6040 Attaches time picker script to correct input
  Sources/Post.php
Labels: Theme

#6041 Whilst parsing BBCode, support pre-2.1 br tag style during whitespace trim
  Sources/Subs.php
Labels: BBC

#6043 Better detect a working temp directory
  Sources/Subs-Admin.php
Labels: Enhancement, Upgrader

#6048 Match dropzone name
  Sources/Post.php
  Themes/default/scripts/smf_fileUpload.js
Labels: Attachments

#6046 Fix missing schema in link
  Themes/default/languages/Help.english.php
Labels: Language

#6051 Missing comma
  other/install_2-1_mysql.sql
Labels: Installer

#6052 Expose cookie
  other/install.php
Labels: Installer

#6053 Add sha256_hash column to log_packages to install.sql and upgrade.sql
  other/install_2-1_mysql.sql
  other/install_2-1_postgresql.sql
Labels: Installer, Package Manager, Upgrader

#6054 Match old error catching block
  Sources/Subs-Admin.php
Labels: Upgrader
