Repository SimpleMachines/SMF, pull requests merged in 2020-01, with the labels that each got.

#5801 Fix typos affecting installer
  other/install.php
Labels: Installer

#5767 Fix registration no access error
  other/upgrade_2-1_mysql.sql
  other/upgrade_2-1_postgresql.sql
Labels: Captcha, Registration

#5714 Honor disable announcement setting
  Sources/ManageNews.php
  Sources/Post.php
  Themes/default/languages/EmailTemplates.english.php
  Themes/default/languages/Help.english.php
Labels: Notifications

#5915 Few more Hooks
  Sources/Subs-Membergroups.php
  Sources/Subs-Post.php
Labels: Hooks

#5829 Improves sanitization in ModifySubscription()
  Sources/ManagePaid.php
Labels: Housekeeping, Paid Subs

#5916 Fixes #5096
  Sources/DbPackages-mysql.php
Labels: MySQL

#5571 Message icon checks enable option
  Sources/Display.php
  Sources/ManageSmileys.php
  Themes/default/languages/ManageSmileys.english.php
Labels: Visual verification

#5827 Language changes from the doc team
  Themes/default/languages/Errors.english.php
  Themes/default/languages/index.english.php
Labels: Language

#5845 Marks alerts about a topic as read when the topic is viewed
  Sources/Display.php
Labels: Notifications

#5886 Fixes #5885
  Themes/default/Display.template.php
  Themes/default/GenericControls.template.php
  Themes/default/PersonalMessage.template.php
  Themes/default/Post.template.php
  Themes/default/css/index.css
Labels: Theme

#5887 Smallfixes
  Themes/default/Errors.template.php
  Themes/default/ManageNews.template.php
  Themes/default/css/index.css
Labels: Theme

#5903 Don't force users who can choose themes to do so.
  Sources/Load.php
Labels: Theme

#5456 Remove use_editor_quick_reply
  Sources/Display.php
  Sources/PersonalMessage.php
  Sources/Post.php
  Sources/Subs-Editor.php
  Themes/default/Display.template.php
  Themes/default/Settings.template.php
  Themes/default/languages/Profile.english.php
  Themes/default/languages/index.english.php
Labels: Editor

#5568 Move edit function to a button on right side
  Themes/default/Themes.template.php
Labels: Theme

#5706 Create user-agent constant SMF_USER_AGENT
  Sources/Class-CurlFetchWeb.php
  Sources/Stats.php
  Sources/Subs.php
  cron.php
  index.php
  other/install.php
  other/upgrade.php
  proxy.php
Labels: Standards & Protocols

#5798 Fix default notification preferences
  Sources/Profile-Modify.php
Labels: Notifications

#5802 Uses "Forever" as the default time option when logging in
  Sources/Load.php
  Sources/ManageServer.php
  Themes/default/languages/index.english.php
  other/install_2-1_mysql.sql
  other/install_2-1_postgresql.sql
Labels: Login/Sessions, Tweak

#5810 Improvements to get_proxied_url() and general proxy handling
  Sources/Load.php
  Sources/Subs.php
Labels: Proxy

#5825 Ensures trackStats() & AddMailQueue() exist before calling in obExit()
  Sources/Subs.php
Labels: Minor Bug

#5840 Assigns quickbutton divs a class instead of an id (prevents conflicts)
  Themes/default/index.template.php
Labels: Theme

#5841 Pm improvements
  Sources/PersonalMessage.php
  Themes/default/PersonalMessage.template.php
  Themes/default/languages/PersonalMessage.english.php
Labels: PM

#5851 Keep order of poll choices consistent
  Sources/Display.php
Labels: Polls

#5852 Improve $helptxt['who_enabled'].
  Themes/default/languages/Help.english.php
Labels: Language

#5854 Make news to respect allow_guestAccess setting
  Sources/Subs.php
Labels: Permissions

#5855 Modify language vars to reflect custom avatar directory change
  Sources/Profile-Modify.php
  Themes/default/languages/Admin.english.php
  Themes/default/languages/Errors.english.php
  Themes/default/languages/Post.english.php
Labels: Avatars, Language

#5857 Make phrasing less awkward
  Sources/Profile-Modify.php
  Themes/default/languages/Profile.english.php
Labels: Language

#5860 Data too long check
  Sources/Profile-Modify.php
  Sources/Subs.php
  Themes/default/languages/Errors.english.php
Labels: Avatars, Database

#5875 Limit unneeded and gives pg grief
  Sources/Drafts.php
Labels: Database, PostgreSQL

#5880 Verification Hooks
  Sources/Subs-Editor.php
Labels: Anti-spam, Editor, Hooks, Posting, Registration

#5896 Dont exceed range
  other/install_2-1_mysql.sql
  other/install_2-1_postgresql.sql
  other/upgrade_2-1_mysql.sql
  other/upgrade_2-1_postgresql.sql
Labels: Database

#5899 PG fix for stats consolidation function
  Sources/ManageSearchEngines.php
  Sources/Subs-Db-postgresql.php
  other/install_2-1_postgresql.sql
  other/upgrade_2-1_postgresql.sql
Labels: Database, PostgreSQL

#5901 Makes sure we don't show an alert counter with a value of zero
  Themes/default/scripts/alerts.js
Labels: JavaScript, Notifications, Tweak

#5904 Merge topics
  Sources/MessageIndex.php
  Sources/SplitTopics.php
  Themes/default/MoveTopic.template.php
Labels: Topics

#5905 Multiple style
  Sources/ManageServer.php
  Themes/default/Admin.template.php
Labels: Theme

#5793 Last HTML bits in text files
  Sources/ManageErrors.php
  Sources/ManageLanguages.php
  Sources/ManageSearchEngines.php
  Sources/ManageServer.php
  Sources/ManageSettings.php
  Sources/Who.php
  Themes/default/Admin.template.php
  Themes/default/Errors.template.php
  Themes/default/Packages.template.php
  Themes/default/PersonalMessage.template.php
  Themes/default/Post.template.php
  Themes/default/Who.template.php
  Themes/default/css/index.css
  Themes/default/languages/ManageMaintenance.english.php
  Themes/default/languages/ManageSettings.english.php
  Themes/default/languages/Packages.english.php
  Themes/default/languages/PersonalMessage.english.php
  Themes/default/languages/Post.english.php
  Themes/default/languages/Who.english.php
Labels: Language

#5701 Moves logout button to profile menu (with fallback for non-JS users)
  Sources/Profile.php
  Sources/Subs.php
  Themes/default/index.template.php
  Themes/default/languages/Profile.english.php
Labels: Theme

#5694 Better handles forum's default timezone in smf_list_timezones()
  Sources/Calendar.php
  Sources/Post.php
  Sources/Profile-Modify.php
  Sources/Subs.php
  Themes/default/Profile.template.php
Labels: Localization

#5844 Adds functionality to remove old alerts after they have been read
  Sources/ManageSettings.php
  Sources/Profile-Modify.php
  Sources/Profile-View.php
  Sources/ScheduledTasks.php
  Themes/default/Profile.template.php
  Themes/default/languages/Help.english.php
  Themes/default/languages/ManageSettings.english.php
  Themes/default/languages/Profile.english.php
  other/install_2-1_mysql.sql
  other/install_2-1_postgresql.sql
  other/upgrade_2-1_mysql.sql
  other/upgrade_2-1_postgresql.sql
Labels: Housekeeping, Notifications

#5554 Fix #5524
  Themes/default/languages/Search.english.php
Labels: Language

#5753 Recalc the unapprovedMembers on deleteMembers fixes #5697
  Sources/Subs.php
Labels: Moderation, Notifications

#5426 Resize the textareas instead of sceditor-container
  Sources/Display.php
  Sources/ManageNews.php
  Sources/PersonalMessage.php
  Sources/Post.php
  Sources/Subs-Editor.php
  Themes/default/css/jquery.sceditor.css
  Themes/default/scripts/jquery.sceditor.smf.js
Labels: Editor

#5917 Fix syntax error of proxy.php
  proxy.php
Labels: Proxy

#5837 Handle 4-byte utf8 in script.js
  Themes/default/scripts/script.js
Labels: Charset/Encoding

#5922 Make backtrace link more visible to end users
  Themes/default/Errors.template.php
Labels: Tweak

#5927 Does a better job checking for SVGs in the image proxy
  proxy.php
Labels: Proxy

#5925 Does a better job of ensuring $cachedir is defined and writable
  SSI.php
  cron.php
  index.php
  other/Settings.php
  other/upgrade.php
  proxy.php
Labels: Tweak

#5926 Converts global $time_start to constant TIME_START
  SSI.php
  Sources/ManageAttachments.php
  Sources/ManageMail.php
  Sources/ManageMaintenance.php
  Sources/Packages.php
  Sources/RepairBoards.php
  Sources/ScheduledTasks.php
  Sources/Subs-Db-mysql.php
  Sources/Subs-Db-postgresql.php
  Sources/Subs.php
  cron.php
  index.php
Labels: Tweak

#5909 Add PHP 7.4 to Travis
  .travis.yml
Labels: PHP version support

#5815 Implements new, more robust version of updateSettingsFile()
  Sources/ManageLanguages.php
  Sources/ManageServer.php
  Sources/Subs-Admin.php
  Themes/default/languages/Install.english.php
  other/Settings.php
  other/install.php
  other/upgrade.php
Labels: Enhancement, Installer, Performance, Upgrader

#5755 Upgrader - 1.x issues - alt approach
  other/upgrade-helper.php
  other/upgrade.php
  other/upgrade_1-0.sql
  other/upgrade_1-1.sql
  other/upgrade_2-0_mysql.sql
  other/upgrade_2-0_postgresql.sql
  other/upgrade_2-1_mysql.sql
Labels: MySQL, Upgrader

#5940 define TIME_START in install.php and upgrade.php
  other/install.php
  other/upgrade.php
Labels: Installer, Upgrader

#5932 exclude the current user from $to_names
  Sources/Subs-Post.php
Labels: Notifications

#5942 Don't notify the message poster if they did a thing on their own post
  Sources/tasks/CreatePost-Notify.php
Labels: Notifications

#5944 Check if ip address is empty
  Sources/Subs-Db-postgresql.php
Labels: Background tasks, PostgreSQL

#5222 Fixing Pg pool connection and empty ip field error handling
  Sources/CacheAPI-postgres.php
  Sources/Subs-Db-postgresql.php
Labels: PostgreSQL

#5945 Add vscode ignore
  .gitignore
Labels: Housekeeping

#5956 Fix "Hook call: The file at path: ... could not be loaded."
  Sources/Subs.php
Labels: Hooks, Minor Bug

#5954 Fixes a undefined error when running the upgrader multiple times.
  Themes/default/languages/Install.english.php
  other/upgrade.php
Labels: Upgrader

#5946 Add index Support for Birthday task pg only
  Sources/tasks/Birthday-Notify.php
Labels: Notifications, PostgreSQL

#5921 Fix cloning of drafts when saving after a preview
  Sources/PersonalMessage.php
Labels: PM

#5963 EOL to LF, even on Windows
  .gitattributes
Labels: Housekeeping

#5959 Get the correct email template for group rejects with reason
  Sources/tasks/GroupAct-Notify.php
Labels: Notifications

#5941 Update Birthday-Notify.php
  Sources/Profile-View.php
  Sources/tasks/Birthday-Notify.php
Labels: Database, MySQL

#5964 Patch 4
  Sources/ManageMail.php
Labels: Hooks

#5967 Update SSI.php
  SSI.php
Labels: SSI
