Repository SimpleMachines/SMF, pull requests merged in 2020-09, with the labels that each got.

#6100 Migrate Privacy Policy system from SMF 2.0.16
  .gitignore
  Sources/Admin.php
  Sources/Agreement.php
  Sources/Help.php
  Sources/Load.php
  Sources/Logging.php
  Sources/ManageRegistration.php
  Sources/ManageSettings.php
  Sources/Modlog.php
  Sources/Register.php
  Sources/Subs-Members.php
  Sources/Subs.php
  Themes/default/Agreement.template.php
  Themes/default/Help.template.php
  Themes/default/Register.template.php
  Themes/default/index.template.php
  Themes/default/languages/Admin.english.php
  Themes/default/languages/Agreement.english.php
  Themes/default/languages/Errors.english.php
  Themes/default/languages/Help.english.php
  Themes/default/languages/Login.english.php
  Themes/default/languages/Modlog.english.php
  Themes/default/languages/Profile.english.php
  index.php
  other/upgrade-helper.php
  ssi_examples.php
Labels: GDPR

#6231 Strip -utf8 string from privacy policy settings
  other/upgrade_2-1_mysql.sql
  other/upgrade_2-1_postgresql.sql
Labels: GDPR

#6227 Fix error introduced in a previous commit
  Themes/default/Recent.template.php
  Themes/default/languages/index.english.php
Labels: Language, Regression, Theme

#6246 User proper smcFunc call
  other/upgrade_2-1_mysql.sql
  other/upgrade_2-1_postgresql.sql
Labels: Upgrader

#6253 Unbreak the HTML
  Themes/default/ManageLanguages.template.php
Labels: Theme
