Repository SimpleMachines/SMF, pull requests merged in 2020-10, with the labels that each got.

#6288 Fixes upgrader issue where policies weren't escaped
  other/upgrade_2-1_mysql.sql
  other/upgrade_2-1_postgresql.sql
Labels: GDPR, Upgrader

#6266 Add a note to prevent dimwits like me from turning this into a foreach
  Sources/Subs-BoardIndex.php
Labels: Housekeeping

#6283 Removes two errant references to $context in updateSettingsFile()
  Sources/Subs-Admin.php
Labels: Charset/Encoding, Language, Serious Bug

#6296 SMF Detailed Version check is very specific
  Themes/default/languages/Timezones.english.php
Labels: Language

#6289 Fix session write fail issue
  Sources/Session.php
Labels: Login/Sessions

#6292 Fix the inability to disable the email field for guests
  Themes/default/Display.template.php
Labels: Minor Bug, Theme

#6235 Fixes print poll errors.
  Sources/Printpage.php
Labels: Polls

#5762 fixes #5313
  Sources/Stats.php
Labels: Theme

#6268 This has proven difficult to get right
  Sources/Logging.php
Labels: Logging, Regression

#5552 Unneeded hash_passwrd fields in Login.template.php (fixes #5519)
  Themes/default/Login.template.php
  other/upgrade.php
Labels: Theme

#5286 Implement new logic for sorting fixes #5278
  Sources/ManageSettings.php
Labels: Profile Fields

#6236 Fix 403 error due disabled Gravatar
  Sources/Load.php
Labels: Avatars

#6287 Fix an issue when guests cannot upload images even have permissions
  Sources/Attachments.php
Labels: Attachments, Permissions

#6232 More updates from the doc team
  Themes/default/languages/Install.english.php
Labels: Language

#6257 Add SQLite Cache file to the gitgnore
  .gitignore
Labels: Meta

#6276 Fixed issues with SSI cachedir because we unset the global
  SSI.php
Labels: Caching, Minor Bug

#6256 Change the reg email input type from text to email
  Themes/default/ManageBans.template.php
  Themes/default/Register.template.php
  other/install.php
Labels: Theme

#6169 Fix undefined index at last page of memberlist
  Sources/Memberlist.php
Labels: Minor Bug

#5297 Reply to Warning PM handling Issue #5267
  Themes/default/PersonalMessage.template.php
  Themes/default/languages/Profile.english.php
Labels: Moderation, PM, Tweak

#6196 fix: Move login_cookie_times earlier in the process
  Sources/Load.php
Labels: Login/Sessions

#6303 Improve error log
  Themes/default/Errors.template.php
  Themes/default/css/admin.css
  Themes/default/css/index.css
Labels: Theme

#5646 Member search time warp
  Sources/ManageMembers.php
  Sources/Subs.php
  Themes/default/ManageMembers.template.php
  Themes/default/languages/Admin.english.php
Labels: Search

#5197 Improve the Query "Posting activity by time"
  Sources/Profile-View.php
Labels: Database, Enhancement

#6301 If a 3rd party mod is using this, current_board may be undefined
  Themes/default/scripts/smf_fileUpload.js
Labels: JavaScript

#6291 Need to keep default; it may have custom smileys in it
  Themes/default/languages/Install.english.php
  other/upgrade_2-1_mysql.sql
  other/upgrade_2-1_postgresql.sql
Labels: Upgrader

#6295 Css and Js identifiers
  Sources/Load.php
Labels: Theme

#6277 Prevent a error when loading memcache information in Support info
  Sources/CacheAPI-memcache.php
  Sources/CacheAPI-memcached.php
Labels: Minor Bug

#6275 Ignore custom avatar
  .gitignore
Labels: Housekeeping

#6204 Set default notification frequency to Straight away instead of never
  other/install_2-1_mysql.sql
  other/install_2-1_postgresql.sql
  other/upgrade_2-1_mysql.sql
  other/upgrade_2-1_postgresql.sql
Labels: Database, Upgrader

#5733 Add remove link to the finished uninstall window
  Sources/Packages.php
  Themes/default/Packages.template.php
  Themes/default/languages/Packages.english.php
Labels: New feature

#6258 Tell the browser that username and password are required in login
  Themes/default/Login.template.php
Labels: Theme

#5231 Fixing Website Sort and Group sort for pg
  Sources/Memberlist.php
Labels: PostgreSQL

#6310 Fixes a memcache issue
  Sources/CacheAPI-memcache.php
Labels: Caching

#6247 Better connect errors
  Sources/Subs-Db-mysql.php
  Sources/Subs-Db-postgresql.php
  other/install.php
  other/upgrade.php
Labels: Database

#6306 Ensure password_salt is the proper length
  other/upgrade_2-1_mysql.sql
  other/upgrade_2-1_postgresql.sql
Labels: Upgrader

#5525 Tidy the UI structure's css code
  Themes/default/css/index.css
  Themes/default/css/responsive.css
Labels: Theme

#5337 Prevent bogus mention notifications (fixes #5300)
  Sources/Subs-Post.php
Labels: Mentions, Notifications

#6073 Adds support for more password hashing schemes for converters
  Sources/LogInOut.php
Labels: Login/Sessions

#5732 Add Cloudflare IP Support to the auto detection
  Sources/QueryString.php
Labels: Tweak

#5763 Responsive Tables
  Themes/default/css/responsive.css
Labels: Theme

#6150 Remove some deprecated code from createList
  Sources/Subs-List.php
  Themes/default/GenericList.template.php
Labels: Theme

#6311 Can't hash a directory
  Sources/Packages.php
Labels: Package Manager

#6313 Ensures $modSettings['board_manager_groups'] is defined
  Sources/Load.php
Labels: Membergroups, Permissions

#6293 Updates random_compat library to version 2.0.18
  Sources/random_compat/cast_to_int.php
  Sources/random_compat/error_polyfill.php
  Sources/random_compat/random_bytes_com_dotnet.php
  Sources/random_compat/random_bytes_dev_urandom.php
Labels: Housekeeping

#6315 Revert "Responsive Tables"
  Themes/default/css/responsive.css
Labels: Serious Bug, Theme

#6294 Implements a better compatibilty function for hash_equals
  Sources/Subs-Auth.php
Labels: Login/Sessions

#6314 Loading yt iframe lazy
  Sources/Subs.php
  Themes/default/scripts/jquery.sceditor.smf.js
Labels: Theme, Tweak

#6321 Uses correct time zone when suggesting default times for a new event
  Sources/Subs-Calendar.php
Labels: Calendar

#6286 Neutralizes evil control characters in preparsecode()
  Sources/Subs-Post.php
Labels: Enhancement, Posting
