Repository SimpleMachines/SMF, pull requests merged in 2020-12, with the labels that each got.

#6387 Count down attachment counter
  Themes/default/scripts/smf_fileUpload.js
Labels: PR: reviewed-approved

#6380 Send poll options on preview
  Themes/default/scripts/script.js
Labels: PR: reviewed-approved

#6384 Remove insert button after deleting an attachment
  Themes/default/scripts/smf_fileUpload.js
Labels: PR: reviewed-approved

#6379 Update txt group_perms_name_profile_password_any
  Themes/default/languages/Reports.english.php
Labels: Language, PR: reviewed-approved

#6373 Save editor content when leaving the page
  Themes/default/scripts/jquery.sceditor.smf.js
Labels: Editor, JavaScript, PR: unreviewed

#6385 Fix php8 errors
  Sources/Profile-View.php
  Sources/Subs-Db-mysql.php
  Sources/Subs-Db-postgresql.php
Labels: PR: reviewed-approved

#6347 Correct SQL for gender count
  Sources/Stats.php
Labels: PR: reviewed-approved, Stats

#6375 Hide IP addresses
  Themes/default/Display.template.php
  Themes/default/css/index.css
  Themes/default/languages/index.english.php
Labels: PR: reviewed-approved

#6324 log_activity got no default any more fix pg upgrade
  other/upgrade_2-1_postgresql.sql
Labels: Database, PR: reviewed-approved, PostgreSQL

#6382 Do not check post_attachment permission at upload
  Sources/Attachments.php
Labels: PR: reviewed-approved

#6260 Add title and buttons to admin and mod log
  Sources/Modlog.php
Labels: PR: reviewed-approved, Theme

#5812 Misc theme fixes
  Sources/Display.php
  Sources/PersonalMessage.php
  Sources/Profile-View.php
  Sources/ReportedContent.php
  Themes/default/ModerationCenter.template.php
  Themes/default/css/index.css
  Themes/default/index.template.php
Labels: PR: reviewed-approved, Theme

#6403 Defines id_cat for child boards
  Sources/Subs-BoardIndex.php
Labels: Boards, PR: unreviewed

#6396 Load $txt in create_export_dir
  Sources/Profile-Export.php
Labels: PR: reviewed-approved

#6398 Block unapproved image attachments
  Sources/ShowAttachments.php
Labels: PR: reviewed-approved

#6400 Fix attachment counter for images
  Sources/ShowAttachments.php
Labels: PR: reviewed-approved

#6408 Fix issue when a time bbc tag is not parsed
  Sources/Subs.php
Labels: BBC, PR: reviewed-approved, PR: unreviewed

#6401 Implements time zone fallbacks
  Sources/Subs-Timezones.php
  Sources/Subs.php
  Themes/default/languages/Timezones.english.php
Labels: Localization, PR: reviewed-approved, PR: unreviewed

#6395 Fixes bug where non-admins could not preview attachments
  Sources/Attachments.php
  Sources/Post.php
  Sources/ShowAttachments.php
  Sources/Subs-Attachments.php
Labels: Attachments, PR: unreviewed

#6300 Fix issues with running upgrade.php from CLI
  other/upgrade.php
Labels: PR: reviewed-approved, Upgrader

#6418 Fix bug where membergroups are not displayed via SSI Who's Online
  SSI.php
Labels: PR: reviewed-approved

#6414 Fixes issues with auth_secret and upgrader
  Sources/Load.php
  Sources/Subs-Admin.php
  Sources/Subs.php
  Themes/default/languages/index.english.php
Labels: Login/Sessions, PR: partially-approved, PR: reviewed-approved, PR: unreviewed, Upgrader

#6424 Fix missing underscore
  Sources/Notify.php
Labels: Minor Bug, Notifications, PR: reviewed-approved, PR: unreviewed
