Repository SimpleMachines/SMF, pull requests merged in 2020-07, with the labels that each got.

#6141 Recreate token after validating it for login2 route
  Sources/LogInOut.php
Labels: Login/Sessions

#6165 Get the right poster name for the poll
  Sources/Display.php
Labels: Polls

#6130 Remove unused $txt['reminder_{subject,mail}']
  Themes/default/languages/Profile.english.php
Labels: Language

#6194 Update Who.php
  Sources/Who.php
Labels: Administrative

#6195 Update the Credits
  Sources/Who.php
Labels: Administrative

#6197 Remove editor keyboard shortcuts
  Themes/default/scripts/jquery.sceditor.smf.js
Labels: Editor
