Repository SimpleMachines/SMF, pull requests merged in 2020-02, with the labels that each got.

#5961 Improves updateSettingsFile() and adds some helper functions
  Sources/Subs-Admin.php
  Themes/default/languages/Install.english.php
  other/Settings.php
  other/install.php
  other/upgrade.php
Labels: Installer, Upgrader

#5985 More timezone fixes
  Sources/Load.php
  Sources/Subs-Members.php
Labels: Localization

#5992 Yabbse did not have an smf version...
  other/upgrade.php
Labels: Upgrader

#5995 Fix these two queries too work on PostgreSQL
  Sources/Subs-Members.php
Labels: PostgreSQL

#5994 Use an extended string for reserveNames so that newlines can be accepted
  other/install_2-1_postgresql.sql
Labels: Registration

#5984 fix wildcard lookup in isReservedName(()
  Sources/Subs-Members.php
Labels: Registration

#5974 use the correct type in the gif to png converter
  Sources/Subs-Graphics.php
Labels: Minor Bug

#6004 Tries using $smcFunc['random_bytes'] in Subs-Password.php
  Sources/Subs-Password.php
Labels: Enhancement

#5289 Remove the number of Field Order in the display
  Sources/ManageSettings.php
Labels: Profile Fields, Theme

#5929 Correctly links to .0, .new, or .msg# for different topic alert types
  Sources/Profile-View.php
  Sources/tasks/CreatePost-Notify.php
  Themes/default/Profile.template.php
Labels: Minor Bug, Notifications

#6008 Remove afrinic
  Sources/Profile-View.php
  Themes/default/languages/Profile.english.php
Labels: Housekeeping, Profile Fields

#5983 Additional board hooks
  Sources/Load.php
  Sources/Subs-BoardIndex.php
Labels: Hooks

#6010 Sets limits on PM rules and rates
  Sources/PersonalMessage.php
  Themes/default/PersonalMessage.template.php
Labels: PM, Performance

#6011 Checks MIME type of user-supplied avatar images
  Sources/Attachments.php
  Sources/Profile-Modify.php
  Sources/Subs-Attachments.php
  Sources/Subs-Graphics.php
  Sources/Subs.php
Labels: Avatars

#6012 Implements authentication secret; improves cookie hashing; uses unsubscribe tokens in email notifications
  SSI.php
  Sources/Load.php
  Sources/LogInOut.php
  Sources/ManageNews.php
  Sources/ManageSettings.php
  Sources/Notify.php
  Sources/Post.php
  Sources/Profile-Modify.php
  Sources/Register.php
  Sources/Subs-Admin.php
  Sources/Subs-Auth.php
  Sources/Subs-Members.php
  Sources/Subs-Notify.php
  Sources/tasks/CreatePost-Notify.php
  Themes/default/Notify.template.php
  Themes/default/Profile.template.php
  Themes/default/Register.template.php
  Themes/default/languages/EmailTemplates.english.php
  Themes/default/languages/Errors.english.php
  Themes/default/languages/Help.english.php
  Themes/default/languages/ManageSettings.english.php
  Themes/default/languages/index.english.php
  index.php
  other/install.php
  other/install_2-1_mysql.sql
  other/install_2-1_postgresql.sql
  other/upgrade_2-1_mysql.sql
  other/upgrade_2-1_postgresql.sql
Labels: Cookies, GDPR, Installer, Login/Sessions, Notifications, Upgrader

#6009 Ports some error handling improvements from 2.0.16
  SSI.php
  Sources/Errors.php
  cron.php
  index.php
  other/install.php
  other/upgrade.php
Labels: Housekeeping

#6027 Long quotes
  Sources/Load.php
  Sources/ManagePosts.php
  Sources/Subs.php
  Themes/default/languages/Admin.english.php
  Themes/default/languages/Help.english.php
  Themes/default/scripts/script.js
Labels: New feature
