Repository SimpleMachines/SMF, pull requests merged in 2020-05, with the labels that each got.

#6042 Fix inappropriate file names
  Sources/ManageMaintenance.php
Labels: Hooks

#5931 Fix undefined variable: approve_query
  Sources/Search.php
Labels: Search

#6096 Address MariaDB limitation in strict mode
  Sources/News.php
  Sources/tasks/ExportProfileData.php
Labels: Database, Exports

#6105 when checking tokens, don't silently juggle types
  Sources/Security.php
Labels: Login/Sessions

#6005 Fix relabeling a pm with the same label in pgsql
  Sources/PersonalMessage.php
Labels: PM, PostgreSQL

#6016 only get the time installed for the currently installed version
  Sources/Class-CurlFetchWeb.php
  Sources/Packages.php
  Sources/Subs-Package.php
  Themes/default/Packages.template.php
  Themes/default/css/admin.css
Labels: Package Manager

#5969 Cache
  Sources/Admin.php
  Sources/CacheAPI-apc.php
  Sources/CacheAPI-apcu.php
  Sources/CacheAPI-memcache.php
  Sources/CacheAPI-memcached.php
  Sources/CacheAPI-postgres.php
  Sources/CacheAPI-smf.php
  Sources/CacheAPI-sqlite.php
  Sources/Class-CacheAPI.php
  Sources/ManageServer.php
  Sources/Subs-Admin.php
Labels: Caching

#6098 Get rid of extra element to present ID on boardIndex -cats-
  Sources/Subs-BoardIndex.php
Labels: Theme

#6033 fix: allow $listOptions['get_count'] to get an int
  Sources/Subs-List.php
Labels: Enhancement

#6034 fix: allow $listOptions['get_items'] to accept an array
  Sources/Subs-List.php
Labels: Enhancement

#6112 loadMemberContext() is expected to return a bool
  Sources/Load.php
Labels: Regression

#6117 Replace "TFA" with "2FA"
  Themes/default/languages/Profile.english.php
Labels: Language

#6119 Remove unused variable $txt['please_login']
  Themes/default/languages/index.english.php
Labels: Language

#6135 Move -you_sure- from javascript to class
  Sources/Display.php
  Sources/Drafts.php
  Sources/PersonalMessage.php
  Sources/Profile-View.php
  Sources/Recent.php
  Sources/ReportedContent.php
  Themes/default/ModerationCenter.template.php
Labels: Theme

#6142 Ignore the default option when comparing timezones (fixes #6139)
  Sources/Calendar.php
Labels: Calendar

#6104 Fix "TypeError: aSelected is null" when installing packages
  Themes/default/Packages.template.php
Labels: Localization, Package Manager
