Repository SimpleMachines/SMF, pull requests merged in 2020-08, with the labels that each got.

#6214 Membergroup page count fix. Fixes #6210
  Sources/Groups.php
Labels: Administrative, Membergroups

#6216 Registration password length error message fix. Fixes #6215
  Sources/Subs-Members.php
Labels: Registration

#6218 Reset password length error messages fix. Fixes #6217
  Sources/Reminder.php
Labels: Passwords

#6185 Sync PG upgrade logic member values with mysql
  other/upgrade_2-1_postgresql.sql
Labels: Upgrader

#6175 Undesirable results when a file doesn't exist when loading css or js.
  Sources/Load.php
Labels: Minor Bug, Theme
