Repository SimpleMachines/SMF, pull requests merged in 2020-06, with the labels that each got.

#6121 sprintf strings
  SSI.php
  Sources/Help.php
  Sources/Load.php
  Sources/ManageAttachments.php
  Sources/ManageNews.php
  Sources/ManagePaid.php
  Sources/ManageSettings.php
  Sources/News.php
  Sources/Profile-Actions.php
  Sources/Profile-Modify.php
  Sources/Recent.php
  Sources/Register.php
  Sources/ScheduledTasks.php
  Sources/Subs-Post.php
  Sources/Subs.php
  Sources/Themes.php
  Sources/Who.php
  Sources/Xml.php
  Themes/default/Errors.template.php
  Themes/default/ManageLanguages.template.php
  Themes/default/ManageNews.template.php
  Themes/default/MoveTopic.template.php
  Themes/default/Profile.template.php
  Themes/default/Recent.template.php
  Themes/default/languages/Admin.english.php
  Themes/default/languages/Errors.english.php
  Themes/default/languages/Help.english.php
  Themes/default/languages/Install.english.php
  Themes/default/languages/Login.english.php
  Themes/default/languages/ManageMaintenance.english.php
  Themes/default/languages/ManagePaid.english.php
  Themes/default/languages/ManageSettings.english.php
  Themes/default/languages/ModerationCenter.english.php
  Themes/default/languages/Profile.english.php
  Themes/default/languages/Settings.english.php
  Themes/default/languages/Stats.english.php
  Themes/default/languages/Who.english.php
  Themes/default/languages/index.english.php
  other/upgrade.php
Labels: Language, Standards & Protocols

#6156 Add unsubscribe_announcements_plain
  Themes/default/languages/index.english.php
Labels: Language, Notifications

#6160 Always lods the correct language when sendng email notifications
  Sources/tasks/CreatePost-Notify.php
Labels: Language, Mail, Notifications

#6101 Adds support for HTML and "Styled XML" as profile data export formats
  Sources/Load.php
  Sources/ManageServer.php
  Sources/ManageSettings.php
  Sources/News.php
  Sources/Profile-Actions.php
  Sources/Profile-Export.php
  Sources/Profile.php
  Sources/QueryString.php
  Sources/ShowAttachments.php
  Sources/Subs.php
  Sources/tasks/ExportProfileData.php
  Themes/default/Profile.template.php
  Themes/default/css/admin.css
  Themes/default/css/index.css
  Themes/default/languages/Errors.english.php
  Themes/default/languages/Profile.english.php
  Themes/default/scripts/profile.js
  cron.php
  index.php
Labels: Exports
