Repository SimpleMachines/SMF, pull requests merged in 2021-01, with the labels that each got.

#6438 Add whoall_agreement langauage string
  Themes/default/languages/Who.english.php
Labels: Language, PR: reviewed-approved, PR: unreviewed

#6430 Fix autoload for cache classes
  SSI.php
  index.php
Labels: Caching, PR: reviewed-approved, PR: unreviewed

#6433 Missing user prefs entries
  other/install_2-1_mysql.sql
  other/install_2-1_postgresql.sql
  other/upgrade_2-1_mysql.sql
  other/upgrade_2-1_postgresql.sql
Labels: Installer, Notifications, PR: reviewed-approved, PR: unreviewed, Upgrader

#6448 Define PHP_INT_MIN if not defined
  Sources/Subs-Timezones.php
Labels: PHP version support, PR: reviewed-approved, PR: unreviewed

#6439 Align some strings in Report.english
  Themes/default/languages/Reports.english.php
Labels: Language, PR: reviewed-approved, PR: unreviewed

#6392 Improve legacy uploader
  Themes/default/Post.template.php
  Themes/default/css/index.css
  Themes/default/languages/Post.english.php
  Themes/default/scripts/smf_fileUpload.js
Labels: Attachments, PR: reviewed-approved, PR: unreviewed

#6447 Use html safe forum title for js
  Sources/Subs.php
Labels: JavaScript, PR: reviewed-approved, PR: unreviewed

#6440 Improve admin theme area titles, descriptions and help texts
  Sources/Themes.php
  Themes/default/Themes.template.php
  Themes/default/languages/Help.english.php
  Themes/default/languages/Themes.english.php
Labels: Language, PR: reviewed-approved, PR: unreviewed

#6389 Only remove not uploaded attachments on cancel all
  Themes/default/scripts/smf_fileUpload.js
Labels: Attachments, PR: reviewed-approved, PR: unreviewed

#6453 Convert text into string in upgrade.php
  Themes/default/languages/Install.english.php
  other/upgrade.php
Labels: Language, PR: unreviewed, Upgrader

#6454 Update some help texts
  Themes/default/languages/Help.english.php
Labels: PR: reviewed-approved

#6455 Avoid pointer cursor for unresized images
  Sources/Subs.php
Labels: PR: unreviewed

#6456 Add input color type for theme options
  Themes/default/Themes.template.php
Labels: PR: unreviewed

#6461 Fix incompatibility values of "label for" and "input id"
  Themes/default/Themes.template.php
Labels: PR: reviewed-approved

#6446 Type field sometimes alpha
  Sources/Subs-Package.php
Labels: PR: unreviewed, Package Manager

#6463 Update Profile show Attachments list
  Sources/Profile-View.php
  Themes/default/GenericList.template.php
Labels: PR: unreviewed

#6467 Show all unapproved attachments in approve box
  Themes/default/Display.template.php
Labels: PR: unreviewed

#6468 Change error message for embedded unapproved attachments
  Sources/Subs-Attachments.php
  Themes/default/languages/index.english.php
Labels: PR: unreviewed

#6466 Add forum links when selecting issue templates
  .github/ISSUE_TEMPLATE/config.yml
Labels: Meta, PR: partially-approved, PR: unreviewed

#6465 Show embedded images
  Sources/Subs-Attachments.php
  Sources/Subs.php
  Themes/default/Display.template.php
Labels: PR: reviewed-approved

#6469 Make attachment thumbnails fully responsive
  Themes/default/Display.template.php
Labels: PR: unreviewed

#6470 Fix problems when privacy policy is empty
  Sources/Register.php
  Sources/Subs.php
  Themes/default/languages/Errors.english.php
  Themes/default/languages/Login.english.php
  Themes/default/languages/index.english.php
Labels: PR: unreviewed

#6471 Add right padding to language selector for mobile
  Themes/default/css/responsive.css
Labels: PR: unreviewed

#6473 Make ipv6 address wrappable
  Themes/default/Who.template.php
Labels: PR: unreviewed

#6472 Add some fixes for Memcache/Memcached caching variants
  Sources/Cache/APIs/MemcacheImplementation.php
  Sources/Cache/APIs/MemcachedImplementation.php
  Themes/default/languages/ManageSettings.english.php
Labels: PR: unreviewed

#6481 Remove unused error string
  Themes/default/languages/Errors.english.php
Labels: PR: unreviewed

#6475 Update read logs setting texts
  Themes/default/languages/ManageScheduledTasks.english.php
  Themes/default/languages/ManageSettings.english.php
Labels: PR: unreviewed

#6480 Fix error when using slash in searches
  Sources/Search.php
Labels: PR: unreviewed
