Repository SimpleMachines/SMF, pull requests merged in 2021-12, with the labels that each got.

#7171 Automatically populates $cachedir_sqlite if it is empty
  Sources/Cache/APIs/Sqlite.php
  Sources/Subs-Admin.php
Labels: Caching, Administrative, PR: unreviewed, PR: reviewed-approved

#7172 Adds "Rebuild Settings.php" maintenance task
  Sources/ManageMaintenance.php
  Sources/Subs-Admin.php
  Themes/default/ManageMaintenance.template.php
  Themes/default/languages/ManageMaintenance.english.php
Labels: Administrative, PR: unreviewed

#7174 Fixes a few phpdoc-related issues
  Sources/Class-Package.php
  Sources/ManageSearch.php
  Sources/ManageServer.php
  Sources/RepairBoards.php
  Sources/Subs-Attachments.php
  Sources/Subs-Package.php
  Sources/Who.php
Labels: PR: reviewed-approved

#7181 Extend fatal error template
  Sources/Errors.php
  Themes/default/Errors.template.php
Labels: PR: reviewed-approved

#7179 Implements smf_strftime
  SSI.php
  Sources/Calendar.php
  Sources/Logging.php
  Sources/ManageCalendar.php
  Sources/ManagePaid.php
  Sources/ManageSearchEngines.php
  Sources/Memberlist.php
  Sources/News.php
  Sources/Post.php
  Sources/Profile-Modify.php
  Sources/Register.php
  Sources/Stats.php
  Sources/Subs-Calendar.php
  Sources/Subs-MembersOnline.php
  Sources/Subs-Package.php
  Sources/Subs.php
  other/install.php
Labels: PHP version support, PR: unreviewed

#7182 fix typo in file
  Themes/default/BoardIndex.template.php
Labels: PR: unreviewed

#7185 Doesn't assume $user_info is populated in getUserTimezone()
  Sources/Subs.php
Labels: PR: unreviewed

#7180 Manually parse ZIP files
  Sources/Subs-Package.php
Labels: Package Manager, PR: unreviewed, PR: reviewed-approved

#7183 Extend $topicOptions (integrate_modify_post)
  Sources/Post.php
Labels: PR: reviewed-approved

#7177 Fix calls to db_affected_rows
  Sources/Session.php
Labels: PR: reviewed-approved

#7189 Removes all manual manipulation of timestamps via time_offset settings
  SSI.php
  Sources/BoardIndex.php
  Sources/Display.php
  Sources/Drafts.php
  Sources/Load.php
  Sources/Logging.php
  Sources/ManageMembers.php
  Sources/ManageNews.php
  Sources/ManageSearchEngines.php
  Sources/ManageSettings.php
  Sources/MessageIndex.php
  Sources/Modlog.php
  Sources/News.php
  Sources/PersonalMessage.php
  Sources/Post.php
  Sources/Printpage.php
  Sources/Profile-Modify.php
  Sources/Profile-View.php
  Sources/Recent.php
  Sources/Search.php
  Sources/SplitTopics.php
  Sources/Stats.php
  Sources/Subs-BoardIndex.php
  Sources/Subs-Calendar.php
  Sources/Subs-MembersOnline.php
  Sources/Subs-Recent.php
  Sources/Subs.php
  Sources/Who.php
  Themes/default/languages/Help.english.php
  other/install.php
  other/install_2-1_mysql.sql
  other/install_2-1_postgresql.sql
  other/upgrade_2-1_mysql.sql
  other/upgrade_2-1_postgresql.sql
Labels: PR: unreviewed

#7194 chore: normalize direct access message to No direct access...
  Sources/Agreement.php
  Sources/Errors.php
  Sources/Security.php
  Sources/Subs-Auth.php
  Sources/Subs-Db-mysql.php
  Sources/Subs-Db-postgresql.php
Labels: PR: reviewed-approved

#7192 PHP 8.1 pg_escape_string
  Sources/Subs-Db-postgresql.php
Labels: PostgreSQL, Database, PR: reviewed-approved

#7196 fix php 8.1 with pg installer
  other/install.php
Labels: Installer, PostgreSQL, Database, PR: reviewed-approved

#7193 Fix array to string conversion notice in PG search
  Sources/DbSearch-postgresql.php
Labels: PostgreSQL, Search, Database, PR: reviewed-approved

#7204 Check shell_exec exists before attempting to use it
  Sources/Subs.php
Labels: PHP version support, PR: unreviewed, PR: reviewed-approved

#7210 Handle the new error suppression code in PHP 8
  Sources/Errors.php
Labels: PHP version support, PR: unreviewed

#7201 Users without valid birthdates were falsely selected
  Sources/Subs-Calendar.php
Labels: Performance, PR: unreviewed, PR: reviewed-approved, PR: reviewed-changes-requested
