Repository SimpleMachines/SMF, pull requests merged in 2021-03, with the labels that each got.

#6519 Fix edit of secondary gravatar email
  Sources/Profile-Modify.php
Labels: Avatars, PR: unreviewed

#6552 Correct calculation if user can see warning
  Sources/Profile-View.php
Labels: PR: reviewed-approved

#6544 Fix bad non https urls
  other/upgrade.php
Labels: Minor Bug, PR: reviewed-approved, PR: unreviewed, Upgrader

#6557 Remove unused string quick_login_dec
  Themes/default/languages/index.english.php
Labels: PR: reviewed-approved

#6550 Remove lang_spelling
  Sources/ManageLanguages.php
  Sources/Subs-Post.php
  Themes/default/languages/Help.english.php
  Themes/default/languages/ManageSettings.english.php
  Themes/default/languages/index.english.php
Labels: Language, PR: reviewed-approved, PR: unreviewed

#6556 Use correct permission for view warning menu
  Sources/Profile.php
Labels: PR: reviewed-approved

#6549 Update SCEditor to v3.0.0
  Themes/default/scripts/jquery.sceditor.bbcode.min.js
  Themes/default/scripts/jquery.sceditor.smf.js
Labels: Editor, JavaScript, PR: unreviewed

#6553 fix: Localize code headers in editor
  Sources/Subs-Editor.php
  Themes/default/scripts/jquery.sceditor.smf.js
Labels: Editor, JavaScript, PR: unreviewed

#6554 Lists should wrap selected text
  Themes/default/scripts/jquery.sceditor.smf.js
Labels: Editor, JavaScript, PR: unreviewed

#6559 Honor admin setting Don't allow post text in notifications
  Sources/Profile-Modify.php
  Sources/tasks/CreatePost-Notify.php
Labels: Notifications, PR: unreviewed

#5871 Confirm Logout and Redirects
  Sources/LogInOut.php
  Themes/default/Login.template.php
  Themes/default/languages/Login.english.php
Labels: Login/Sessions, PR: partially-approved, PR: unreviewed, Theme

#6568 Correct matchHighestPackageVersion signature
  Sources/Subs-Package.php
Labels: PR: unreviewed

#6565 During upgrade do not set force_ssl if already set
  other/upgrade.php
Labels: PR: reviewed-approved

#6562 Remember location after changing language
  Sources/Load.php
Labels: Login/Sessions, PR: reviewed-approved, PR: unreviewed

#6548 Fix shine through in admin menu
  Themes/default/css/index.css
Labels: PR: reviewed-approved, Theme

#6563 Fix reactivation of hooks
  Sources/ManageMaintenance.php
Labels: Hooks, PR: unreviewed

#6551 Avoid undefined index error when issue warning
  Themes/default/Profile.template.php
Labels: Moderation, PR: unreviewed

#6580 Prevent CrowdIn interface execution on forks
  .github/workflows/crowdin_wf.yml
  .github/workflows/crowdin_wf_next.yml
Labels: Language, PR: reviewed-approved, PR: unreviewed

#6590 Remove double dot from text sting
  Themes/default/languages/Install.english.php
Labels: PR: reviewed-approved

#6591 Check old_url before using it
  Sources/Load.php
Labels: PR: unreviewed

#6589 Send 403 for banned login attempt
  Sources/Security.php
  Themes/default/scripts/script.js
Labels: PR: reviewed-approved

#6600 Tweaks needed for CrowdIn Fork fix
  .github/workflows/crowdin_wf.yml
  .github/workflows/crowdin_wf_next.yml
Labels: Language, PR: unreviewed

#6604 Correct grammatical error
  Themes/default/languages/ManageMaintenance.english.php
Labels: PR: reviewed-approved

#6606 Remove unused string export_format_desc
  Themes/default/languages/Profile.english.php
Labels: PR: reviewed-approved

#6603 Remove duplicated unused string smf_stats_14
  Themes/default/languages/Stats.english.php
Labels: PR: reviewed-approved

#6607 More CrowdIn-friendly line feeds
  Themes/default/languages/Admin.english.php
  Themes/default/languages/Profile.english.php
  Themes/default/languages/index.english.php
Labels: Language, PR: unreviewed

#6616 Preforms CDATA escaping on all fields that could possibly need it.
  Sources/News.php
Labels: Exports, PR: reviewed-approved, PR: unreviewed, Web feeds

#6625 Rephrase txt string auth_secret_missing
  Themes/default/languages/index.english.php
Labels: PR: reviewed-approved

#6630 Update help txt avatar_upload
  Themes/default/languages/Help.english.php
Labels: PR: reviewed-approved

#6629 Rephrase help txt quote_expand
  Themes/default/languages/Help.english.php
Labels: PR: reviewed-approved

#6628 Remove spaces inside quotes from txt string upgrade_boarddir_settings
  Themes/default/languages/Install.english.php
Labels: PR: reviewed-approved

#6632 Consistently use "avatars directory"
  Sources/ManageAttachments.php
  Themes/default/languages/Admin.english.php
Labels: PR: reviewed-approved

#6609 Align usage of period in the other options
  Themes/default/languages/Post.english.php
Labels: PR: reviewed-approved

#6627 Use sprintf for txt string upgrade_done
  Themes/default/languages/Install.english.php
  other/upgrade.php
Labels: PR: reviewed-approved

#6605 Remove double periods on credits page
  Themes/default/languages/Who.english.php
Labels: Housekeeping, PR: unreviewed
