Repository SimpleMachines/SMF, pull requests merged in 2021-09, with the labels that each got.

#7028 fix: Some SubChunk2Size entries were off by 1
  Themes/default/fonts/sound/a.english.wav
  Themes/default/fonts/sound/e.english.wav
  Themes/default/fonts/sound/g.english.wav
  Themes/default/fonts/sound/l.english.wav
  Themes/default/fonts/sound/n.english.wav
  Themes/default/fonts/sound/p.english.wav
  Themes/default/fonts/sound/x.english.wav
  Themes/default/fonts/sound/y.english.wav
  Themes/default/fonts/sound/z.english.wav
Labels: Housekeeping, PR: unreviewed, PR: reviewed-approved

#6937 Supports HTTP range requests for CAPTCHA "Listen to the letters"
  Sources/Subs-Sound.php
Labels: Captcha, PR: unreviewed

#7019 Add loop protection to PM Labels upgrade
  other/upgrade_2-1_mysql.sql
  other/upgrade_2-1_postgresql.sql
Labels: Upgrader, PR: unreviewed, PR: reviewed-approved, PR: reviewed-changes-requested

#7036 fix(mentions): Nested arrays cannot be flipped
  Sources/Subs-Post.php
Labels: Notifications, Posting, PR: unreviewed, PR: reviewed-approved

#7035 Fix Ajax calls for possible CORS requests
  Sources/ManageNews.php
  Themes/default/ModerationCenter.template.php
  Themes/default/Profile.template.php
  Themes/default/scripts/mentions.js
  Themes/default/scripts/profile.js
  Themes/default/scripts/quotedText.js
  Themes/default/scripts/script.js
  Themes/default/scripts/smf_fileUpload.js
  Themes/default/scripts/topic.js
Labels: JavaScript, PR: unreviewed, PR: reviewed-approved

#7029 "Check All" Should be for all
  Themes/default/Admin.template.php
Labels: PR: unreviewed

#7039 Ignores the content of various BBC when looking for possible mentions
  Sources/Mentions.php
Labels: BBC, Mentions, PR: unreviewed, PR: reviewed-approved

#7007 Improves multilingual token support in redirection topics
  Sources/MoveTopic.php
  Sources/SplitTopics.php
Labels: Language, Notifications, PR: unreviewed, PR: reviewed-approved

#7041 Move these to the user error log
  Sources/LogInOut.php
Labels: Minor Bug, PR: unreviewed, PR: reviewed-approved

#7040 Improves performance processing serialized data during upgrade
  Sources/Subs.php
  other/upgrade.php
Labels: Upgrader, PR: unreviewed, PR: reviewed-approved

#7042 Stops us from trying to hash validate a directory.
  Sources/Subs-Package.php
Labels: Minor Bug, Package Manager, PR: unreviewed

#7047 Correct array index to prevent undefined index
  Sources/tasks/CreatePost-Notify.php
Labels: PR: reviewed-approved

#7037 fix(notifications): Send user's real name in emails
  Sources/tasks/CreatePost-Notify.php
Labels: Notifications, Posting, PR: unreviewed, PR: reviewed-approved

#7054 Remove moved topics from search results
  Sources/Search.php
Labels: PR: reviewed-approved

#7032 Uses idn_to_* functions to ensure domain names are normalized correctly
  Sources/Subs-Charset.php
  Sources/Subs-Compat.php
  Sources/Subs.php
Labels: Standards & Protocols, Charset/Encoding, PR: unreviewed, PR: reviewed-changes-requested

#7051 Correctly cleans up periods & backticks in {identifier:foo} db tokens
  Sources/Subs-Db-mysql.php
  Sources/Subs-Db-postgresql.php
Labels: Database, PR: unreviewed, PR: reviewed-approved

#7056 Search highlight fixes
  Sources/Search.php
  Themes/default/css/index.css
Labels: Search, PR: unreviewed, PR: reviewed-approved

#7059 Check timestamp when calculating last post from sub boards
  Sources/Subs-BoardIndex.php
Labels: PR: reviewed-approved

#7061 Only parse allowed bbc tags in signatures
  Sources/Load.php
  Sources/Profile-Modify.php
  Sources/Subs.php
  Sources/Xml.php
Labels: PR: reviewed-approved

#7064 Remove the use of INTL_IDNA_VARIANT_UTS46 constant
  Sources/Subs.php
Labels: PR: reviewed-approved

#7058 Adds $smcFunc['normalize']() wrapper for Unicode normalization functions
  Sources/Load.php
Labels: PR: unreviewed

#7057 use a `sprintf()` pattern for `$txt['attach_dir_files_missing']`
  Sources/ManageAttachments.php
  Themes/default/languages/Admin.english.php
Labels: Localization, PR: unreviewed, PR: reviewed-approved, PR: reviewed-changes-requested

#7065 Raises version requirements to PHP 7.0, MySQL 5.6
  other/install.php
  other/upgrade.php
Labels: Installer, Upgrader, Database, PHP version support, PR: unreviewed

#7069 Update readme to reflect new requirement of PHP and MySQL
  other/readme.html
Labels: PR: reviewed-approved

#7071 Correct some notification settings strings
  Themes/default/languages/Profile.english.php
Labels: PR: reviewed-approved

#7074 Url normalization tweaks
  Sources/Subs-Compat.php
  Sources/Subs.php
Labels: PR: unreviewed

#7068 Turn off autolinking for signatures if tags are disabled
  Sources/Subs.php
Labels: BBC, PR: unreviewed, PR: reviewed-approved

#7080 Correctly handles IRIs in fetch_web_data()
  Sources/Subs.php
Labels: Serious Bug, Charset/Encoding, PR: unreviewed

#7088 Revert "Remove the use of INTL_IDNA_VARIANT_UTS46 constant"
  Sources/Subs.php
Labels: PR: unreviewed

#7077 Fixes some upgrader issues
  Themes/default/languages/Install.english.php
  other/install.php
  other/upgrade.php
Labels: Upgrader, JavaScript, PR: unreviewed, PR: reviewed-approved

#7076 Fix upgrade of pm labels if no users has pm labels
  other/upgrade_2-1_mysql.sql
  other/upgrade_2-1_postgresql.sql
Labels: Upgrader, PR: reviewed-approved

#7091 Adds $smcFunc['normalize'] to upgrader
  other/upgrade.php
Labels: Upgrader, PR: unreviewed, PR: reviewed-approved

#7098 fix: Add br to the list of allowed HTML tags for descriptions
  Sources/Load.php
Labels: PR: reviewed-approved

#7099 Discourage robots from indexing the credits page
  Sources/Who.php
Labels: PR: unreviewed

#7093 Fixes adding invisible level 2 membergroups to a members primary group
  Sources/Subs-Membergroups.php
  Sources/tasks/GroupAct-Notify.php
Labels: PR: reviewed-approved
