Repository SimpleMachines/SMF, pull requests merged in 2021-02, with the labels that each got.

#6485 Exclude not approved members from top online stats
  Sources/Stats.php
Labels: PR: reviewed-approved, Stats

#6484 Hide last post on unread topics for mobiles
  Themes/default/css/responsive.css
Labels: PR: unreviewed, Theme

#6474 Use HTTPS for stats reporting
  Sources/ManageServer.php
  Sources/Stats.php
  other/install.php
  other/upgrade.php
Labels: Https, PR: unreviewed, Stats

#6493 Php8 comp
  Sources/DbExtra-mysql.php
  Sources/Subs-List.php
  Themes/default/BoardIndex.template.php
  Themes/default/MessageIndex.template.php
Labels: PR: reviewed-approved

#6496 fix: Use $memID as applicator if coming from registration
  Sources/Profile-Modify.php
Labels: PR: unreviewed, Profile Fields, Registration

#6492 fix: Avoid directly referencing a variable value
  Sources/Subs.php
Labels: Housekeeping, PR: reviewed-approved, PR: unreviewed

#6449 Add policy agreement defaults
  other/install_2-1_mysql.sql
  other/install_2-1_postgresql.sql
  other/upgrade_2-0_mysql.sql
  other/upgrade_2-0_postgresql.sql
Labels: GDPR, Installer, PR: reviewed-approved, PR: unreviewed, Upgrader

#6273 Handle error case better when $txt is not loaded
  Sources/Errors.php
Labels: Tweak

#6274 Img loading lazy
  Sources/Load.php
Labels: Attachments, Avatars, PR: reviewed-approved, PR: reviewed-changes-requested, PR: unreviewed

#6495 fix: Escape user input in the editor
  Themes/default/scripts/jquery.sceditor.smf.js
Labels: Editor, JavaScript, PR: reviewed-approved, PR: unreviewed

#6259 Add CTE to Explain
  Sources/Logging.php
  Sources/ViewQuery.php
Labels: Database, PR: reviewed-approved

#6390 Add loading lazy to attachment in post
  Sources/Subs.php
  Themes/default/Display.template.php
Labels: Attachments, PR: reviewed-approved, PR: unreviewed

#6501 chore: Push min PHP version to 5.6
  .travis.yml
  other/install.php
  other/readme.html
  other/upgrade.php
Labels: PHP version support, PR: reviewed-approved, PR: unreviewed

#6504 fix: Typo in language string
  Themes/default/languages/Admin.english.php
Labels: PR: unreviewed

#6507 fix: optional parameters before required ones create warnings
  Sources/ManageBans.php
  Sources/Subs-Package.php
Labels: PR: unreviewed

#6506 Drop Subs-Password
  Sources/Subs-Auth.php
  Sources/Subs-Password.php
Labels: PR: reviewed-approved

#6500 ci: add github workflow/action and remove travis ci
  .github/workflows/php.yml
  .gitignore
  .gitmodules
  .scrutinizer.yml
  .travis.yml
  composer.json
  composer.lock
Labels: Meta, PR: draft, PR: unreviewed

#6502 Some small theme fixes
  Themes/default/BoardIndex.template.php
  Themes/default/MessageIndex.template.php
  Themes/default/css/index.css
  Themes/default/css/responsive.css
  Themes/default/scripts/theme.js
Labels: PR: reviewed-approved

#6508 Fix token problem when adding new admins
  Sources/Groups.php
Labels: PR: reviewed-approved

#6513 Remove duplicated string ftp_server_info
  Themes/default/languages/Install.english.php
Labels: PR: reviewed-approved

#6452 Check board_manager_groups when displaying permissions
  Sources/Profile-View.php
Labels: PR: reviewed-approved, Permissions

#6516 Align queries in list_getNumFiles and list_getFiles
  Sources/ManageAttachments.php
Labels: PR: reviewed-approved

#5722 Change colum alter api of nullable
  Sources/DbPackages-mysql.php
  Sources/DbPackages-postgresql.php
Labels: Database, PR: reviewed-approved

#6515 Replace tabs with spaces in SCEditor
  Sources/Subs-Editor.php
Labels: Editor, PR: reviewed-approved, PR: unreviewed

#6512 fix: treat bbcodes as text when inserting them into the wysiwyg editor
  Sources/Subs-Editor.php
Labels: BBC, PR: reviewed-approved, PR: unreviewed

#6517 Very bad to do this twice
  other/upgrade_2-0_mysql.sql
  other/upgrade_2-0_postgresql.sql
Labels: PR: reviewed-approved, Upgrader

#6520 Add help text about gravatars
  Themes/default/Profile.template.php
  Themes/default/languages/Help.english.php
Labels: PR: reviewed-approved

#6527 Fix drafts tables for mobiles
  Themes/default/css/responsive.css
Labels: PR: reviewed-approved, Theme

#6526 Hide charset column for mobiles in edit langs table
  Themes/default/css/responsive.css
Labels: PR: reviewed-approved, Theme

#6525 Add quotes to from name when sending email
  Sources/Subs-Post.php
Labels: Mail, PR: reviewed-approved

#6524 Honor the gravatar enabled setting
  Sources/Load.php
  Sources/Profile-Modify.php
  Sources/Subs.php
  Themes/default/Profile.template.php
Labels: Avatars, PR: unreviewed

#6534 Follow the Enable selection of drafts from posting screen setting
  Themes/default/Post.template.php
Labels: PR: unreviewed

#6523 Add CrowdIn integration
  .github/crowdin.yml
  .github/workflows/crowdin_wf.yml
Labels: Administrative, Language, PR: partially-approved, PR: reviewed-approved, PR: unreviewed

#6532 Specify login class in css
  Themes/default/css/responsive.css
Labels: PR: reviewed-approved, Theme

#6530 fix : Be sure to include jquery when viewing package operations
  Sources/Packages.php
  Themes/default/Packages.template.php
Labels: PR: reviewed-approved

#6528 Fix behavior of [code=xyz] in the editor
  Themes/default/css/jquery.sceditor.default.css
  Themes/default/scripts/jquery.sceditor.smf.js
Labels: Editor, PR: reviewed-changes-requested, PR: unreviewed

#6536 Improvements suggested by CrowdIn support
  .github/crowdin.yml
Labels: Administrative, Language, PR: unreviewed

#6538 Fixes a missed bbc tag from #6390
  Sources/Subs.php
Labels: BBC, Minor Bug, PR: unreviewed

#6537 Months fix needed for CrowdIn
  Themes/default/languages/index.english.php
Labels: Language, PR: unreviewed

#6531 Hardcoded text is bad (mostly fixes #6521)
  Sources/Class-Package.php
  Sources/Load.php
  Sources/LogInOut.php
  Sources/Logging.php
  Sources/PersonalMessage.php
  Sources/Security.php
  Sources/Subs-Admin.php
  Sources/Subs-Boards.php
  Sources/Subs-Categories.php
  Sources/Subs-Db-postgresql.php
  Sources/Subs-Membergroups.php
  Sources/Subs-MembersOnline.php
  Sources/Subs-MessageIndex.php
  Sources/Subs-Package.php
  Sources/Subs-Post.php
  Sources/Subs.php
  Themes/default/languages/Errors.english.php
Labels: Language, PR: unreviewed

#6319 MariaDB group by quirk
  Sources/News.php
Labels: Database, MySQL, PR: reviewed-approved

#6543 Add better logic for pg pk constraint copy fixes #6542
  Sources/DbExtra-postgresql.php
Labels: PR: unreviewed
