Repository SimpleMachines/SMF, pull requests merged in 2021-08, with the labels that each got.

#6744 Fixes to several mentions issues
  Sources/Mentions.php
  Sources/Post.php
  Sources/Subs-Post.php
  Sources/tasks/CreatePost-Notify.php
Labels: Anti-spam, Mentions, Notifications, PR: partially-approved, PR: reviewed-approved, PR: unreviewed

#6896 Removes centertext class from backtrace template
  Themes/default/Errors.template.php
Labels: PR: unreviewed, Theme, Tweak

#6842 Add outline to jump target and some scroll padding top
  Themes/default/Display.template.php
  Themes/default/PersonalMessage.template.php
  Themes/default/css/index.css
Labels: Enhancement, PR: unreviewed, Theme

#6897 Highlight search results after BBC parsing, not before
  Sources/Search.php
Labels: BBC, PR: reviewed-approved, PR: unreviewed, Search

#6900 fix: Highlight Unicode search keywords
  Sources/Search.php
Labels: Charset/Encoding, PR: reviewed-approved, PR: unreviewed, Search

#6903 Remove unmatched ending a tag
  Sources/Subs.php
Labels: BBC, PR: reviewed-approved, PR: unreviewed

#6571 Don't register twice with rapid clicks
  Themes/default/Register.template.php
Labels: PR: partially-approved, Registration

#6904 Create label-cleanup.yml
  .github/workflows/label-cleanup.yml
Labels: Meta, PR: reviewed-approved, PR: unreviewed

#6895 Adds missing $params['defer'] and $params['attributes'] from loadJava…
  Sources/Load.php
Labels: Minor Bug, PR: reviewed-approved, PR: reviewed-changes-requested, PR: unreviewed

#6915 Avatar duplicate code removal
  Sources/Subs.php
Labels: PR: unreviewed

#6916 Remove unused text string
  Themes/default/languages/Themes.english.php
Labels: Language, PR: unreviewed, PR: reviewed-approved

#6184 Add order by at paging process in the upgrade
  other/upgrade_2-1_mysql.sql
  other/upgrade_2-1_postgresql.sql
Labels: Upgrader, Performance, PR: reviewed-approved

#6917 Fix phrasing of setting
  Themes/default/languages/ManagePermissions.english.php
Labels: Language, PR: unreviewed

#6924 Proxy fixes
  Sources/Subs.php
  proxy.php
Labels: Minor Bug, Proxy, PR: unreviewed, PR: reviewed-approved

#6919 Lists smileys even when smiley_files table is empty
  Sources/ManageSmileys.php
  Themes/default/ManageSmileys.template.php
Labels: Smileys, PR: reviewed-approved

#6905 Modifies the loading of the jQuery library by:
  Sources/Load.php
  Sources/ManageSettings.php
  Themes/default/languages/Help.english.php
  Themes/default/languages/ManageSettings.english.php
Labels: JavaScript, PR: unreviewed, PR: reviewed-approved, PR: reviewed-changes-requested

#6893 Recount large forums
  other/install_2-1_mysql.sql
  other/install_2-1_postgresql.sql
  other/upgrade_2-1_mysql.sql
  other/upgrade_2-1_postgresql.sql
Labels: Installer, Upgrader, Database, Performance, PR: unreviewed, PR: reviewed-approved

#6498 Translatable fields
  Sources/Load.php
  Sources/ManageSettings.php
  Sources/Memberlist.php
  Sources/Profile.php
  Sources/Subs.php
  Themes/default/Admin.template.php
  Themes/default/languages/Help.english.php
  Themes/default/languages/ManageSettings.english.php
  Themes/default/languages/Profile.english.php
  Themes/default/languages/index.english.php
  other/install_2-1_mysql.sql
  other/install_2-1_postgresql.sql
  other/upgrade_2-1_mysql.sql
  other/upgrade_2-1_postgresql.sql
Labels: Enhancement, Profile Fields, Language, PR: unreviewed, PR: reviewed-changes-requested

#6921 Better explains that SMF logs each user's two most recent IP addresses
  Themes/default/languages/Help.english.php
Labels: PR: unreviewed

#6901 fix: url tags should not change to iurl
  Themes/default/scripts/jquery.sceditor.smf.js
Labels: Editor, PR: unreviewed, PR: reviewed-approved, PR: reviewed-changes-requested

#6927 Reverse proxy stuff
  Sources/ManageServer.php
  Sources/QueryString.php
Labels: Standards & Protocols, PR: unreviewed, PR: reviewed-approved

#6868 Clean up utf8 parameter usage
  other/install.php
  other/upgrade.php
Labels: Installer, Upgrader, PR: unreviewed, PR: partially-approved

#6930 Improves translatability of $txt['admin_news_desc']
  Themes/default/languages/Admin.english.php
Labels: Language, PR: unreviewed, PR: reviewed-approved

#6935 Fixes jquery version in upgrade.php
  other/upgrade.php
Labels: PR: reviewed-approved

#6929 Loads jQuery in ssi_examples.php
  ssi_examples.php
Labels: SSI, PR: unreviewed, PR: reviewed-approved

#6936 Fix typo in crowdin.yml
  .github/crowdin.yml
Labels: Language, PR: unreviewed, PR: reviewed-approved

#6933 Fixes the double loading of drafts.js when viewing a topic
  Sources/PersonalMessage.php
  Sources/Post.php
  Themes/default/GenericControls.template.php
Labels: PR: reviewed-approved

#6940 Fixes error loading jQuery when jquery_source is not set.
  Sources/Load.php
  Sources/ManageSettings.php
Labels: PR: reviewed-approved

#6952 Quick fix for new button
  Themes/default/css/index.css
Labels: PR: reviewed-approved

#6970 Checks board access when populating the board list in MoveTopic
  Sources/MoveTopic.php
Labels: Permissions, PR: unreviewed, PR: reviewed-approved

#6966 Fix Undefined index: poster_time
  Sources/tasks/CreatePost-Notify.php
Labels: PR: reviewed-approved

#6964 Fix Undefined index: approved
  Sources/Subs-Post.php
Labels: PR: reviewed-approved

#6963 Only check for mentions if we have a message body
  Sources/Subs-Post.php
Labels: PR: unreviewed

#6965 Do not replace selected text when inserting attachment
  Themes/default/scripts/smf_fileUpload.js
Labels: JavaScript, PR: reviewed-approved

#6983 Avoid double current version in the emulated version drop down
  Sources/Packages.php
Labels: Package Manager, PR: reviewed-approved

#6979 Add click action to select code link
  Themes/default/scripts/script.js
Labels: JavaScript, PR: unreviewed, PR: reviewed-approved

#6981 Clarify upgrade action when adding likes column
  other/upgrade_2-1_mysql.sql
  other/upgrade_2-1_postgresql.sql
Labels: Upgrader, PR: unreviewed, PR: reviewed-approved

#6990 Load fallback avatar from the set avatars directory
  Sources/Load.php
  Themes/default/scripts/script.js
Labels: PR: reviewed-approved

#6992 Do not log error when a moderator report can't be found
  Sources/ReportedContent.php
Labels: PR: reviewed-approved

#6991 Fix undefined id when previewing a modified post with attachment
  Themes/default/scripts/jquery.sceditor.smf.js
Labels: PR: reviewed-approved

#6971 Avoids slow query looking up gender statistics
  Sources/Stats.php
  Themes/default/Admin.template.php
  Themes/default/Stats.template.php
  Themes/default/languages/ManageSettings.english.php
  other/upgrade_2-1_mysql.sql
  other/upgrade_2-1_postgresql.sql
Labels: Performance, PR: unreviewed, PR: reviewed-approved

#6988 Miscellaneous fixes to small bugs
  Sources/Display.php
  Sources/Register.php
  Sources/Subs.php
Labels: BBC, Moderation, Theme, Hooks, PR: unreviewed

#6926 Requires appropriate permissions to view warning logs
  Sources/Display.php
  Sources/ManagePermissions.php
  Sources/ModerationCenter.php
  Sources/Subs-Menu.php
  other/upgrade_2-1_mysql.sql
  other/upgrade_2-1_postgresql.sql
Labels: Moderation, Permissions, PR: unreviewed

#6910 Adds integration hooks to some permission checking functions
  Sources/RemoveTopic.php
  Sources/Security.php
  Sources/Subs-Members.php
Labels: Hooks, PR: unreviewed

#6908 fix: Hide unwatched topics from the recent posts pages
  Sources/Recent.php
Labels: Topics, PR: unreviewed, PR: reviewed-approved

#6998 Applies tokenTxtReplace to custom fields' default values in memberlist
  Sources/Memberlist.php
Labels: PR: reviewed-approved

#7001 Improve posting fields
  Themes/default/Post.template.php
Labels: PR: reviewed-approved

#6996 rename package files by appending a single number to the filename
  Sources/PackageGet.php
  Sources/Subs-Package.php
Labels: Package Manager, PR: unreviewed, PR: reviewed-approved, PR: reviewed-changes-requested

#7002 Add uninstall strings for all package types
  Sources/Packages.php
  Themes/default/languages/Packages.english.php
Labels: PR: reviewed-approved

#7011 Remove unnecessary br
  Themes/default/MessageIndex.template.php
Labels: PR: reviewed-approved

#7009 Avoid multiple quotes for every selection
  Themes/default/scripts/quotedText.js
Labels: PR: reviewed-approved

#7014 Shows "Mark Unread" button in mobile button menu
  Themes/default/css/responsive.css
Labels: Enhancement, Theme, PR: unreviewed

#7008 Skip users in "Who's Online" with malformed JSON in the `url` field
  Sources/Who.php
Labels: Logging, PR: unreviewed, PR: reviewed-approved

#7006 Replaces a few missed instances of 'None' with '{gender_0}'
  Sources/Profile.php
  Sources/Stats.php
  other/install_2-1_mysql.sql
  other/install_2-1_postgresql.sql
  other/upgrade_2-1_mysql.sql
  other/upgrade_2-1_postgresql.sql
Labels: Upgrader, Profile Fields, Stats, PR: unreviewed, PR: reviewed-approved

#6967 Migrate pm notification settings
  other/upgrade_2-1_mysql.sql
  other/upgrade_2-1_postgresql.sql
Labels: Upgrader, PR: unreviewed, PR: reviewed-approved

#7024 Fix upload of new packages
  Sources/PackageGet.php
Labels: PR: reviewed-approved
