Repository SimpleMachines/SMF, pull requests merged in 2021-04, with the labels that each got.

#6661 Fix typo in txt string upgrade_done
  Themes/default/languages/Install.english.php
Labels: PR: reviewed-approved, Upgrader

#6697 Use enabled instead of ticked in help text
  Themes/default/languages/Help.english.php
Labels: PR: unreviewed

#6698 Change board to forum in help txt
  Themes/default/languages/Help.english.php
Labels: PR: unreviewed

#6696 Hide label of disabled notification setting
  Themes/default/Profile.template.php
Labels: Notifications, PR: unreviewed

#6695 Remove leading spaces from help txts
  Themes/default/languages/Help.english.php
Labels: Language, PR: unreviewed

#6694 sprintf txt string profile_of
  Sources/Load.php
  Sources/MessageIndex.php
  Sources/Recent.php
  Sources/Search.php
  Themes/default/Who.template.php
  Themes/default/languages/index.english.php
Labels: Language, PR: unreviewed

#6662 Update some language strings
  Themes/default/languages/Admin.english.php
  Themes/default/languages/Errors.english.php
  Themes/default/languages/Help.english.php
  Themes/default/languages/Install.english.php
Labels: Language, PR: unreviewed

#6668 Add periods to upgrader strings
  Themes/default/languages/Install.english.php
Labels: Language, PR: unreviewed

#6676 Change from Url to URL in help text
  Themes/default/languages/Help.english.php
Labels: Language, PR: unreviewed

#6677 Remove trailing space from txt string
  Themes/default/languages/Admin.english.php
Labels: Language, PR: unreviewed

#6699 Hide loading bar when quoting from quick reply
  Themes/default/scripts/jquery.sceditor.smf.js
Labels: PR: reviewed-approved

#6702 Add missing quotes in txt string package_no_lib
  Themes/default/languages/Packages.english.php
Labels: Language, PR: unreviewed

#6707 Fix typo in txt string attachments_unapproved
  Themes/default/languages/index.english.php
Labels: PR: unreviewed

#6711 Correctly handle spider actions
  Sources/ManageSearchEngines.php
Labels: PR: reviewed-approved

#6706 Fix warning when editing msgs in already announced topic
  Sources/Post.php
Labels: PR: reviewed-approved

#6689 Backup karma data
  other/upgrade.php
  other/upgrade_2-1_mysql.sql
  other/upgrade_2-1_postgresql.sql
Labels: PR: unreviewed, Upgrader

#6690 Check backup database by default in upgrader
  other/upgrade.php
Labels: PR: unreviewed, Upgrader

#6710 Updated txt string admin_browse_filter_type_5
  Themes/default/languages/ManageMembers.english.php
Labels: PR: unreviewed

#6708 Allow in mysql to use pipe symboles for concat
  Sources/Subs-Db-mysql.php
Labels: PR: reviewed-approved

#6586 Remove unused text strings
  Themes/default/languages/index.english.php
Labels: Language, PR: reviewed-approved, PR: unreviewed

#6703 Update txt string icons_filename_all_png
  Themes/default/ManageSmileys.template.php
  Themes/default/languages/ManageSmileys.english.php
Labels: Language, PR: reviewed-approved, PR: unreviewed

#6595 Don't show separator for single item (fixes #6593)
  Themes/default/PersonalMessage.template.php
Labels: PR: reviewed-approved, Theme

#6720 Fix other currency for paid subscriptions
  Sources/ManagePaid.php
Labels: PR: unreviewed

#6718 Fixed boolean invert in not_null columns
  Sources/DbPackages-mysql.php
  Sources/DbPackages-postgresql.php
Labels: PR: unreviewed
