Repository SimpleMachines/SMF, pull requests merged in 2021-06, with the labels that each got.

#6767 Correctly limits regex length in build_regex()
  Sources/Subs.php
Labels: PR: unreviewed

#6255 Fixing upgrade
  other/upgrade_2-1_mysql.sql
  other/upgrade_2-1_postgresql.sql
Labels: PR: reviewed-approved, Upgrader

#6783 Save board_manager_groups upon creation
  Sources/Load.php
Labels: Minor Bug, PR: reviewed-approved, Permissions

#6782 Correct typo affecting autosuggest
  Sources/Subs-Editor.php
Labels: Minor Bug, PR: reviewed-approved

#6581 Use txt string instead of hard coded text in upgrader
  other/upgrade.php
Labels: Language, PR: reviewed-approved, Upgrader

#6588 Fix error when editing language file with arrays
  Sources/ManageLanguages.php
Labels: Language, PR: reviewed-approved

#6768 Remove cookie settings from installer
  other/install.php
Labels: Installer, PR: reviewed-approved

#6794 Update some language strings
  Themes/default/languages/Help.english.php
  Themes/default/languages/Themes.english.php
  Themes/default/languages/index.english.php
Labels: Language, PR: reviewed-approved, PR: unreviewed

#6667 Do not log error when attachmentUploadDir decoding fails
  Sources/Load.php
Labels: PR: reviewed-approved, Upgrader

#6789 Makes fixTag() more strict
  Sources/Subs-Post.php
Labels: BBC, PR: reviewed-approved, PR: unreviewed

#6761 Avoids mangling the RSS feed's filename
  Sources/News.php
Labels: Charset/Encoding, PR: unreviewed, Web feeds

#6792 Retain aspect ratio for images in posts
  Themes/default/css/index.css
Labels: Attachments, PR: reviewed-approved, PR: unreviewed

#6802 Fix structure for insert call
  other/upgrade_2-1_mysql.sql
Labels: PR: unreviewed, Upgrader

#6781 Prioritize avatar max width and height if set
  Sources/Subs.php
  Themes/default/css/index.css
Labels: PR: reviewed-approved, Theme

#6777 Respects width and height params of [attach] BBC for non-image attachments
  Sources/Subs.php
Labels: Attachments, BBC, PR: reviewed-approved
