Repository SimpleMachines/SMF, pull requests merged in 2021-05, with the labels that each got.

#6726 Honor user setting drafts_autosave_enabled
  Sources/Display.php
  Sources/PersonalMessage.php
  Sources/Post.php
Labels: PR: reviewed-approved

#6737 Allow pipes as concat in the upgrader
  other/upgrade.php
Labels: PR: reviewed-approved

#6725 Add specific id to responsive css selector
  Themes/default/css/responsive.css
Labels: PR: reviewed-approved

#6728 Fix attachment images when printing topics
  Sources/Printpage.php
  Sources/Subs.php
Labels: Attachments, PR: reviewed-approved, PR: unreviewed

#6729 Rephrase $helptxt['avatar_server_stored']
  Themes/default/languages/Help.english.php
Labels: Language, PR: reviewed-approved, PR: unreviewed

#6730 Rephrase $helptxt['avatar_download_external']
  Themes/default/languages/Help.english.php
Labels: PR: reviewed-approved

#6731 Make images responsive if max width is set
  Sources/Subs.php
Labels: PR: reviewed-approved

#6732 Show original attachment during preview
  Sources/ShowAttachments.php
Labels: Attachments, PR: unreviewed, Posting

#6738 Fix undefined PHP function error during upgrade
  other/upgrade.php
Labels: PR: reviewed-approved, Upgrader

#6740 Hide Quote selected text button on deselect text
  Themes/default/scripts/quotedText.js
Labels: JavaScript, PR: reviewed-approved, PR: unreviewed

#6733 Use max image width and height settings everywhere
  Sources/Subs.php
  Themes/default/Printpage.template.php
Labels: PR: unreviewed

#6701 Add link to the Read Logs settings from the Scheduled Task
  Sources/ManageScheduledTasks.php
  Themes/default/languages/ManageScheduledTasks.english.php
Labels: Background tasks, PR: reviewed-approved, PR: unreviewed

#6640 Translate time picker
  Sources/Subs-Calendar.php
  Themes/default/languages/index.english.php
Labels: Calendar, PR: reviewed-approved, PR: unreviewed

#6639 Avoid double javascripts for date picker
  Sources/Calendar.php
  Sources/Subs-Calendar.php
Labels: Calendar, PR: reviewed-approved, PR: unreviewed

#6574 Popup_container vs sceditor
  Themes/default/css/index.css
Labels: Editor, PR: reviewed-approved, PR: unreviewed

#6569 Properly call timeformat(); get all birthdays
  Sources/Subs-Calendar.php
  Sources/Subs.php
Labels: Calendar, PR: partially-approved, PR: reviewed-approved, PR: reviewed-changes-requested, PR: unreviewed

#6608 Use correct rotation for thumbnails
  Sources/Subs-Graphics.php
Labels: Attachments, PR: reviewed-approved, PR: unreviewed
