Repository SimpleMachines/SMF, pull requests merged in 2022-01, with the labels that each got.

#7198 Add a new hook, integrate_online_stats
  Sources/Subs-MembersOnline.php
Labels: Enhancement, Hooks, PR: unreviewed, PR: reviewed-approved

#7197 Force to be lowercase as only check lower case later in function scope
  Sources/Subs-Db-mysql.php
  Sources/Subs-Db-postgresql.php
Labels: PR: reviewed-approved

#7213 fix checkdate php 8.1
  Sources/Calendar.php
Labels: PHP version support, PR: unreviewed

#7215 Chunk up log_action member fix
  other/upgrade_2-1_mysql.sql
  other/upgrade_2-1_postgresql.sql
Labels: Upgrader, PR: unreviewed, PR: reviewed-approved

#7214 Improve handling of funky IP data
  other/upgrade.php
  other/upgrade_2-1_mysql.sql
Labels: Upgrader, PR: unreviewed, PR: reviewed-approved

#7217 Confirm fileinfo is enabled
  Themes/default/languages/Install.english.php
  other/install.php
  other/upgrade.php
Labels: Installer, Upgrader, PR: unreviewed, PR: reviewed-approved

#7211 Specify memory for upgrader
  other/upgrade.php
Labels: Upgrader, PR: unreviewed, PR: reviewed-approved

#7220 Ensure we compare dates right at the end of the year
  Sources/Subs-Calendar.php
Labels: Minor Bug, PR: unreviewed, PR: reviewed-approved

#7222 Only reset if doing conversion
  other/upgrade_2-1_mysql.sql
Labels: Upgrader, PR: unreviewed, PR: reviewed-approved

#7219 Set alerts to have a page limit
  Sources/ManageSettings.php
  Sources/Profile-View.php
  Sources/Profile.php
  Themes/default/languages/ManageSettings.english.php
Labels: Performance, PR: unreviewed, PR: reviewed-approved, PR: reviewed-changes-requested

#7225 Let the hook modify pm quickbuttons
  Sources/PersonalMessage.php
Labels: PR: reviewed-approved

#7224 Fix log_action loop encountered when data can't be corrected...
  other/upgrade.php
  other/upgrade_2-1_mysql.sql
  other/upgrade_2-1_postgresql.sql
Labels: Upgrader, PR: unreviewed, PR: reviewed-approved

#7248 Remove all connected ban triggers when deleting a ban
  Sources/ManageBans.php
Labels: Moderation, PR: unreviewed, PR: reviewed-approved

#7247 Fix edit ban shows wring status of manually disabled
  Sources/ManageBans.php
Labels: Moderation, PR: unreviewed, PR: reviewed-approved

#7246 Avoid error if banning invalid user
  Sources/ManageBans.php
Labels: Moderation, PR: reviewed-approved

#7245 Update edit ban trigger flow
  Sources/ManageBans.php
  Themes/default/ManageBans.template.php
Labels: Moderation, PR: unreviewed, PR: reviewed-approved

#7244 Fixed typo causing ban errors not to be detected
  Sources/ManageBans.php
Labels: Moderation, PR: unreviewed, PR: reviewed-approved

#7237 Some CacheApi fixes
  Sources/Cache/APIs/Postgres.php
  Sources/Cache/APIs/Sqlite.php
  Sources/Cache/CacheApi.php
  Sources/ManageMaintenance.php
  Sources/ManageServer.php
Labels: Caching, PR: unreviewed, PR: reviewed-approved

#7235 Improves & simplifies today/yesterday logic in timeformat()
  Sources/Subs.php
Labels: Localization, PR: unreviewed

#7256 Fix Board Terminology, Regular Members > Full Members
  Sources/Reports.php
  Themes/default/languages/Reports.english.php
Labels: Language, PR: unreviewed

#7251 add missing language string
  Themes/default/languages/Admin.english.php
Labels: Language, PR: unreviewed

#7261 Improves UI consistency
  Sources/ManageBans.php
  Sources/Modlog.php
  Sources/ReportedContent.php
  Themes/default/BoardIndex.template.php
  Themes/default/Errors.template.php
  Themes/default/GenericList.template.php
  Themes/default/Help.template.php
  Themes/default/ManageMembergroups.template.php
  Themes/default/MessageIndex.template.php
  Themes/default/ModerationCenter.template.php
  Themes/default/MoveTopic.template.php
  Themes/default/PersonalMessage.template.php
  Themes/default/Post.template.php
  Themes/default/Profile.template.php
  Themes/default/Recent.template.php
  Themes/default/ReportedContent.template.php
  Themes/default/Search.template.php
  Themes/default/SplitTopics.template.php
  Themes/default/css/index.css
  Themes/default/css/responsive.css
  Themes/default/languages/index.english.php
Labels: Theme, PR: unreviewed

#7262 Checks whether character exists before using it in Hangul composition
  Sources/Subs-Charset.php
Labels: Charset/Encoding, PR: reviewed-approved

#7255 Fix wrong setting names
  Sources/Attachments.php
  Sources/Subs.php
Labels: Minor Bug, PR: unreviewed, PR: reviewed-approved

#7268 Respects $modSettings['securityDisable_moderate'] when issuing warning
  Sources/Profile.php
Labels: Moderation, PR: unreviewed, PR: reviewed-approved

#7264 Fix the activating link in profile
  Sources/Profile-View.php
  Themes/default/Profile.template.php
Labels: PR: unreviewed

#7260 Responsive fixes
  Sources/Profile.php
  Themes/default/Display.template.php
  Themes/default/MessageIndex.template.php
  Themes/default/css/index.css
  Themes/default/css/responsive.css
  Themes/default/images/icons/bell.png
  Themes/default/images/icons/bell_hd.png
  Themes/default/index.template.php
Labels: Theme, PR: unreviewed

#7249 Fix PM rule apply label
  Sources/PersonalMessage.php
Labels: PM, PR: unreviewed, PR: reviewed-approved

#7240 Fix editing PM labels
  Sources/PersonalMessage.php
Labels: PM, PR: unreviewed, PR: reviewed-approved

#7269 fix popwindow and move some styles to main file
  Themes/default/css/index.css
  Themes/default/css/responsive.css
Labels: PR: reviewed-approved

#7267 Revamps sign in & sign up UI
  Sources/Subs.php
  Themes/default/Login.template.php
  Themes/default/css/index.css
  Themes/default/css/responsive.css
  Themes/default/images/icons/login.png
  Themes/default/images/icons/login_hd.png
  Themes/default/index.template.php
  Themes/default/languages/index.english.php
  Themes/default/scripts/script.js
Labels: PR: unreviewed

#7266 Avoid "install language table" to overflow the layout
  Themes/default/css/index.css
Labels: PR: reviewed-approved

#7270 Let buttons be multiple lines
  Themes/default/css/index.css
Labels: PR: reviewed-approved

#7242 Handle bogus notification requests
  Sources/tasks/CreatePost-Notify.php
Labels: Notifications, PR: unreviewed, PR: reviewed-approved, PR: reviewed-changes-requested, PR: partially-approved

#7274 Fix admin members list overflows the layout
  Themes/default/css/index.css
  Themes/default/css/responsive.css
Labels: PR: reviewed-approved

#7271 PMs template markup
  Themes/default/Display.template.php
  Themes/default/PersonalMessage.template.php
  Themes/default/css/index.css
Labels: PR: reviewed-approved

#7273 Simplifies and tidies up the markup & CSS for admin search
  Themes/default/Admin.template.php
  Themes/default/GenericMenu.template.php
  Themes/default/css/admin.css
  Themes/default/css/responsive.css
Labels: Theme, PR: unreviewed, PR: reviewed-approved, PR: reviewed-changes-requested

#7272 Responsive menus
  Themes/default/GenericMenu.template.php
  Themes/default/css/index.css
  Themes/default/css/responsive.css
  Themes/default/index.template.php
  Themes/default/languages/index.english.php
Labels: Theme, PR: unreviewed, PR: reviewed-approved, PR: reviewed-changes-requested

#7275 Manually move cursor to after the quote
  Themes/default/scripts/jquery.sceditor.smf.js
Labels: Editor, JavaScript, PR: unreviewed

#7232 Fix several more invalid types
  Sources/Cache/APIs/Postgres.php
  Sources/Class-Punycode.php
  Sources/Subs-Calendar.php
  Sources/Subs-Editor.php
  Sources/Subs-Post.php
  Sources/Subs.php
Labels: Housekeeping, PR: unreviewed, PR: reviewed-approved

#7263 Only show selected columns in Calendar week view
  Sources/Subs-Calendar.php
  Themes/default/Calendar.template.php
Labels: Calendar, PR: unreviewed, PR: reviewed-approved

#7276 Make profile_hd icon consistent
  Sources/Drafts.php
  Sources/Profile-Modify.php
  Sources/Profile-View.php
  Themes/default/css/index.css
Labels: PR: reviewed-approved

#7231 pass the correct type to html_entity_decode()
  Sources/Subs.php
Labels: Housekeeping, PHP version support, PR: unreviewed, PR: reviewed-approved, PR: reviewed-changes-requested

#7200 prev/next arrows in page index were visible when all pages was selected
  Sources/Subs.php
Labels: Minor Bug, PR: unreviewed, PR: reviewed-approved, PR: reviewed-changes-requested

#7277 Uses columns in boards list on search & ignore boards pages
  Themes/default/Profile.template.php
  Themes/default/Search.template.php
  Themes/default/css/index.css
  Themes/default/css/responsive.css
Labels: Theme, PR: unreviewed

#7279 Episode II: attack of profile_sm
  Themes/default/MessageIndex.template.php
  Themes/default/PersonalMessage.template.php
  Themes/default/Recent.template.php
  Themes/default/css/index.css
  Themes/default/languages/index.english.php
Labels: PR: reviewed-approved

#7280 Ensures cookieTime setting options match $context['login_cookie_times']
  Sources/ManageServer.php
Labels: Minor Bug, Cookies, Administrative, PR: unreviewed

#7281 Adds datetime attribute to time element in forum header
  Themes/default/index.template.php
Labels: PR: reviewed-approved
