Repository SimpleMachines/SMF, pull requests merged in 2022-10, with the labels that each got.

#7554 MySQL remove NO_AUTO_CREATE_USER
  Sources/Subs-Db-mysql.php
  other/upgrade.php
Labels: PR: reviewed-approved

#7517 added mem.real_name to group by
  Sources/PersonalMessage.php
Labels: PM, PR: reviewed-approved

#7514 Fix HTML in theme settings
  Themes/default/Themes.template.php
Labels: Theme, PR: unreviewed, PR: reviewed-approved

#7544 Use template_css in popups/new windows
  Themes/default/Errors.template.php
  Themes/default/Help.template.php
  Themes/default/Likes.template.php
  Themes/default/ModerationCenter.template.php
  Themes/default/Packages.template.php
  Themes/default/Register.template.php
Labels: Theme, PR: unreviewed, PR: reviewed-approved

#7560 PHP 8 email line break change
  Sources/Subs-Post.php
Labels: Mail, PHP version support, PR: reviewed-approved

#7565 Only disable bbc when its not a message
  Sources/Subs.php
Labels: BBC, PR: reviewed-approved

#7563 Use the correct icon for profile link in pm's
  Themes/default/PersonalMessage.template.php
Labels: Theme, PR: reviewed-approved

#7516 Delete unread alerts upon an unlike
  Sources/Likes.php
Labels: Notifications, PR: unreviewed

#7564 Make the hidden members visible in the online list
  Themes/default/css/index.css
Labels: Theme, PR: reviewed-approved

#7526 fix bounds check for page index
  Sources/Subs.php
Labels: Minor Bug, PR: reviewed-approved

#7519 Don't use the cache if it fails
  Sources/Load.php
Labels: Caching, PR: reviewed-approved

#7524 Fix delete of fulltext index for pg
  Sources/ManageSearch.php
Labels: PostgreSQL, Database, PR: reviewed-approved

#7573 Ensures normalization always uses consistent Unicode version
  Sources/Subs-Charset.php
  Sources/Unicode/Metadata.php
  other/update_unicode_data.php
Labels: Charset/Encoding, PR: unreviewed, PR: reviewed-approved

#7575 Confirm methods exist before calling
  Sources/Subs-Compat.php
Labels: Package Manager, Charset/Encoding, PR: unreviewed

#7577 Update credits for 2.1.3
  Sources/Who.php
Labels: Housekeeping, PR: unreviewed, PR: reviewed-approved

#7568 Check attachment and avatar folders before upgrade
  Themes/default/languages/Install.english.php
  other/upgrade.php
  other/upgrade_2-1_mysql.sql
Labels: Upgrader, Avatars, Attachments
