Repository SimpleMachines/SMF, pull requests merged in 2022-07, with the labels that each got.

#7449 Improves event options layout for multiple languages
  Themes/default/css/index.css
Labels: PR: partially-approved

#7495 Only force a index size if the column is larger than 191 and not specified
  Sources/DbPackages-mysql.php
Labels: Database, PR: reviewed-approved

#7523 The parameter to `smf_mysql_insert_id()` should be optional
  other/upgrade-helper.php
Labels: Upgrader, PR: unreviewed
