Repository SimpleMachines/SMF, pull requests merged in 2022-05, with the labels that each got.

#7440 Adds integrate_word_censor hook
  Sources/Load.php
Labels: Hooks, PR: unreviewed

#7443 Typo correction.
  index.php
Labels: PR: reviewed-approved

#7392 Improves Unicode case conversion
  Sources/Load.php
  Sources/Subs-Charset.php
  Sources/Subs.php
  Sources/Unicode/CaseFold.php
  Sources/Unicode/CaseLower.php
  Sources/Unicode/CaseTitle.php
  Sources/Unicode/CaseUpper.php
  Sources/Unicode/RegularExpressions.php
  Themes/default/css/index.css
  other/install.php
  other/update_unicode_data.php
  other/upgrade-helper.php
Labels: Localization, PR: unreviewed

#7433 Improves idn_to_ascii and idn_to_utf8 polyfills
  Sources/Class-Punycode.php
  Sources/Subs-Compat.php
  Sources/Unicode/Idna.php
  other/update_unicode_data.php
Labels: Standards & Protocols, Charset/Encoding, PR: unreviewed

#7448 Clamps alert_value within allowed range
  Sources/Subs-Notify.php
  Themes/default/Profile.template.php
Labels: PR: reviewed-approved

#7442 Add MyBB password check
  Sources/LogInOut.php
Labels: Passwords, PR: unreviewed, PR: reviewed-approved

#7438 Fix gallery avatar not being saved properly.
  Themes/default/Profile.template.php
Labels: Avatars, PR: unreviewed, PR: reviewed-approved

#7424 Fixes various issues with DbPackages functions
  Sources/DbPackages-mysql.php
  Sources/DbPackages-postgresql.php
  Sources/Subs-Db-postgresql.php
Labels: PostgreSQL, MySQL, Package Manager, Database, PR: unreviewed, PR: reviewed-approved, PR: reviewed-changes-requested

#7469 Checks that $user_profile[$id]['real_name'] exists before using it
  Sources/ManageErrors.php
  Themes/default/Errors.template.php
Labels: Theme, Logging, PR: unreviewed, PR: reviewed-approved

#7435 Improves performance when looking up attachments for message previews
  Sources/Subs-Attachments.php
Labels: Attachments, Performance, PR: unreviewed, PR: reviewed-approved

#7459 Cleans up layout in likes popup
  Themes/default/css/index.css
Labels: Theme, PR: unreviewed

#7450 Supports URLs with spaces in BBC params
  Sources/Class-Punycode.php
  Sources/Subs.php
Labels: PR: partially-approved

#7470 Avoids errors generating etag when attachment file does not exist
  Sources/ShowAttachments.php
Labels: Minor Bug, Avatars, Attachments, PR: unreviewed, PR: reviewed-approved

#7479 Specify unit of time for notify_alert_timeout
  Themes/default/languages/Profile.english.php
Labels: PR: reviewed-approved
