Repository SimpleMachines/SMF, pull requests merged in 2022-12, with the labels that each got.

#7578 Avoids partial domain name matches in autolinker
  Sources/Subs.php
Labels: BBC, PR: unreviewed

#7520 Restore showing profile areas added with `integrate_profile_areas`
  Sources/Profile.php
  Sources/Subs-Menu.php
Labels: Hooks, PR: unreviewed

#7639 Specify ID Member in deleting PM labels
  Sources/PersonalMessage.php
Labels: Minor Bug, PR: merged

#7604 Update col default & null handling
  Sources/DbPackages-mysql.php
  Sources/DbPackages-postgresql.php
Labels: Package Manager, Database, PR: unreviewed

#7629 Fix the logging when users are added to groups
  Sources/Subs-Membergroups.php
Labels: Logging, Administrative, PR: unreviewed

#7590 Remove extra dot
  Themes/default/Profile.template.php
Labels: Theme, PR: unreviewed

#7587 Use the expected input name for ssi_search
  SSI.php
Labels: Theme, PR: unreviewed

#7585 Add icon to login popup
  Sources/Subs.php
Labels: Theme, PR: unreviewed

#7589 Load theme data when kicking guests
  Sources/Subs-Auth.php
Labels: Theme, PR: unreviewed

#7586 Fix move button moving up
  Themes/default/MoveTopic.template.php
Labels: Theme, PR: unreviewed

#7591 Wrap items in quick actions
  Themes/default/css/responsive.css
Labels: Theme, PR: unreviewed

#7659 Fix no such file errors
  Sources/Cache/APIs/FileBased.php
Labels: Caching, PR: reviewed-approved
