Repository SimpleMachines/SMF, pull requests merged in 2022-03, with the labels that each got.

#7369 Updates timezones to reflect Enderbury -> Kanton rename in tzdb
  Sources/Subs-Timezones.php
  Themes/default/languages/Timezones.english.php
Labels: PR: unreviewed

#7362 Avoids deprecation notice on PHP 8.1
  Sources/Profile-Modify.php
Labels: PHP version support, PR: unreviewed

#7376 Drop defaults for TEXT NOT NULL columns
  other/install_2-1_mysql.sql
  other/install_2-1_postgresql.sql
  other/upgrade_2-1_mysql.sql
  other/upgrade_2-1_postgresql.sql
Labels: Installer, Upgrader, PostgreSQL, MySQL, Database, PR: unreviewed

#7336 Time zone and calendar fixes
  Sources/Calendar.php
  Sources/Subs-Calendar.php
  Sources/Subs.php
  other/install_2-1_mysql.sql
  other/install_2-1_postgresql.sql
  other/upgrade_2-1_mysql.sql
  other/upgrade_2-1_postgresql.sql
Labels: Installer, Upgrader, Calendar, Localization, PR: unreviewed, PR: reviewed-approved

#7387 Use $smcFunc['strtolower'] on submitted answers to verification questions
  Sources/Subs-Editor.php
Labels: Anti-spam, Localization, PR: unreviewed

#7391 Improve attachment caching
  Sources/ShowAttachments.php
Labels: Attachments, Caching, PR: unreviewed, PR: reviewed-approved, PR: reviewed-changes-requested

#7390 Adds a integration option to modify download headers
  Sources/ShowAttachments.php
Labels: Attachments, PR: unreviewed, PR: reviewed-approved

#7377 Fixes an issue with board page numbers
  Sources/Subs.php
Labels: PR: reviewed-approved

#7393 Doesn't call integrate_pre_parsebbc when we just want the BBC array
  Sources/Subs.php
Labels: BBC, PR: unreviewed

#7355 Support BMP when using GD in resizeImage()
  Sources/Subs-Graphics.php
Labels: Attachments, PR: unreviewed

#7396 Fix encoding issues that can occur from missing utf8 declaration.
  SSI.php
  Sources/Load.php
Labels: Charset/Encoding, SSI, PR: unreviewed, PR: reviewed-approved
