Repository SimpleMachines/SMF, pull requests merged in 2022-09, with the labels that each got.

#7548 Unwatched fix
  Sources/Recent.php
Labels: Topics, PR: unreviewed, PR: reviewed-approved

#7547 Fix a issue with robots no index on message index
  Sources/MessageIndex.php
Labels: Tweak, PR: unreviewed, PR: reviewed-approved

#7483 Clean up onclick leftover
  Themes/default/index.template.php
Labels: Theme, PR: reviewed-approved

#7482 Fix slowdown with nested images
  Themes/default/scripts/theme.js
Labels: Theme, PR: reviewed-approved

#7545 fix: cors_headers implode
  Sources/Security.php
Labels: Standards & Protocols, PR: unreviewed, PR: reviewed-approved
