Repository SimpleMachines/SMF, pull requests merged in 2022-06, with the labels that each got.

#7472 Adds several BBC tags to $no_autolink_tags
  Sources/Subs.php
Labels: BBC, Mentions, PR: unreviewed, PR: reviewed-approved

#7473 Accepts non-ASCII characters in profile fields with "No HTML" mask
  Sources/Profile-Modify.php
Labels: Profile Fields, PR: unreviewed, PR: reviewed-approved

#7501 Make sure the function we're trying to call is actually defined first...
  Sources/Load.php
Labels: PR: reviewed-approved

#7500 add semicolon in who list color
  Themes/default/Who.template.php
Labels: PR: unreviewed

#7498 Remove PHP.ini limits from attachments per post in UI context
  Sources/Load.php
  Sources/ManageAttachments.php
  Sources/Post.php
Labels: Attachments, PR: reviewed-approved

#7478 Deletes [attach] BBC from post text when attachment itself is deleted
  Themes/default/scripts/smf_fileUpload.js
Labels: Attachments, Editor, PR: unreviewed, PR: reviewed-approved

#7476 Doesn't notify admin about account re-activations
  Sources/Register.php
Labels: Minor Bug, Notifications, PR: unreviewed

#7474 Calls integration hooks for $subActions before setting default subaction
  Sources/Groups.php
  Sources/ManageBans.php
  Sources/ManageCalendar.php
  Sources/ManageLanguages.php
  Sources/ManageMembergroups.php
  Sources/ManageNews.php
  Sources/ManagePaid.php
  Sources/ManagePermissions.php
  Sources/ManagePosts.php
  Sources/ManageSearch.php
  Sources/ManageServer.php
  Sources/ManageSmileys.php
Labels: Hooks, Administrative, PR: unreviewed, PR: reviewed-approved

#7446 Shows fatal error for invalid help text requests
  Sources/Help.php
Labels: PR: partially-approved

#7499 fix: coerce user permissions to array before checking it
  Sources/Security.php
Labels: PR: reviewed-approved

#7463 Don't drop hyperlinks when processed by the editor
  Themes/default/scripts/jquery.sceditor.smf.js
Labels: Editor, JavaScript, PR: unreviewed
