Repository SimpleMachines/SMF, pull requests merged in 2022-04, with the labels that each got.

#7371 Correctly handles XHTML style `<br />` elements in signatures
  Sources/Profile-Modify.php
Labels: Profile Fields, PR: unreviewed

#7384 Fix ability to set null on a column
  Sources/DbPackages-mysql.php
  Sources/DbPackages-postgresql.php
Labels: Database, PR: unreviewed, PR: reviewed-approved

#7407 Fixes image attachment downloads when a thumbnail exists
  Sources/ShowAttachments.php
Labels: Attachments, PR: unreviewed, PR: partially-approved

#7400 Workaround for Content-Encoding header bug in PHP 8.0.17 & 8.1.4
  Sources/Profile-Export.php
  Sources/ShowAttachments.php
  Sources/Subs-Sound.php
Labels: Attachments, PHP version support, PR: unreviewed, PR: reviewed-approved

#7341 Minor improvements
  Themes/default/MessageIndex.template.php
  Themes/default/PersonalMessage.template.php
  Themes/default/css/index.css
Labels: Theme, PR: unreviewed, PR: reviewed-approved

#7412 Prevents errors when notifying about guest posts
  Sources/tasks/CreatePost-Notify.php
Labels: Background tasks, PR: unreviewed

#7413 Fix the order of posting permissions
  Sources/ManagePermissions.php
Labels: PR: reviewed-approved

#7416 add index for real name memberlist
  other/install_2-1_mysql.sql
  other/install_2-1_postgresql.sql
  other/upgrade_2-1_mysql.sql
  other/upgrade_2-1_postgresql.sql
Labels: PR: reviewed-approved

#7415 Disable memberlist url sort for guests
  Sources/Memberlist.php
Labels: PR: reviewed-approved

#7410 Fixes display of custom profile fields on buddy list
  Sources/Profile-Modify.php
  Themes/default/Profile.template.php
Labels: Profile Fields, Localization, PR: unreviewed, PR: partially-approved

#7409 Adds id to req_action select menu for group requests
  Sources/Groups.php
Labels: PR: partially-approved

#7411 Prevents moving topics to redirect boards via quick moderation
  Sources/MessageIndex.php
  Sources/Subs-MessageIndex.php
  Themes/default/Xml.template.php
  Themes/default/scripts/script.js
Labels: Moderation, PR: unreviewed, PR: partially-approved

#7436 Revert "Merge pull request #7384 from jdarwood007/defaultNull"
  Sources/DbPackages-mysql.php
  Sources/DbPackages-postgresql.php
Labels: Database, PR: unreviewed, PR: reviewed-approved
