Repository SimpleMachines/SMF, pull requests merged in 2023-11, with the labels that each got.

#7861 Updates Unicode data files to version 15.1
  Sources/Unicode/CaseFold.php
  Sources/Unicode/Idna.php
  Sources/Unicode/Metadata.php
  Sources/Unicode/RegularExpressions.php
  Sources/tasks/UpdateUnicode.php
Labels: Charset/Encoding

#7862 Adds Unicode data files to .gitignore
  .gitignore
Labels: Charset/Encoding, Meta

#7876 Fixes `Class "Theme" not found` error when using theme variants
  Sources/Theme.php
Labels: Theme

#7880 Fixes bug where uploaded avatars would have two dots before extension
  Sources/Profile.php
Labels: Avatars

#7881 Misc notification fixes
  Sources/Actions/Notify.php
  Sources/Actions/Profile/ShowAlerts.php
  Sources/Alert.php
  Sources/tasks/EventNew_Notify.php
Labels: Notifications

#7883 Fixes Admin Search
  Sources/Cache/APIs/MemcacheImplementation.php
  Sources/Cache/APIs/MemcachedImplementation.php
Labels: Search, Administrative

#7890 Fix registration emails
  Sources/Actions/Register2.php
Labels: Mail, Registration

#7896 Update composer and tag it to the build tools for 2.1 branch
  composer.json
  composer.lock
Labels: Meta

#7897 Update Composer for 3.0
  .gitignore
  composer.json
  composer.lock
Labels: Meta

#7898 3.0: Fix missing use
  Sources/tasks/RemoveTopicRedirects.php
Labels: Minor Bug

#7888 Ensure member id is a int
  Sources/Search/SearchResult.php
Labels: Search

#7904 Removes unnecessary polyfills from Subs-Compat.php
  Sources/Subs-Compat.php
Labels: PHP version support

#7903 Fixes error outside board pages when 'display_who_viewing' is enabled
  Sources/User.php
Labels: Logging

#7905 Correctly initializes Board::$info->cat from cached data
  Sources/Board.php
Labels: Caching

#7906 Passes args to updateSettings() backcompat function
  Sources/Config.php
Labels: Backward compatibility

#7849 Fix the installer/upgrader
  Sources/Autoloader.php
  Sources/Db/APIs/MySQL.php
  Sources/Db/APIs/PostgreSQL.php
  Sources/Db/DatabaseApi.php
  other/install.php
  other/install_2-1_MySQL.sql
  other/install_2-1_PostgreSQL.sql
  other/upgrade.php
  other/upgrade_2-0_MySQL.sql
  other/upgrade_2-0_PostgreSQL.sql
  other/upgrade_2-1_MySQL.sql
  other/upgrade_2-1_PostgreSQL.sql
Labels: Upgrader

#7915 Adds GROUP BY clause to query in SMF\Poll::getMostRecent()
  Sources/Poll.php
Labels: Database, Polls, SSI

#7910 Fixes problem getting the number of search results
  Sources/Actions/Search2.php
  Sources/Search/SearchResult.php
Labels: Search

#7924 More PHP-CS-Fixer tweaks
  .php-cs-fixer.dist.php
  Sources/Actions/Admin/ACP.php
  Sources/Actions/Admin/Permissions.php
  Sources/Actions/Notify.php
  Sources/Actions/Profile/GroupMembership.php
  Sources/BBCodeParser.php
  Sources/Config.php
  Sources/Event.php
  Sources/Graphics/Gif/Image.php
  Sources/Graphics/Image.php
  Sources/Poll.php
  Sources/Search/APIs/Custom.php
  Sources/Search/APIs/Fulltext.php
  Sources/Search/SearchApi.php
  Sources/Subs-Compat.php
  Sources/Theme.php
  Sources/Time.php
  Sources/Utils.php
Labels: Standards & Protocols

#7914 Defends against issues when people use SSI within the forum
  SSI.php
  Sources/ServerSideIncludes.php
  index.php
Labels: SSI

#7911 Fixes issue where SMF\Pm tried to use $this->current_label_redirect
  Sources/Actions/PersonalMessage.php
  Sources/PersonalMessage/PM.php
Labels: PM
