Repository SimpleMachines/SMF, pull requests merged in 2023-12, with the labels that each got.

#7926 Passes correct parameters to TaskRunner::getScheduledTaskDetails()
  Sources/TaskRunner.php
Labels: Background tasks, Scheduled Tasks

#7930 Support HTTP 1.1 Chunked transfer
  Sources/WebFetch/APIs/SocketFetcher.php
Labels: Https, Scheduled Tasks

#7927 Various Fixes
  Sources/Attachment.php
  Sources/BBCodeParser.php
  Sources/Category.php
  Sources/Config.php
  Sources/Cookie.php
  Sources/Draft.php
  Sources/Event.php
  Sources/Group.php
  Sources/IP.php
  Sources/Logging.php
  Sources/Mail.php
  Sources/Mentions.php
  Sources/Msg.php
  Sources/Poll.php
  Sources/Profile.php
  Sources/ProxyServer.php
  Sources/QueryString.php
  Sources/ServerSideIncludes.php
  Sources/Session.php
  Sources/Topic.php
  Sources/Url.php
  Sources/User.php
  Sources/Utils.php
Labels: Minor Bug

#7940 Passes correct parameters to error() method of DatabaseApi objects
  Sources/Db/APIs/MySQL.php
  Sources/Db/APIs/PostgreSQL.php
Labels: Database

#7941 Renames tasks directory to Tasks during upgrade
  other/upgrade.php
Labels: Upgrader

#7943 Removes random_compat library
  Sources/Actions/Admin/AntiSpam.php
  Sources/Actions/Admin/Features.php
  Sources/Actions/AttachmentUpload.php
  Sources/Actions/Login2.php
  Sources/Actions/Logout.php
  Sources/Actions/Profile/TFASetup.php
  Sources/Actions/Register2.php
  Sources/Actions/Reminder.php
  Sources/Actions/VerificationCode.php
  Sources/Attachment.php
  Sources/Config.php
  Sources/Profile.php
  Sources/Security.php
  Sources/SecurityToken.php
  Sources/ServerSideIncludes.php
  Sources/Session.php
  Sources/TOTP/Auth.php
  Sources/User.php
  Sources/Utils.php
  Sources/Verifier.php
  Sources/random_compat/byte_safe_strings.php
  Sources/random_compat/cast_to_int.php
  Sources/random_compat/error_polyfill.php
  Sources/random_compat/index.php
  Sources/random_compat/random.php
  Sources/random_compat/random_bytes_com_dotnet.php
  Sources/random_compat/random_bytes_dev_urandom.php
  Sources/random_compat/random_bytes_libsodium.php
  Sources/random_compat/random_bytes_libsodium_legacy.php
  Sources/random_compat/random_bytes_mcrypt.php
  Sources/random_compat/random_int.php
  other/install.php
  other/upgrade.php
  other/upgrade_2-1_MySQL.sql
  other/upgrade_2-1_PostgreSQL.sql
Labels: PHP version support

#7944 Adds 3.0 install and upgrade SQL files
  other/install.php
  other/install_3-0_MySQL.sql
  other/install_3-0_PostgreSQL.sql
  other/upgrade-helper.php
  other/upgrade.php
  other/upgrade_3-0_MySQL.sql
  other/upgrade_3-0_PostgreSQL.sql
Labels: Installer, Upgrader

#7923 Defined types and strict typing
  Sources/Actions/Admin/Find.php
  Sources/Actions/VerificationCode.php
  Sources/Cache/APIs/Apcu.php
  Sources/Cache/APIs/FileBased.php
  Sources/Cache/APIs/MemcacheImplementation.php
  Sources/Cache/APIs/MemcachedImplementation.php
  Sources/Cache/APIs/Postgres.php
  Sources/Cache/APIs/Sqlite.php
  Sources/Cache/APIs/Zend.php
  Sources/Cache/CacheApi.php
  Sources/Cache/CacheApiInterface.php
  Sources/Db/APIs/MySQL.php
  Sources/Db/APIs/PostgreSQL.php
  Sources/Db/DatabaseApi.php
  Sources/Db/DatabaseApiInterface.php
  Sources/Graphics/Gif/ColorTable.php
  Sources/Graphics/Gif/File.php
  Sources/Graphics/Gif/FileHeader.php
  Sources/Graphics/Gif/Image.php
  Sources/Graphics/Gif/ImageHeader.php
  Sources/Graphics/Gif/LzwCompression.php
  Sources/Graphics/Image.php
  Sources/PackageManager/FtpConnection.php
  Sources/PackageManager/PackageManager.php
  Sources/PackageManager/SubsPackage.php
  Sources/PackageManager/XmlArray.php
  Sources/Search/APIs/Custom.php
  Sources/Search/APIs/Fulltext.php
  Sources/Search/APIs/Standard.php
  Sources/Search/SearchApi.php
  Sources/Search/SearchApiInterface.php
  Sources/Search/SearchResult.php
  Sources/Tasks/UpdateUnicode.php
  Sources/Unicode/CaseFold.php
  Sources/Unicode/CaseLower.php
  Sources/Unicode/CaseTitle.php
  Sources/Unicode/CaseUpper.php
  Sources/Unicode/CombiningClasses.php
  Sources/Unicode/Composition.php
  Sources/Unicode/DecompositionCanonical.php
  Sources/Unicode/DecompositionCompatibility.php
  Sources/Unicode/DefaultIgnorables.php
  Sources/Unicode/Idna.php
  Sources/Unicode/Metadata.php
  Sources/Unicode/QuickCheck.php
  Sources/Unicode/RegularExpressions.php
  Sources/WebFetch/APIs/CurlFetcher.php
  Sources/WebFetch/APIs/FtpFetcher.php
  Sources/WebFetch/APIs/SocketFetcher.php
  Sources/WebFetch/WebFetchApi.php
  Sources/WebFetch/WebFetchApiInterface.php
Labels: Standards & Protocols

#7958 Update our bug template
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/standard_bug.md
  .github/ISSUE_TEMPLATE/standard_bug.yml
  .gitignore
Labels: Meta

#7959 Only set timezone for Unix timestamps if actually was a Unix timestamp
  Sources/Time.php
Labels: Minor Bug, Calendar

#7922 add script shortcut to `php-cs-fixer`
  .github/workflows/php.yml
  composer.json
  composer.lock
Labels: Meta

#7961 Fix PHP lint issues
  Sources/Actions/Admin/Find.php
  Sources/Cache/APIs/Apcu.php
  Sources/Cache/APIs/FileBased.php
  Sources/Cache/APIs/MemcacheImplementation.php
  Sources/Cache/APIs/MemcachedImplementation.php
  Sources/Cache/APIs/Postgres.php
  Sources/Cache/APIs/Sqlite.php
  Sources/Cache/APIs/Zend.php
  Sources/Cache/CacheApi.php
  Sources/Cache/CacheApiInterface.php
  Sources/Db/APIs/MySQL.php
  Sources/Db/APIs/PostgreSQL.php
  Sources/Db/DatabaseApiInterface.php
  Sources/PackageManager/FtpConnection.php
  Sources/PackageManager/PackageManager.php
  Sources/PackageManager/SubsPackage.php
  Sources/PackageManager/XmlArray.php
  Sources/Search/APIs/Custom.php
  Sources/Search/APIs/Fulltext.php
  Sources/Search/SearchApi.php
  Sources/TOTP/Auth.php
  Sources/User.php
  Sources/Utils.php
  Sources/WebFetch/APIs/CurlFetcher.php
  Sources/WebFetch/APIs/FtpFetcher.php
  Sources/WebFetch/APIs/SocketFetcher.php
Labels: Housekeeping

#7968 Adds support for `{uuid:...}` as a database query token
  Sources/Db/APIs/MySQL.php
  Sources/Db/APIs/PostgreSQL.php
Labels: Database

#7945 Fix Detailed Versions
  Sources/Actions/Admin/ACP.php
  Sources/Actions/Admin/Maintenance.php
  Themes/default/Admin.template.php
  Themes/default/languages/Admin.english.php
  Themes/default/scripts/admin.js
Labels: Housekeeping, Administrative, Meta

#7972 Makes the [center] BBC work when wrapped around tables
  Themes/default/css/index.css
Labels: Minor Bug, BBC, Theme

#7975 Runs PHP-CS-Fixer lint check on changed files only
  composer.json
Labels: Meta

#7971 Sceditor fix
  Themes/default/scripts/jquery.sceditor.smf.js
Labels: Editor, JavaScript

#7978 Fix caching error on Profile loading
  Sources/User.php
Labels: Caching

#7992 Moves "expected result" and "actual result" to own fields
  .github/ISSUE_TEMPLATE/standard_bug.yml
Labels: Meta

#7976 Raises minimum database versions
  other/install.php
  other/upgrade.php
Labels: Installer, Upgrader, Database

#7994 Personal messages
  Sources/Actions/PersonalMessage.php
  Sources/PersonalMessage/Folder.php
  Sources/PersonalMessage/Rule.php
Labels: PM
