Repository SimpleMachines/SMF, pull requests merged in 2023-09, with the labels that each got.

#7835 Handles null $backup_file correctly in safe_file_write()
  Sources/Subs-Admin.php
Labels: Administrative

#7825 Do not attempt to convert backup tables to UTF-8
  other/upgrade.php
Labels: Upgrader

#7791 Installer & Upgrader int cleanup for mysql 8+
  other/install_2-1_mysql.sql
  other/upgrade_2-1_mysql.sql
Labels: MySQL, Database

#6202 Join On base table on left side in news
  Sources/News.php
Labels: Database, PR: reviewed-approved

#7721 Improve handling of SVG image attachments and WYSIWYG attachment previews
  Sources/Profile-Modify.php
  Sources/ShowAttachments.php
  Sources/Subs-Attachments.php
  Sources/Subs-Graphics.php
  Sources/Subs.php
  Themes/default/scripts/jquery.sceditor.smf.js
  Themes/default/scripts/script.js
  Themes/default/scripts/smf_fileUpload.js
Labels: Attachments, Editor, PR: unreviewed

#7581 Updates Unicode data files in a background task
  Sources/ScheduledTasks.php
  Sources/Subs-Charset.php
  Sources/tasks/UpdateUnicode.php
  Themes/default/languages/Errors.english.php
  other/update_unicode_data.php
Labels: Housekeeping, PR: unreviewed

#7771 Increase width of date picker
  Themes/default/css/jquery-ui.datepicker.css
Labels: Theme

#7722 Shows "Last Edit" info (if applicable) when editing a post
  Sources/Post.php
Labels: Posting, PR: unreviewed
