Repository SimpleMachines/SMF, pull requests merged in 2023-06, with the labels that each got.

#7700 Add smiley type to packages
  Sources/Packages.php
  Themes/default/languages/Packages.english.php
Labels: Package Manager, Smileys, PR: unreviewed

#7710 Fix integrate_attachments_browse hook to properly used
  Sources/ManageAttachments.php
Labels: Attachments, Hooks, PR: unreviewed

#7713 better error msg when smiley directory not writable
  Sources/ManageSmileys.php
Labels: Language, PR: unreviewed

#7727 Fix the issue with attachment undefined href
  Sources/Post.php
Labels: Minor Bug, Attachments, PR: unreviewed

#7770 Uses a private-use Unicode character to separate member names
  Sources/News.php
Labels: Background tasks

#7743 Adds translatable placeholder for attachment insert menu fields
  Themes/default/Post.template.php
  Themes/default/languages/Post.english.php
Labels: PR: unreviewed
