Repository SimpleMachines/SMF, pull requests merged in 2023-07, with the labels that each got.

#7773 Uses safe_file_write() to save changes in EditTheme()
  Sources/Themes.php
Labels: Theme

#7779 More word_break in admin tables
  Sources/ManageMaintenance.php
  Themes/default/Admin.template.php
Labels: Theme

#7782 Send our error message to our xhr handlers
  Sources/Errors.php
  Sources/Likes.php
  Themes/default/scripts/script.js
Labels: JavaScript

#7733 Remove menu item if all submenu items are disabled
  Sources/Subs-Menu.php
Labels: Minor Bug, PR: unreviewed, PR: partially-approved

#7736 Send real_name in quote notification emails
  Sources/tasks/CreatePost-Notify.php
Labels: Notifications, PR: unreviewed

#7709 Add missing var for translation
  Sources/Subs-Calendar.php
Labels: Language, PR: unreviewed

#7711 Fix wrong position name for some buttons in tables
  Sources/ManageAttachments.php
  Sources/ManageBans.php
  Sources/ManageMembergroups.php
  Sources/ManagePaid.php
  Sources/ManageSmileys.php
  Themes/default/GenericList.template.php
Labels: Theme, PR: unreviewed

#7796 do not use reserved keyword in sql as an alias
  Sources/ManageSearchEngines.php
Labels: Accessibility

#7797 Fix BBC table centering
  Themes/default/css/index.css
Labels: BBC

#7741 Handle basedir restrictions in php8
  Sources/Packages.php
  Sources/Subs-Package.php
Labels: PHP version support, PR: unreviewed, PR: reviewed-approved, PR: reviewed-changes-requested

#7798 Fixing more open_basedir violations
  Sources/Packages.php
Labels: Administrative, Server settings

#7726 Update Minify and Path converter
  Sources/minify/path-converter/src/Converter.php
  Sources/minify/path-converter/src/ConverterInterface.php
  Sources/minify/path-converter/src/NoConverter.php
  Sources/minify/src/CSS.php
  Sources/minify/src/Exception.php
  Sources/minify/src/Exceptions/BasicException.php
  Sources/minify/src/Exceptions/FileImportException.php
  Sources/minify/src/Exceptions/IOException.php
  Sources/minify/src/JS.php
  Sources/minify/src/Minify.php
Labels: PHP version support, PR: unreviewed

#7737 Tweaks CSS for insert menu for small images
  Themes/default/css/attachments.css
Labels: Attachments, Theme, PR: unreviewed

#7800 Fix/topic 586445
  Sources/Subs.php
  Themes/default/css/index.css
Labels: BBC, Theme

#7816 Ensure SERVER_PROTOCOL exists
  Sources/Subs.php
Labels: Minor Bug, SSI
