Repository SimpleMachines/SMF, pull requests merged in 2024-02, with the labels that each got.

#8065 Few fixes for languages
  Sources/Lang.php
Labels: Language

#8052 [3.0] Remove tasksdir configuration option
  Sources/Config.php
  other/Settings.php
  other/Settings_bak.php
  other/install.php
  other/upgrade.php
Labels: Background tasks

#8066 [3.0] A few fixes
  Sources/Actions/Groups.php
  Sources/Search/SearchApi.php
  Sources/Search/SearchApiInterface.php
  Sources/Unicode/Utf8String.php
Labels: Search, Membergroups, Charset/Encoding

#8041 Update ErrorHandler.php
  Sources/ErrorHandler.php
Labels: Minor Bug

#8042 Update Attachment.php
  Sources/Attachment.php
Labels: Attachments

#8047 [3.0] Fix avatar issues
  Sources/Profile.php
  Sources/Url.php
  Sources/User.php
Labels: Avatars

#8069 [3.0] Removed calls to Settings language
  Sources/Actions/Admin/Themes.php
  Sources/Lang.php
  Sources/PersonalMessage/PM.php
  Sources/Profile.php
  Sources/TaskRunner.php
  Sources/Tasks/CreatePost_Notify.php
  Sources/Theme.php
  Sources/User.php
Labels: Language

#8070 [3.0] Ensure error log searching is encoded
  Sources/Actions/Admin/ErrorLog.php
Labels: Logging

#7829 [2.1] Ensure we urlencode the value for filtered error logs
  Sources/ManageErrors.php
Labels: Logging

#7869 [3.0] Update our password conversion
  Sources/Actions/Login2.php
Labels: Passwords

#8073 Fix a camelCase issue
  Sources/Profile.php
  Sources/Url.php
Labels: Housekeeping

#8074 Fixes type errors in calls to BBCodeParser::parse()
  Sources/Actions/Feed.php
  Sources/Actions/JavaScriptModify.php
  Sources/Actions/MessageIndex.php
  Sources/Actions/Moderation/WatchedUsers.php
  Sources/Actions/Recent.php
  Sources/Actions/TopicSplit.php
  Sources/Draft.php
Labels: BBC

#8075 Doesn't try to load theme strings in Theme::loadEssential()
  Sources/Theme.php
Labels: Theme, Background tasks

#8076 Fixes a couple of missing returns in ServerSideIncludes
  Sources/ServerSideIncludes.php
Labels: SSI

#8079 [3.0] Fix an issue with type error on post events
  Sources/Actions/Post.php
Labels: Housekeeping

#8080 Disable Crowdin Jobs
  .github/workflows/crowdin_wf.yml-disable
  .github/workflows/crowdin_wf_next.yml-disable
Labels: Meta

#8077 Setup action for CS Fixer
  .github/phpcs/SMFClosingTag.php
  .github/workflows/php-cs-fixer.yml
  .github/workflows/php.yml
  .php-cs-fixer.dist.php
Labels: Meta

#8083 Fixes some typecasting issues in SMF\Actions\Admin\Subscriptions
  Sources/Actions/Admin/Subscriptions.php
Labels: Paid Subs

#8092 Handles UUID datatype correctly in SMF\Db\APIs\MySQL::calculate_type
  Sources/Db/APIs/MySQL.php
Labels: Database

#8089 [3.0] Crowdin Setup for 3.0
  .github/crowdin.yml
  .github/workflows/crowdin_wf.yml
  .github/workflows/crowdin_wf_next.yml
Labels: Language

#8095 Adds MessageFormat strings for ordinal numbers
  Languages/en_US/General.php
Labels: Language, Localization

#8100 Fixes some typos in language strings
  Languages/en_US/Admin.php
  Languages/en_US/Errors.php
  Languages/en_US/General.php
  Languages/en_US/Install.php
  Languages/en_US/Packages.php
  Languages/en_US/PersonalMessage.php
  Themes/default/Calendar.template.php
Labels: Language, Localization

#8101 Fixes bug showing posts per day for new members
  Sources/Actions/Profile/Summary.php
  Themes/default/Profile.template.php
Labels: Language

#8099 Sets Content-Disposition header correctly for mobile browsers
  Sources/ShowAttachments.php
Labels: Attachments

#8104 Changes $txt['ordinal_last'] to expect positive numbers
  Languages/en_US/General.php
Labels: Language

#8102 Minor fixes for Lang.php
  Sources/Lang.php
Labels: Language

#8105 Adds support for some missing MessageFormat types in our fallback code
  Sources/Localization/MessageFormatter.php
Labels: Language, Localization

#8106 Adds support for more missing MessageFormat types in our fallback code
  Sources/Localization/MessageFormatter.php
  Sources/Tasks/UpdateUnicode.php
  Sources/Unicode/Currencies.php
Labels: Language, Localization

#8112 Fixes duplicate subpattern names in Config::updateSettingsFile()
  Sources/Config.php
Labels: Server settings

#8116 Silence, MessageFormatter!
  Sources/Localization/MessageFormatter.php
Labels: Localization

#8117 Fixes PHP-CS runner
  .github/workflows/php-cs-fixer.yml
Labels: Meta

#8119 Adds offset:0 to selectordinal constuct for $txt['ordinal_last']
  Languages/en_US/General.php
Labels: Language, Localization

#8120 Workaround for a CrowdIn limitation regard offset values
  Languages/en_US/General.php
  Sources/Lang.php
Labels: Language, Localization

#8121 Type hint errors
  Sources/Db/APIs/MySQL.php
  Sources/Db/APIs/PostgreSQL.php
  Sources/Db/DatabaseApiInterface.php
  Sources/PackageManager/FtpConnection.php
Labels: Housekeeping

#8122 Update composer
  composer.lock
Labels: Meta
