Repository SimpleMachines/SMF, pull requests merged in 2024-12, with the labels that each got.

#8353 Fixes a bug when trying to return an ID from an INSERT IGNORE in MySQL
  Sources/Db/APIs/MySQL.php
Labels: Database

#8355 Fixes a bug when trying to return an ID from an INSERT IGNORE in MySQL
  Sources/Subs-Db-mysql.php
Labels: Database

#8363 Tightens up security for calendar subscriptions
  Sources/Actions/Calendar.php
Labels: Calendar

#8347 Fixes some bugs in WebFetchApi
  Sources/WebFetch/APIs/CurlFetcher.php
  Sources/WebFetch/APIs/SocketFetcher.php
  Sources/WebFetch/WebFetchApi.php
Labels: External data

#8318 [3.0]: add $possible_topic_columns to integrate_modify_post
  Sources/Msg.php
Labels: Hooks

#8362 Fixes some BBC and Markdown bugs
  Sources/Actions/Moderation/WatchedUsers.php
  Sources/Actions/Post.php
  Sources/Mail.php
  Sources/Msg.php
  Sources/Parser.php
  Sources/Parsers/BBCodeParser.php
  Sources/Parsers/MarkdownParser.php
  Sources/ServerSideIncludes.php
  Sources/Utils.php
  Themes/default/css/index.css
  Themes/default/css/jquery.sceditor.default.css
  Themes/default/scripts/jquery.sceditor.smf.js
Labels: BBC, Editor, Markdown

#8366 Some minor improvements to SMF\Time
  Languages/en_US/General.php
  Languages/en_US/Help.php
  Languages/en_US/ManageSettings.php
  Sources/Actions/Admin/Bans.php
  Sources/Actions/Calendar.php
  Sources/Parsers/BBCodeParser.php
  Sources/Subs-Compat.php
  Sources/Time.php
Labels: Minor Bug, Calendar, Housekeeping

#8368 3.0/autolinker fixes
  Sources/Autolinker.php
  Sources/Parser.php
  Themes/default/scripts/jquery.sceditor.smf.js
Labels: BBC, Editor

#8370 Updates PHP-CS-Fixer rules from PSR-12 to PER, and applies them
  .php-cs-fixer.dist.php
  Sources/ActionTrait.php
  Sources/Actions/Admin/Permissions.php
  Sources/Actions/Admin/Reports.php
  Sources/Actions/Admin/Smileys.php
  Sources/Actions/Announce.php
  Sources/Actions/AttachmentDownload.php
  Sources/Actions/BoardIndex.php
  Sources/Actions/Calendar.php
  Sources/Actions/Groups.php
  Sources/Actions/Like.php
  Sources/Actions/NotifyAnnouncements.php
  Sources/Actions/PersonalMessage.php
  Sources/Actions/Profile/GroupMembership.php
  Sources/Actions/QuoteFast.php
  Sources/Alert.php
  Sources/Attachment.php
  Sources/Autolinker.php
  Sources/Board.php
  Sources/Cache/CacheApi.php
  Sources/Calendar/Birthday.php
  Sources/Calendar/Event.php
  Sources/Calendar/Holiday.php
  Sources/Calendar/RRule.php
  Sources/Calendar/RecurrenceIterator.php
  Sources/Config.php
  Sources/Db/DatabaseApi.php
  Sources/DebugUtils.php
  Sources/IP.php
  Sources/Localization/MessageFormatter.php
  Sources/Logging.php
  Sources/Msg.php
  Sources/Parser.php
  Sources/Parsers/BBCodeParser.php
  Sources/Parsers/MarkdownParser.php
  Sources/Parsers/SmileyParser.php
  Sources/PersonalMessage/Folder.php
  Sources/PersonalMessage/Popup.php
  Sources/PersonalMessage/Rule.php
  Sources/Profile.php
  Sources/Search/APIs/Parsed.php
  Sources/Search/SearchApi.php
  Sources/ServerSideIncludes.php
  Sources/Subs-Compat.php
  Sources/TaskRunner.php
  Sources/Tasks/BackgroundTask.php
  Sources/Tasks/PruneLogTopics.php
  Sources/Tasks/UpdateUnicode.php
  Sources/Time.php
  Sources/TimeInterval.php
  Sources/TimeZone.php
  Sources/Topic.php
  Sources/Unicode/Utf8String.php
  Sources/User.php
  Sources/Utils.php
  Sources/WebFetch/APIs/CurlFetcher.php
Labels: Standards & Protocols

#8377 [2.1] Replaces uses of deprecated constant SID with calls to session_id()
  Sources/QueryString.php
  Sources/Subs.php
Labels: PHP version support

#8376 [3.0] Replaces uses of deprecated constant SID with calls to session_id()
  Sources/QueryString.php
  Sources/Utils.php
Labels: PHP version support

#8378 Improvements to SMF\TimeInterval
  Sources/Time.php
  Sources/TimeInterval.php
Labels: Calendar

#8379 Revert "Adds support to SMF\TimeInterval for all \DateInterval methods"
  Sources/TimeInterval.php
Labels: Calendar

#8385 [3.0] Clamps timestamps to accepted range in SMF\Time methods and improves handling of the [time] BBCode
  Sources/Msg.php
  Sources/Parsers/BBCodeParser.php
  Sources/Time.php
Labels: BBC
