Repository SimpleMachines/SMF, pull requests merged in 2024-05, with the labels that each got.

#8177 Implements recurring calendar events
  Languages/en_US/Admin.php
  Languages/en_US/Calendar.php
  Languages/en_US/Errors.php
  Languages/en_US/General.php
  Languages/en_US/Help.php
  Languages/en_US/ManageCalendar.php
  Languages/en_US/ManageScheduledTasks.php
  Sources/Actions/Admin/ACP.php
  Sources/Actions/Admin/Calendar.php
  Sources/Actions/BoardIndex.php
  Sources/Actions/Calendar.php
  Sources/Actions/Display.php
  Sources/Actions/Post.php
  Sources/Actions/Post2.php
  Sources/Calendar/Birthday.php
  Sources/Calendar/Event.php
  Sources/Calendar/EventAdjustment.php
  Sources/Calendar/EventOccurrence.php
  Sources/Calendar/Holiday.php
  Sources/Calendar/RRule.php
  Sources/Calendar/RecurrenceIterator.php
  Sources/Calendar/index.php
  Sources/Event.php
  Sources/ServerSideIncludes.php
  Sources/TaskRunner.php
  Sources/Tasks/FetchCalendarSubscriptions.php
  Sources/Theme.php
  Sources/Time.php
  Sources/TimeInterval.php
  Sources/Topic.php
  Themes/default/BoardIndex.template.php
  Themes/default/Calendar.template.php
  Themes/default/Display.template.php
  Themes/default/EventEditor.template.php
  Themes/default/ManageCalendar.template.php
  Themes/default/Post.template.php
  Themes/default/css/calendar.css
  Themes/default/css/index.css
  Themes/default/css/responsive.css
  Themes/default/images/icons/feed.svg
  Themes/default/scripts/calendar.js
  Themes/default/scripts/event.js
  Themes/default/scripts/jquery-ui.datepicker.min.js
  Themes/default/scripts/jquery.datepair.min.js
  Themes/default/scripts/jquery.timepicker.min.js
  Themes/default/scripts/script.js
  other/install.php
  other/install_3-0_MySQL.sql
  other/install_3-0_PostgreSQL.sql
  other/upgrade.php
  other/upgrade_3-0_MySQL.sql
  other/upgrade_3-0_PostgreSQL.sql
Labels: Calendar

#8186 Report
  Languages/en_US/Reports.php
  Sources/Actions/Admin/Reports.php
  Themes/default/Reports.template.php
  Themes/default/css/admin.css
  Themes/default/css/report.css
  Themes/default/scripts/reports.js
Labels: Administrative

#8193 SMF\Board::redirectFromMsg() → SMF\QueryString::redirectFromMsg()
  Sources/Board.php
  Sources/QueryString.php
Labels: Tweak

#8184 Improves on custom search index
  Languages/en_US/Help.php
  Languages/en_US/Search.php
  Sources/Actions/Admin/RepairBoards.php
  Sources/Actions/Admin/Search.php
  Sources/Actions/Search.php
  Sources/Actions/Search2.php
  Sources/Logging.php
  Sources/Search/APIs/Custom.php
  Sources/Search/APIs/Fulltext.php
  Sources/Search/APIs/Parsed.php
  Sources/Search/SearchApi.php
  Sources/Search/SearchApiInterface.php
  Sources/Search/SearchResult.php
  Sources/Subs-Compat.php
  Sources/Unicode/Utf8String.php
  Sources/Utils.php
  Themes/default/Search.template.php
  other/upgrade_1-1.sql
Labels: Search

#8194 Fixes some upgrader issues
  other/upgrade.php
  other/upgrade_3-0_MySQL.sql
  other/upgrade_3-0_PostgreSQL.sql
Labels: Upgrader

#8201 Fixes three things in SMF\Search\APIs\Parsed
  Sources/Search/APIs/Parsed.php
Labels: Search

#8206 Fix search issues
  Sources/Search/APIs/Custom.php
  Sources/Search/APIs/Parsed.php
Labels: Search

#7638 Add permission for using Gravatars
  Sources/ManagePermissions.php
  Sources/Profile-Modify.php
  Themes/default/languages/ManagePermissions.english.php
  Themes/default/languages/Reports.english.php
Labels: Avatars, Permissions

#8204 More upgrader fixes
  Languages/en_US/Install.php
  Sources/Db/APIs/MySQL.php
  Sources/Db/APIs/PostgreSQL.php
  Sources/Db/DatabaseApi.php
  Sources/QueryString.php
  other/upgrade.php
  other/upgrade_3-0_MySQL.sql
  other/upgrade_3-0_PostgreSQL.sql
Labels: Upgrader

#8202 Implements SMF\Unicode\SpoofDectector
  Languages/en_US/Admin.php
  Languages/en_US/Help.php
  Sources/Actions/Admin/Posts.php
  Sources/Actions/Register2.php
  Sources/Lang.php
  Sources/Profile.php
  Sources/Tasks/UpdateSpoofDetectorNames.php
  Sources/Tasks/UpdateUnicode.php
  Sources/Unicode/Confusables.php
  Sources/Unicode/SpoofDetector.php
  Sources/User.php
  Themes/default/Admin.template.php
  other/install_3-0_MySQL.sql
  other/install_3-0_PostgreSQL.sql
  other/update_unicode_data.php
  other/upgrade.php
  other/upgrade_3-0_MySQL.sql
  other/upgrade_3-0_PostgreSQL.sql
Labels: Enhancement, Installer, Upgrader, Posting, Background tasks, Registration, Charset/Encoding

#8223 Fixes errors about undefined variables during install
  Sources/Db/APIs/MySQL.php
  Sources/ErrorHandler.php
  Sources/Theme.php
  Sources/User.php
  other/install.php
  other/install_3-0_MySQL.sql
  other/install_3-0_PostgreSQL.sql
Labels: Installer, Localization

#8226 Fixes issue saving password changes in profile
  Sources/Profile.php
Labels: User settings

#8228 Fixes issues with moving boards
  Languages/en_US/ManageBoards.php
  Sources/Board.php
  Sources/Category.php
Labels: Boards, Administrative

#8234 3.0/calendar fixes
  Languages/en_US/Calendar.php
  Sources/Calendar/Event.php
  Sources/Calendar/Holiday.php
  Sources/Calendar/RecurrenceIterator.php
  Themes/default/Calendar.template.php
  Themes/default/EventEditor.template.php
  Themes/default/scripts/script.js
Labels: Calendar

#6271 Add webp to images support
  Sources/Load.php
  Sources/ManageLanguages.php
  Sources/ManageMembergroups.php
  Sources/ManageSmileys.php
  Sources/Packages.php
  Sources/Profile-Export.php
  Sources/Profile-Modify.php
  Sources/ShowAttachments.php
  Sources/Subs-Graphics.php
  Sources/Subs-Themes.php
  Sources/minify/src/CSS.php
  Themes/default/Profile.template.php
  Themes/default/scripts/admin.js
Labels: Attachments

#7487 Group board permissions reports by permission profiles
  Sources/Reports.php
Labels: Administrative

#7693 Notifications shouldn't come through for denied boards
  Sources/tasks/CreatePost-Notify.php
Labels: Notifications, Background tasks

#8209 Fixes JS logic to check max attachment size per post
  Themes/default/scripts/smf_fileUpload.js
Labels: Attachments

#8210 Fixes case mismatch when fetching column names in smf_db_create_table
  Sources/DbPackages-mysql.php
Labels: MySQL, Package Manager, Database

#8211 Fixes errors when nohtml profile fields are given values with quotes
  Sources/Profile-Modify.php
Labels: Profile Fields

#8213 Never set $_SESSION['old_url'] to an AJAX request
  Sources/Subs.php
Labels: Minor Bug

#8214 Fixes issues with broken HTML entities in warning templates
  Sources/ModerationCenter.php
  Sources/Profile-Actions.php
  Themes/default/Profile.template.php
Labels: Moderation

#8215 Only updates postgroup stats when a change is made to a postgroup
  Sources/ManageMembergroups.php
Labels: Database, Administrative

#8216 Adds uploadAttach to $no_stat_actions
  index.php
Labels: Attachments, Localization

#8220 Ensures fix_utf8mb4 has been applied to strings before saving to db
  Sources/Load.php
  Sources/Subs-Db-mysql.php
Labels: Charset/Encoding

#8217 Fixes undefined variable error in custom search API
  Sources/SearchAPI-Custom.php
Labels: Search
