Repository SimpleMachines/SMF, pull requests merged in 2024-03, with the labels that each got.

#8131 Fixes a return type issue in User::allowedTo()
  Sources/User.php
Labels: Permissions

#8136 Fixes a bug where metazone labels were not being found
  Sources/TimeZone.php
Labels: Minor Bug

#8137 Prevents errors due to apostrophes in MessageFormat strings
  Languages/en_US/Admin.php
  Languages/en_US/EmailTemplates.php
  Languages/en_US/Errors.php
  Languages/en_US/General.php
  Languages/en_US/Help.php
  Languages/en_US/Install.php
  Languages/en_US/Login.php
  Languages/en_US/ManageBoards.php
  Languages/en_US/ManageCalendar.php
  Languages/en_US/ManageMaintenance.php
  Languages/en_US/ManageMembers.php
  Languages/en_US/ManagePaid.php
  Languages/en_US/ManagePermissions.php
  Languages/en_US/ManageScheduledTasks.php
  Languages/en_US/ManageSettings.php
  Languages/en_US/ManageSmileys.php
  Languages/en_US/Manual.php
  Languages/en_US/ModerationCenter.php
  Languages/en_US/Packages.php
  Languages/en_US/PersonalMessage.php
  Languages/en_US/Post.php
  Languages/en_US/Profile.php
  Languages/en_US/Reports.php
  Languages/en_US/Search.php
  Languages/en_US/Stats.php
  Languages/en_US/Themes.php
  Languages/en_US/Timezones.php
  Languages/en_US/Who.php
Labels: Localization

#8138 Updates built-in language editor for SMF 3.0
  Sources/Actions/Admin/Languages.php
Labels: Localization, Administrative

#7843 [2.1] Always send a message id in emails
  Sources/Subs-Post.php
Labels: Mail

#7807 Fix possessive form
  Themes/default/languages/ManageMaintenance.english.php
  Themes/default/languages/ManageSettings.english.php
Labels: Localization

#7806 Fix inconsistent pluralization of "forum".
  Themes/default/languages/Help.english.php
Labels: Localization

#7963 [2.1] Recognise post selection even if other text is selected
  Themes/default/scripts/quotedText.js
Labels: Editor, JavaScript

#7762 [2.1] Improve smileys popup behavior
  Themes/default/css/jquery.sceditor.css
  Themes/default/scripts/jquery.sceditor.smf.js
Labels: Editor, JavaScript

#7774 [2.1] Set quick edit to have same behavior as modify
  Sources/Post.php
Labels: Posting

#8142 Updates Config::varExport() to reflect SMF 3.0 coding standard
  Sources/Config.php
  Sources/Subs-Compat.php
Labels: PHP version support

#7802 [2.1] Only delete board_permissions_view if we have modified the access
  Sources/Subs-Boards.php
Labels: Boards, Permissions

#8153 Fixes a couple of places where search APIs were using obsolete globals
  Sources/Search/APIs/Custom.php
  Sources/Search/APIs/Fulltext.php
Labels: Search

#8158 Implements SMF\Tasks\GenericTask
  Sources/Tasks/GenericTask.php
Labels: Background tasks

#8154 TypeError when formatting currency
  Sources/Localization/MessageFormatter.php
Labels: Localization
