Repository SimpleMachines/SMF, pull requests merged in 2024-10, with the labels that each got.

#8304 Security policy
  README.md
  SECURITY.md
Labels: Meta

#8326 Updates included Unicode data to version 16
  Sources/Unicode/CaseFold.php
  Sources/Unicode/CaseLower.php
  Sources/Unicode/CaseUpper.php
  Sources/Unicode/CombiningClasses.php
  Sources/Unicode/Composition.php
  Sources/Unicode/Confusables.php
  Sources/Unicode/DecompositionCanonical.php
  Sources/Unicode/DecompositionCompatibility.php
  Sources/Unicode/Idna.php
  Sources/Unicode/Metadata.php
  Sources/Unicode/QuickCheck.php
  Sources/Unicode/RegularExpressions.php
  Sources/Unicode/Utf8String.php
Labels: Charset/Encoding

#8327 Updates included Unicode data to version 16
  Sources/Subs-Charset.php
  Sources/Unicode/CaseFold.php
  Sources/Unicode/CaseLower.php
  Sources/Unicode/CaseUpper.php
  Sources/Unicode/CombiningClasses.php
  Sources/Unicode/Composition.php
  Sources/Unicode/DecompositionCanonical.php
  Sources/Unicode/DecompositionCompatibility.php
  Sources/Unicode/Idna.php
  Sources/Unicode/Metadata.php
  Sources/Unicode/QuickCheck.php
  Sources/Unicode/RegularExpressions.php
Labels: Charset/Encoding

#8330 Adds some updates from CLDR data
  Sources/Unicode/Currencies.php
  Sources/Unicode/Plurals.php
Labels: Localization

#8331 Fixes bug determining SVG dimensions in SMF\Graphics\Image
  Sources/Graphics/Image.php
Labels: Minor Bug, Attachments
