Repository SimpleMachines/SMF, pull requests merged in 2024-04, with the labels that each got.

#8146 Show query errors
  Sources/Db/APIs/MySQL.php
Labels: Database

#8156 Do not make up decimal places
  Sources/Localization/MessageFormatter.php
Labels: Localization

#8160 Shows search results and improves code separation between search APIs and search admin action
  Sources/Actions/Admin/Search.php
  Sources/Actions/Search2.php
  Sources/Msg.php
  Sources/Search/APIs/Custom.php
  Sources/Search/APIs/Fulltext.php
  Sources/Search/SearchApi.php
  Sources/Topic.php
  Themes/default/Search.template.php
Labels: Search

#8169 Fix `TypeError` in RepairBoards
  Sources/Actions/Admin/RepairBoards.php
Labels: Administrative

#8167 More improvements to search API
  Languages/en_US/Search.php
  Sources/Actions/Admin/RepairBoards.php
  Sources/Actions/Admin/Search.php
  Sources/Search/APIs/Custom.php
  Sources/Search/APIs/Fulltext.php
  Sources/Search/SearchApi.php
  Sources/Search/SearchApiInterface.php
  Themes/default/ManageSearch.template.php
Labels: Search

#8178 Implements SMF\Db\DatabaseApi::update_from()
  Sources/Db/APIs/MySQL.php
  Sources/Db/APIs/PostgreSQL.php
  Sources/Db/DatabaseApiInterface.php
Labels: Database

#8183 Fixes a type error when calling SMF\TaskRunner::calculateNextTrigger()
  Sources/Actions/Admin/Tasks.php
Labels: Scheduled Tasks

#8182 Performs autolinking in the editor
  Languages/en_US/Errors.php
  Sources/Actions/Admin/News.php
  Sources/Actions/Feed.php
  Sources/Actions/JavaScriptModify.php
  Sources/Actions/Moderation/Warnings.php
  Sources/Actions/Post2.php
  Sources/Actions/Profile/IssueWarning.php
  Sources/Actions/Profile/ShowPosts.php
  Sources/Actions/TopicMerge.php
  Sources/Actions/TopicMove2.php
  Sources/Actions/TopicSplit.php
  Sources/Actions/XmlHttp.php
  Sources/Autolinker.php
  Sources/BBCodeParser.php
  Sources/Editor.php
  Sources/Msg.php
  Sources/PersonalMessage/PM.php
  Sources/Profile.php
  Sources/Search/SearchResult.php
  Sources/ServerSideIncludes.php
  Sources/Url.php
  Themes/default/scripts/jquery.sceditor.smf.js
  other/install_3-0_MySQL.sql
  other/install_3-0_PostgreSQL.sql
  other/upgrade_3-0_MySQL.sql
  other/upgrade_3-0_PostgreSQL.sql
Labels: Editor
