Repository SimpleMachines/SMF, pull requests merged in 2025-02, with the labels that each got.

#8302 Querying a non existent table throws a error on mysql indexes
  Sources/Db/APIs/MySQL.php
  Sources/Theme.php
Labels: Database

#8433 A couple of database fixes
  Sources/Db/APIs/MySQL.php
  Sources/Db/APIs/PostgreSQL.php
  Sources/Db/DatabaseApiInterface.php
Labels: Database

#8428 Fixes bug in Time::convertToEnglish() for locales that don't use AM/PM
  Sources/Actions/Calendar.php
  Sources/Time.php
Labels: Calendar, Localization

#8432 Removes Config::$tasksdir setting entirely
  Sources/Actions/Admin/ACP.php
  Sources/Config.php
  Sources/Subs-Compat.php
  other/upgrade.php
Labels: Upgrader, Background tasks

#8442 Makes Actions\Moderation\Main::checkAccessPermissions() public again
  Sources/Actions/Moderation/Main.php
Labels: Moderation

#8437 Fixes some upgrader errors
  Sources/Actions/Admin/Smileys.php
  Sources/Actions/Display.php
  Sources/Actions/Moderation/ReportedContent.php
  Sources/Calendar/Event.php
  Sources/Calendar/RecurrenceIterator.php
  Sources/Config.php
  Sources/Tasks/ExportProfileData.php
  other/install.php
  other/upgrade.php
  other/upgrade_1-0.sql
  other/upgrade_1-1.sql
  other/upgrade_2-0_MySQL.sql
  other/upgrade_2-0_PostgreSQL.sql
  other/upgrade_2-1_MySQL.sql
  other/upgrade_2-1_PostgreSQL.sql
Labels: Upgrader

#7882 [3.0] Implement a Mail Agent
  Sources/Actions/Admin/Mail.php
  Sources/Mail.php
  Sources/MailAgent/APIs/SMTP.php
  Sources/MailAgent/APIs/SMTPTLS.php
  Sources/MailAgent/APIs/SendMail.php
  Sources/MailAgent/APIs/index.php
  Sources/MailAgent/MailAgent.php
  Sources/MailAgent/MailAgentInterface.php
  Sources/MailAgent/index.php
  other/upgrade_3-0_MySQL.sql
  other/upgrade_3-0_PostgreSQL.sql
Labels: Mail

#8431 [3.0] Adds ability to anonymize accounts upon deletion
  Languages/en_US/Admin.php
  Languages/en_US/Help.php
  Languages/en_US/ManageMembers.php
  Languages/en_US/Profile.php
  Sources/Actions/Admin/ACP.php
  Sources/Actions/Admin/Find.php
  Sources/Actions/Admin/Maintenance.php
  Sources/Actions/Admin/Members.php
  Sources/Actions/Login2.php
  Sources/Actions/Profile/Activate.php
  Sources/Actions/Profile/Delete.php
  Sources/Actions/Profile/Main.php
  Sources/Actions/Profile/Summary.php
  Sources/Logging.php
  Sources/PersonalMessage/PM.php
  Sources/User.php
  Themes/default/ManageMaintenance.template.php
  Themes/default/Profile.template.php
  Themes/default/css/index.css
Labels: Compliance

#7824 Fix attachment names with html entities.
  Sources/ShowAttachments.php
Labels: Attachments

#8460 Remove any trailing slashes from directory path during theme install
  Sources/Themes.php
Labels: Minor Bug, Theme

#8463 Fixes typo that prevented registration
  Sources/Actions/Register.php
Labels: Registration

#8457 Handles empty conversations in PersonalMessage\Folder::showConversation()
  Sources/PersonalMessage/Folder.php
Labels: PM

#8465 [3.0] Fixes bugs when saving PM settings
  Sources/Actions/PersonalMessage.php
  Sources/Profile.php
Labels: PM

#8466 [3.0] Fixes bug showing newsletter PMs to the author
  Sources/PersonalMessage/Conversation.php
  Sources/PersonalMessage/Folder.php
  Sources/PersonalMessage/PM.php
Labels: PM

#8464 [3.0] Password improvements
  .php-cs-fixer.dist.php
  Languages/en_US/Errors.php
  Languages/en_US/Help.php
  Languages/en_US/ManageSettings.php
  Languages/en_US/Profile.php
  Sources/Actions/Activate.php
  Sources/Actions/Admin/Members.php
  Sources/Actions/Login2.php
  Sources/Actions/LoginTFA.php
  Sources/Actions/Profile/Main.php
  Sources/Actions/Profile/TFASetup.php
  Sources/Actions/Register2.php
  Sources/Actions/Reminder.php
  Sources/Autoloader.php
  Sources/Profile.php
  Sources/Security.php
  Sources/ServerSideIncludes.php
  Sources/Subs-Compat.php
  Sources/User.php
  Sources/ZxcvbnPhp/Feedback.php
  Sources/ZxcvbnPhp/Matcher.php
  Sources/ZxcvbnPhp/Matchers/BaseMatch.php
  Sources/ZxcvbnPhp/Matchers/Bruteforce.php
  Sources/ZxcvbnPhp/Matchers/DateMatch.php
  Sources/ZxcvbnPhp/Matchers/DictionaryMatch.php
  Sources/ZxcvbnPhp/Matchers/L33tMatch.php
  Sources/ZxcvbnPhp/Matchers/MatchInterface.php
  Sources/ZxcvbnPhp/Matchers/RepeatMatch.php
  Sources/ZxcvbnPhp/Matchers/ReverseDictionaryMatch.php
  Sources/ZxcvbnPhp/Matchers/SequenceMatch.php
  Sources/ZxcvbnPhp/Matchers/SpatialMatch.php
  Sources/ZxcvbnPhp/Matchers/YearMatch.php
  Sources/ZxcvbnPhp/Matchers/adjacency_graphs.json
  Sources/ZxcvbnPhp/Matchers/frequency_lists.json
  Sources/ZxcvbnPhp/Matchers/index.php
  Sources/ZxcvbnPhp/Math/Binomial.php
  Sources/ZxcvbnPhp/Math/BinomialProvider.php
  Sources/ZxcvbnPhp/Math/Impl/AbstractBinomialProvider.php
  Sources/ZxcvbnPhp/Math/Impl/AbstractBinomialProviderWithFallback.php
  Sources/ZxcvbnPhp/Math/Impl/BinomialProviderFloat64.php
  Sources/ZxcvbnPhp/Math/Impl/BinomialProviderInt64.php
  Sources/ZxcvbnPhp/Math/Impl/BinomialProviderPhp73Gmp.php
  Sources/ZxcvbnPhp/Math/Impl/index.php
  Sources/ZxcvbnPhp/Math/index.php
  Sources/ZxcvbnPhp/Scorer.php
  Sources/ZxcvbnPhp/TimeEstimator.php
  Sources/ZxcvbnPhp/Zxcvbn.php
  Sources/ZxcvbnPhp/index.php
  Themes/default/Profile.template.php
  other/install.php
  other/upgrade.php
Labels: Passwords

#8459 [3.0] Returns correct search results when post moderation is enabled
  Sources/Search/SearchApi.php
  other/install_3-0_MySQL.sql
  other/install_3-0_PostgreSQL.sql
  other/upgrade_3-0_MySQL.sql
  other/upgrade_3-0_PostgreSQL.sql
Labels: Search

#8458 [2.1] Returns correct search results when post moderation is enabled
  Sources/Search.php
  other/install_2-1_mysql.sql
  other/install_2-1_postgresql.sql
  other/upgrade_2-1_mysql.sql
  other/upgrade_2-1_postgresql.sql
Labels: Search

#8483 [3.0] Fixes some backward compatibility issues
  Sources/Actions/Activate.php
  Sources/Actions/Admin/Attachments.php
  Sources/Actions/Admin/Bans.php
  Sources/Actions/Admin/Boards.php
  Sources/Actions/Admin/Calendar.php
  Sources/Actions/Admin/Features.php
  Sources/Actions/Admin/Find.php
  Sources/Actions/Admin/Languages.php
  Sources/Actions/Admin/Logs.php
  Sources/Actions/Admin/Mail.php
  Sources/Actions/Admin/Maintenance.php
  Sources/Actions/Admin/Membergroups.php
  Sources/Actions/Admin/Members.php
  Sources/Actions/Admin/Mods.php
  Sources/Actions/Admin/Permissions.php
  Sources/Actions/Admin/Posts.php
  Sources/Actions/Admin/Registration.php
  Sources/Actions/Admin/Reports.php
  Sources/Actions/Admin/Search.php
  Sources/Actions/Admin/SearchEngines.php
  Sources/Actions/Admin/Server.php
  Sources/Actions/Admin/Smileys.php
  Sources/Actions/Admin/Subscriptions.php
  Sources/Actions/Admin/Tasks.php
  Sources/Actions/Admin/Themes.php
  Sources/Actions/Announce.php
  Sources/Actions/Calendar.php
  Sources/Actions/Groups.php
  Sources/Actions/Help.php
  Sources/Actions/Login2.php
  Sources/Actions/MarkRead.php
  Sources/Actions/Memberlist.php
  Sources/Actions/Moderation/Groups.php
  Sources/Actions/Moderation/Logs.php
  Sources/Actions/Moderation/Main.php
  Sources/Actions/Moderation/Posts.php
  Sources/Actions/Moderation/ReportedContent.php
  Sources/Actions/Moderation/Warnings.php
  Sources/Actions/PersonalMessage.php
  Sources/Actions/Post.php
  Sources/Actions/Post2.php
  Sources/Actions/Profile/BuddyIgnoreLists.php
  Sources/Actions/Profile/Notification.php
  Sources/Actions/Profile/ShowPosts.php
  Sources/Actions/Profile/Tracking.php
  Sources/Actions/Register.php
  Sources/Actions/Reminder.php
  Sources/Actions/ReportToMod.php
  Sources/Actions/TopicMerge.php
  Sources/Actions/TopicSplit.php
  Sources/Actions/XmlHttp.php
  Sources/ArrayAccessHelper.php
  Sources/Parsers/BBCodeParser.php
  Sources/Subs-Compat.php
Labels: Backward compatibility
