Repository SimpleMachines/SMF, pull requests merged in 2025-08, with the labels that each got.

#8805 [2.1] Upgrader should fall back to lang_character_set
  other/upgrade.php
Labels: Upgrader, Charset/Encoding

#8807 [3.0] Add constants for insert return mode
  Sources/Actions/Admin/RepairBoards.php
  Sources/Actions/Admin/Smileys.php
  Sources/Actions/Admin/Subscriptions.php
  Sources/Actions/Moderation/ReportedContent.php
  Sources/Actions/Profile/IssueWarning.php
  Sources/Actions/Register2.php
  Sources/Actions/ReportToMod.php
  Sources/Actions/TopicSplit.php
  Sources/Alert.php
  Sources/Attachment.php
  Sources/Board.php
  Sources/Calendar/Event.php
  Sources/Category.php
  Sources/Db/APIs/MySQL.php
  Sources/Db/APIs/PostgreSQL.php
  Sources/Db/DatabaseApi.php
  Sources/Db/DatabaseApiInterface.php
  Sources/Db/Schema/Table.php
  Sources/Draft.php
  Sources/Group.php
  Sources/Logging.php
  Sources/Maintenance/Tools/Install.php
  Sources/Msg.php
  Sources/Permissions/PermissionProfile.php
  Sources/PersonalMessage/PM.php
  Sources/PersonalMessage/Rule.php
  Sources/Poll.php
  Sources/Profile.php
  Sources/Search/APIs/Parsed.php
  Sources/Topic.php
Labels: Housekeeping

#8836 [3.0] Fatal error due to class not matching interface
  Sources/Db/APIs/MySQL.php
  Sources/Db/APIs/PostgreSQL.php
Labels: Regression

#8830 [3.0] Regular users could not edit own profile
  Sources/Actions/Profile/Main.php
  Sources/Menu.php
Labels: Serious Bug, Profile Fields, Regression

#8844 Improves performance in Lang::txtExists() && Lang::getTxt(), plus other fixes
  Sources/Actions/Admin/ACP.php
  Sources/Actions/Admin/Find.php
  Sources/Actions/Moderation/Main.php
  Sources/Actions/Profile/Main.php
  Sources/Lang.php
  Sources/Mail.php
  Sources/Menu.php
  Sources/Parsers/BBCodeParser.php
Labels: Search, Localization, Administrative

#8827 [3.0] Refactors SMF\Board::save()
  Sources/Board.php
  Sources/Group.php
  Sources/Msg.php
  Sources/PackageManager/PackageUtils.php
  Sources/Topic.php
Labels: Posting, Administrative

#8834 [2.1] truncate long UTF-8 words safely
  Sources/Load.php
Labels: Charset/Encoding

#8840 [3.0] Fix unparsed text warning while posting
  Sources/Actions/Post.php
Labels: Posting, Localization

#8846 Protects strings set by Lang::setTxt() from being overwritten
  Sources/Lang.php
Labels: Localization

#8845 [3.0] Various fixes
  Sources/Actions/BoardIndex.php
  Sources/Actions/Calendar.php
  Sources/Autoloader.php
  Sources/Board.php
  Sources/Cache/APIs/Postgres.php
  Sources/Db/APIs/MySQL.php
  Sources/Db/APIs/PostgreSQL.php
  Sources/Db/DatabaseApi.php
  Sources/Permissions/UserPermissionSet.php
  Sources/Subs-Compat.php
  Sources/Theme.php
  Sources/Uuid.php
Labels: Minor Bug

#8849 QueryString::ob_sessrewrite() no longer exists
  Sources/ServerSideIncludes.php
Labels: SSI

#8851 [3.0] Minor adjustment to AsciiTransliterator data
  Sources/Localization/AsciiTransliterator.php
  Sources/Localization/data/AsciiTransliteration_0002.php
  Sources/Localization/data/AsciiTransliteration_0006.php
  Sources/Localization/data/AsciiTransliteration_0018.php
  Sources/Localization/data/AsciiTransliteration_0019.php
  Sources/Localization/data/AsciiTransliteration_0045.php
  Sources/Localization/data/AsciiTransliteration_0251.php
Labels: Localization

#8835 [3.0] Caching with latest posts causes error
  Sources/Actions/BoardIndex.php
Labels: Minor Bug

#8852 [3.0] Misc fixes
  Languages/en_US/Maintenance.php
  Sources/Forum.php
  Sources/Localization/MessageFormatter.php
  Sources/Maintenance/Tools/Install.php
  Sources/Maintenance/Tools/Upgrade.php
  Sources/ServerSideIncludes.php
  Sources/Tasks/ExportProfileData.php
Labels: Installer, Upgrader, Background tasks, Localization

#8838 [2.1] Fix quotes in names for mention handling
  Sources/Mentions.php
  Themes/default/scripts/mentions.js
Labels: Mentions

#8854 Fixes wrong permission name in SMF\Actions\Moderation\Posts::posts()
  Sources/Actions/Moderation/Posts.php
Labels: Moderation, Permissions

#8857 [3.0] Changes type of backtrace col of log_errors table from VARCHAR to TEXT
  Languages/en_US/ManageMaintenance.php
  Sources/Db/APIs/MySQL.php
  Sources/Db/APIs/PostgreSQL.php
  Sources/Db/Schema/v3_0/LogErrors.php
Labels: Database

#8833 [2.1] Users couldn't toggle word censor if the admin allowed it
  Sources/Profile-Modify.php
  Themes/default/Settings.template.php
Labels: Profile Fields

#8831 [3.0] Users couldn't toggle word censor if the admin allowed it
  Themes/default/Settings.template.php
Labels: Profile Fields

#8780 [3.0] Adds edit history support for posts, registration agreement, and privacy policy
  Languages/en_US/Agreement.php
  Languages/en_US/General.php
  Sources/Actions/Admin/Registration.php
  Sources/Actions/Agreement.php
  Sources/Actions/JavaScriptModify.php
  Sources/Actions/Post2.php
  Sources/Actions/ShowMsgHistory.php
  Sources/Db/Schema/v3_0/Messages.php
  Sources/Diff/Diff.php
  Sources/Diff/EditDiff.php
  Sources/Forum.php
  Sources/Maintenance/Migration/v3_0/ConvertToInnoDb.php
  Sources/Maintenance/Migration/v3_0/EditHistory.php
  Sources/Maintenance/Migration/v3_0/LanguageDirectory.php
  Sources/Maintenance/Tools/Upgrade.php
  Sources/Msg.php
  Sources/Tasks/AnonymizeEditHistory.php
  Sources/User.php
  Themes/default/Agreement.template.php
  Themes/default/Display.template.php
  Themes/default/EditHistory.template.php
  Themes/default/Register.template.php
  Themes/default/css/admin.css
  Themes/default/css/index.css
  Themes/default/css/markdown.css
  Themes/default/scripts/script.js
Labels: New feature, Installer, Upgrader, Posting, Compliance, Registration, Administrative

#8876 [3.0] Fixes missing language string in profile menu
  Languages/en_US/Drafts.php
  Languages/en_US/Profile.php
  Sources/Actions/Profile/Main.php
Labels: Localization

#8877 [3.0] Improves pacman error messages regarding invalid packages
  Sources/PackageManager/PackageUtils.php
Labels: Package Manager, Localization

#8885 Remove string evaluations
  Themes/default/Admin.template.php
  Themes/default/Calendar.template.php
  Themes/default/Display.template.php
  Themes/default/GenericControls.template.php
  Themes/default/ManageAttachments.template.php
  Themes/default/ManageBans.template.php
  Themes/default/ManageBoards.template.php
  Themes/default/ManageMembergroups.template.php
  Themes/default/ManageNews.template.php
  Themes/default/ManagePaid.template.php
  Themes/default/ManageSearch.template.php
  Themes/default/Packages.template.php
  Themes/default/PersonalMessage.template.php
  Themes/default/Post.template.php
  Themes/default/Profile.template.php
  Themes/default/Search.template.php
  Themes/default/scripts/PersonalMessage.js
  Themes/default/scripts/admin.js
  Themes/default/scripts/captcha.js
  Themes/default/scripts/drafts.js
  Themes/default/scripts/script.js
  Themes/default/scripts/suggest.js
  Themes/default/scripts/theme.js
  Themes/default/scripts/topic.js
Labels: JavaScript, Housekeeping

#8889 [3.0] Increase the size of data allowed in admin_info_files
  Sources/Tasks/FetchSMFiles.php
Labels: Scheduled Tasks

#8888 [3.0] Upgrader fixes
  Sources/Db/Schema/Table.php
  Sources/Maintenance/Migration/v3_0/ConvertToInnoDb.php
  Sources/Maintenance/Migration/v3_0/EditHistory.php
  Sources/Maintenance/Migration/v3_0/HolidaysToEvents.php
  Sources/Maintenance/Migration/v3_0/SearchResultsPrimaryKey.php
  Sources/Maintenance/Tools/Upgrade.php
Labels: Upgrader

#8896 [2.1] Uses simple forms of url, iurl, and email BBC when possible in editor
  Themes/default/scripts/jquery.sceditor.smf.js
Labels: Editor

#8899 [2.1] Silently aborts profile export if specified member does not exist
  Sources/tasks/ExportProfileData.php
Labels: Background tasks, Exports

#8806 [2.1] Fix notifications for new posts
  Sources/tasks/CreatePost-Notify.php
Labels: Notifications

#8902 [2.1] Unparses iurl links correctly
  Sources/Subs-Editor.php
Labels: Minor Bug, Parsers (BBC/Markdown)

#8903 [3.0] Unparses iurl links correctly
  Sources/Parsers/BBCodeParser.php
Labels: Minor Bug, Parsers (BBC/Markdown)

#8901 [3.0] Fixes some upgrader issues
  Sources/Db/APIs/PostgreSQL.php
  Sources/Db/Schema/v3_0/Messages.php
  Sources/Lang.php
  Sources/Maintenance/Migration/v2_1/ThemeSettings.php
  Sources/Tasks/Utf8EntityDecode.php
Labels: Upgrader, PostgreSQL, Localization, Charset/Encoding
