Repository SimpleMachines/SMF, pull requests merged in 2025-06, with the labels that each got.

#8662 Improves SMF\Localization\MessageFormater::getPluralizationCategory()
  Sources/Localization/MessageFormatter.php
Labels: Localization

#8667 Fixes detection of duplicate BBCodes in BBCodeParser::integrateBBC()
  Sources/BBCode/GenericBBCode.php
  Sources/Parsers/BBCodeParser.php
Labels: BBC

#8669 Uses Config::safeFileWrite() for bulletproofing in UpdateUnicode task
  Sources/Tasks/UpdateUnicode.php
Labels: Background tasks

#8671 Fixes regex to check for embedded PHP tags in SVG content
  Sources/Subs-Graphics.php
Labels: Attachments

#8673 Fixes case of function name
  Sources/Subs-Attachments.php
Labels: Attachments

#8674 Fixes implicit nullable type declarations to make PHP 8.4 happy
  Sources/Subs.php
Labels: PHP version support

#8675 PHP 8.4 compatibility
  .github/workflows/php.yml
  Sources/ReCaptcha/ReCaptcha.php
  Sources/ReCaptcha/RequestMethod/CurlPost.php
  Sources/ReCaptcha/RequestMethod/SocketPost.php
  other/install.php
  other/requirements.md
  other/upgrade.php
Labels: PHP version support, Meta

#8678 Fixes regex to check for embedded PHP tags in SVG content (again)
  Sources/Subs-Graphics.php
Labels: Attachments

#8679 Fixes regex to check for embedded PHP tags in SVG content again
  Sources/Graphics/Image.php
Labels: Attachments

#8680 PHP 8.4 syntax checks and compatibility tweaks
  .github/workflows/php.yml
  Sources/ReCaptcha/ReCaptcha.php
Labels: PHP version support, Meta

#8690 Fixes "Undefined variable $sid" errors
  Sources/QueryString.php
  Sources/Subs.php
Labels: Cookies

#8691 Fixes GROUP BY error when searching in topic on MariaDB
  Sources/Search.php
Labels: Search, Database

#8701 [2.1] Ensure code exists
  Sources/Register.php
Labels: Anti-spam

#8699 [2.1] Ensure we use a members display name not username for posts
  Sources/Post.php
Labels: Posting

#8698 Alerts popup does not produce XML output
  Sources/Actions/Profile/Main.php
Labels: Minor Bug

#8705 Fixes bugs in User::getAllowedTo() and Group::getAllWithPermissions()
  Sources/Group.php
  Sources/User.php
Labels: Permissions

#8706 Forwarding #8237
  Sources/PackageManager/XmlArray.php
Labels: Package Manager
