Repository SimpleMachines/SMF, pull requests merged in 2025-01, with the labels that each got.

#8389 Fixes undefined array key errors when modifying a message
  Sources/Msg.php
Labels: Posting

#8381 Add ability to add multiple sub-templates
  Sources/Theme.php
  Sources/Utils.php
Labels: Theme

#8382 [3.0] Automatically populate robots.txt
  Languages/en_US/Help.php
  Languages/en_US/Search.php
  Sources/Actions/Admin/SearchEngines.php
Labels: Standards & Protocols

#8401 [3.0] GitHub Action to Update Year in Files
  .github/workflows/update-year.yml
Labels: Meta

#8400 [2.1] GitHub Action to Update Year in Files
  .github/workflows/update-year.yml
Labels: Meta

#8411 Always compares in UTC in SMF\Calendar\RecurrenceIterator::calculate()
  Sources/Calendar/RecurrenceIterator.php
Labels: Calendar

#8369 Send account approval notification when approved from profile action
  Sources/Actions/Profile/Activate.php
Labels: Registration, Administrative

#8303 Initial requirements for 3.0
  other/requirements.md
Labels: Meta
