Repository SimpleMachines/SMF, pull requests merged in 2025-03, with the labels that each got.

#8494 [3.0] Uses UUIDs in exported data in SMF\Actions\Feed
  Sources/Actions/Feed.php
Labels: Web feeds

#8496 Applies PHP-CS-Fixer to ./Languages and ./Sources/Unicode
  .php-cs-fixer.dist.php
  Sources/Tasks/UpdateUnicode.php
  Sources/Unicode/Plurals.php
  Sources/Unicode/SpoofDetector.php
Labels: Standards & Protocols, Meta

#8499 Hide calendar heading in theme options when calendar is disabled
  Themes/default/Settings.template.php
Labels: Theme

#8509 [3.0] Lock all actions to a specific version
  .github/workflows/crowdin_wf.yml
  .github/workflows/crowdin_wf_next.yml
  .github/workflows/php-cs-fixer.yml
  .github/workflows/php.yml
  .github/workflows/update-year.yml
Labels: Meta

#8510 [2.1] Lock all actions to a specific version
  .github/workflows/crowdin_wf.yml
  .github/workflows/crowdin_wf_next.yml
  .github/workflows/php.yml
  .github/workflows/update-year.yml
Labels: Meta

#8492 [2.1] Fix mail queue issues
  Sources/ScheduledTasks.php
Labels: Mail, Scheduled Tasks

#8527 [3.0] Uses more reliable ways to stop autocomplete from accidentally clobbering profile data when admin edits other members' profile pages
  Sources/Profile.php
  Themes/default/Profile.template.php
  Themes/default/css/index.css
Labels: Profile Fields

#8528 [3.0] Simplifies handling of member's birthdate in profile templates, etc.
  Languages/en_US/Profile.php
  Sources/Actions/Feed.php
  Sources/Actions/Profile/ForumProfile.php
  Sources/Actions/Profile/Summary.php
  Sources/Profile.php
  Sources/User.php
  Themes/default/Profile.template.php
Labels: Profile Fields

#8537 Only count visible text when deciding to add .large to a popup
  Themes/default/scripts/script.js
Labels: Theme, JavaScript

#8544 Prevents language file loading loop when theme is undefined
  Sources/Lang.php
Labels: Installer, Localization
